</div><!--page-wrap-->
<footer class='main-footer' id='footer'>
    <div class='quick-links navbar container'>
        <div class='navbar-inner'>
            <div class='row-fluid'>
                <div class='span2'>
                    <div class='fb-like pull-left margin-top-10' data-action='like' data-colorscheme='light' data-height='auto' data-href='https://www.facebook.com/iversity.org' data-layout='button_count' data-send='false' data-show-faces='true' data-width='auto'></div>
                </div>
                <div class='span10'>
                    <ul class='nav pull-right'>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
