<div class="container"> 



<section class="span8">
                <div class="col-right">

                    <h4>About</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, elitr nullam ei duo. Duo ut omnes scribentur. <strong>Vim ne quas invidunt intellegam</strong>, quo docendi blandit electram ei, vel ex omittam detracto philosophia. Ei nam reque etiam, possit eripuit ad vel. Aperiri deserunt ea cum. Eam animal principes neglegentur cu, facer audiam forensibus his ex. Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri ullamcorper id. Duo cu <a href="#">tractatos interesset</a>, at usu soluta tibique principes. Ei cum dicam suavitate, eum ex erant homero mandamus, his te albucius platonem mediocritatem. </p>

                    <p>Nec eros iudico labores ut. Id nonumes dolores voluptatibus eam. Ea eum comprehensam mediocritatem, quot splendide in per, moderatius temporibus ne quo. Vix aliquid graecis concludaturque te, no vix justo inani maiorum. Novum minimum qui ex. In cum amet debitis detraxit, cum at altera quodsi, putant explicari reprehendunt in eum.</p>

                    <h5>Your list</h5>
                    <ul class=" list_1">
                        <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
                        <li>Nullam quis risus eget urna mollis ornare vel eu leo.</li>
                        <li>Nullam id dolor id nibh ultricies vehicula ut id elit.</li>
                        <li>Donec id elit non mi porta gravida at eget metus.</li>
                    </ul>
                    <h5>Your list with links</h5>
                    <ul class=" list_3">
                        <li><a href="#">Vivamus sagittis lacus vel augue laoreet </a></li>
                        <li><a href="#">Nullam quis risus eget urna mollis</a></li>
                        <li><a href="#">Nullam id dolor id nibh ultricies</a></li>
                        <li><a href="#">Donec id elit non mi porta</a></li>
                    </ul>

                    <h5>How to apply</h5>
                    <p><a href="#">Agam prima ea ius</a>, nec eros iudico labores ut. Id nonumes dolores voluptatibus eam. Ea eum comprehensam mediocritatem, quot splendide in per, moderatius temporibus ne quo. Vix aliquid graecis concludaturque te, no vix justo inani maiorum. Novum minimum qui ex. In cum amet debitis detraxit, cum at altera quodsi, putant explicari reprehendunt in eum.</p>
                    <hr>


                </div><!-- end col right-->
            </section>



            </div>
