<div id="dashGrid">

	<div class="gridItems one">
		<h3>History of Reponses</h3>
		<div class="chart-container">
    		<canvas id="myChart"></canvas>
  		</div>
	</div>

	<div class="gridItems two">
		<h3>Alerts</h3>
	</div>

	<div class="gridItems three">
		
		<h3>Week Schedule</h3>

		<table class="table">
			<thead>
				<th>Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				
			</thead>

			<tbody>
				<tr>
					<td>Sara</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					
				</tr>

				<tr>
					<td>Alfred</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					
				</tr>

				<tr>
					<td>Rachel</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					
				</tr>

				<tr>
					<td>Diana</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					
				</tr>
			</tbody>
		</table>


	</div>

	<div class="gridItems four">
		
	</div>

	<div class="gridItems five">
		
		<h3>Current Activity</h3>

		<table class="table">

			<thead>	
				<th>Canidates</th>
				<th>Quiz</th>
				<th>Started At</th>
				<th>Questions</th>
				<th>Position</th>
				<th>Status</th>
			</thead>

			<tbody>
				<td>John</td>
				<td>CTX102</td>
				<td>04:00 PM</td>
				<td>50</td>
				<td>0</td>
				<td><span class="status initiated">Initiated</span></td>
			</tbody>

			<tbody>
				<td>Shane</td>
				<td>DMM506</td>
				<td>03:50 PM</td>
				<td>60</td>
				<td>20</td>
				<td><span class="status working">Progress</span></td>
			</tbody>

			<tbody>
				<td>Todd</td>
				<td>MCE219</td>
				<td>03:55 PM</td>
				<td>40</td>
				<td>5</td>
				<td><span class="status working">Progress</span></td>
			</tbody>

			<tbody>
				<td>Mark</td>
				<td>CMT219</td>
				<td>04:00 PM</td>
				<td>70</td>
				<td>5</td>
				<td><span class="status terminated">Terminated</span></td>
			</tbody>

			<tbody>
				<td>James</td>
				<td>ZTM456</td>
				<td>03:30 PM</td>
				<td>50</td>
				<td>50</td>
				<td><span class="status finished">Finished</span></td>
			</tbody>

			<tbody>
				<td>Martha</td>
				<td>CSC201</td>
				<td>3:45 PM</td>
				<td>40</td>
				<td>30</td>
				<td><span class="status working">Progress</span></td>
			</tbody>
			
		</table>


	</div>

	<div class="gridItems six">
		six
	</div>

	<div class="gridItems seven">
		seven
	</div>

	<div class="gridItems eight">
		eight
	</div>

	<div class="gridItems nine">
		nine
	</div>

	<div class="gridItems ten">
		<h3>Top Scores : 2019</h3>

		<table class="table">
			<thead>
				<th>Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				<th>Score</th>
			</thead>

			<tbody>
				<tr>
					<td>Sara</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>92%</td>
				</tr>

				<tr>
					<td>Alfred</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>90%</td>
				</tr>

				<tr>
					<td>Rachel</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>89%</td>
				</tr>

				<tr>
					<td>Diana</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>88%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>87%</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>