<div id="dashGrid">

	<div class="gridItems one">
		<h3>History of Reponses</h3>
		<div class="chart-container">
    		<canvas id="myChart"></canvas>
  		</div>
	</div>

	<div class="gridItems two">
		<h3>Alerts</h3>

		<ul>
			<li>3 Quiz terminated before end</li>
			<li>4 Quiz pushed to offline que</li>
			<li>6 Quiz last date expired</li>
			<li>4 Canidate Scheduled today for quiz</li>
		</ul>
		
	</div>

	<div class="gridItems three">
		
		<h3>Scheduled this week</h3>

		<table class="fixed_header">
			<thead>
				<th>Candidates</th>
				<th>Day / Time</th>
				
			</thead>

			<tbody style="height: 500px">
				<tr ng-repeat="item in vm.weekSchedule">
					<td>
						<a ng-attr-title="{{item.title}}">
							{{item.name}}		
						</a>
					</td>
					
					<td>{{item.at}}</td>
					
				</tr>

			</tbody>
		</table>


	</div>

	<div class="gridItems four">

		<h3>Completed Yestarday</h3>

		<table class="table">
			<thead>
				<th>Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				<th>Score</th>
			</thead>

			<tbody>
				<tr>
					<td>Sara</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>92%</td>
				</tr>

				<tr>
					<td>Alfred</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>90%</td>
				</tr>

				<tr>
					<td>Rachel</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>89%</td>
				</tr>

				<tr>
					<td>Diana</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>88%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>87%</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>

	<div class="gridItems five">


		<div class="grid12Col">

			<div class="gc-first-remain-quater"><h3>Current Activity</h3></div>


			<div class="gc-last-quater align-self-end">
				<i id="actIndicator" class="far fa-lightbulb" ng-class="{'c-warning': vm.currentactivity == false, 'c-blue': vm.currentactivity == true }" style="font-size: 1.3rem"></i>
			</div>
			
		</div>
		
		
		

		

		<div ng-if="!vm.currentactivity">There are no active candiate activities</div>

		<table class="fixed_header" ng-if="vm.currentactivity">

			<thead>	
				<th>Candidates</th>
				<th>Que.</th>
				<th>Ends In</th>
				<th>Marked</th>
				<th>Answered</th>
				<th>Position</th>
				<th>Status</th>
			</thead>

			<tbody style="height: 500px">

				<tr ng-repeat="act in vm.activeCandidates">
				<td ng-attr-title="{{act.title}}">{{act.name}}</td>
				
				<td>{{act.noQues}}</td>
				<td>{{act.remainingTime}} mins</td>
				
				<td>{{act.marked}}</td>
				<td>{{act.answered}}</td>
				<td>{{act.position}}</td>
				
				<td><span class="status working">Progress</span></td>

				</tr>
			</tbody>
			
		</table>


	</div>

	<div class="gridItems six">

		<h3>Completed Last Hour</h3>

		<table class="fixed_header">
			<thead>
				<th>Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				<th>Score</th>
			</thead>

			<tbody style="height: 200px">
				<tr>
					<td>Sara</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>92%</td>
				</tr>

				<tr>
					<td>Alfred</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>90%</td>
				</tr>

				<tr>
					<td>Rachel</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>89%</td>
				</tr>

				<tr>
					<td>Diana</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>88%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>87%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>87%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>4:00 PM</td>
					<td>87%</td>
				</tr>
			</tbody>
		</table>
		
	</div>

	<div class="gridItems seven">

		<h3>Contributors</h3>

		<table class="fixed_header">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Category</th>
      <th>Questions</th>
      
    </tr>
  </thead>
  <tbody style="height: 200px">
    <tr>
      <td>John Smith</td>
      <td>john@domain.com</td>
      <td>Management</td>
      <td>40</td>
      
    </tr>
    
  </tbody>
</table>

		


		
	</div>

	<div class="gridItems eight">
		<h3>Expired Enrollmment</h3>
	</div>

	<div class="gridItems nine">
		<h3>Finished Today</h3>
	</div>

	<div class="gridItems ten">
		<h3>Top Scores : 2019</h3>

		<table class="table">
			<thead>
				<th>Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				<th>Score</th>
			</thead>

			<tbody>
				<tr>
					<td>Sara</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>92%</td>
				</tr>

				<tr>
					<td>Alfred</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>90%</td>
				</tr>

				<tr>
					<td>Rachel</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>89%</td>
				</tr>

				<tr>
					<td>Diana</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>88%</td>
				</tr>

				<tr>
					<td>Shane</td>
					<td>CTS203</td>
					<td>5th May 4:00 PM</td>
					<td>87%</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>