<div id="dashGrid">

	<div class="gridItems one">
		<h3>Indicator</h3>
		<div class="chart-container">
    		<canvas id="myChart"></canvas>
  		</div>
	</div>

	<div class="gridItems two">
		<h3>Alerts</h3>

		<ul>
			<li>3 Quiz terminated before end</li>
			<li>4 Quiz pushed to offline que</li>
			<li>6 Quiz last date expired</li>
			<li>4 Canidate Scheduled today for quiz</li>
		</ul>
		
	</div>

	<div class="gridItems three">
		
		<h3>Enrolled Quizzes <small> - (Unattempted)</small></h3>

		<table class="fixed_header">
			<thead>
				<th>Candidates</th>
				<th>Day / Time</th>
				
			</thead>

			<tbody style="height: 500px">
				<tr ng-repeat="item in vm.weekSchedule">
					<td>
						<a ng-attr-title="{{item.title}}">
							{{item.name}}		
						</a>
					</td>
					
					<td>{{item.at}}</td>
					
				</tr>

			</tbody>
		</table>


	</div>

	

	<div class="gridItems five">


		<div class="grid12Col">

			<div class="gc-first-remain-quater">

				<ul id="tabController">
					<li ng-class="{'active': stage == 1}" ng-click="stage = 1"><h3>Recent Finishes</h3></li>
					<li ng-class="{'active': stage == 2}" ng-click="stage = 2"><h3>Current Activities</h3></li>
				</ul>
				
			</div>


			<div class="gc-last-quater align-self-end">
				<i id="actIndicator" class="far fa-lightbulb" ng-class="{'c-warning': currentactivity == false, 'c-blue': currentactivity == true }" style="font-size: 1.3rem"></i>
			</div>
			
		</div>
		
		

		<div ng-switch on="stage">

			<div ng-if="vm.hasRecentFinished == false">
				<span class="c-pink">No recent finished quiz progress found</span>
			</div>

			<div class="w-100" ng-switch-when="1" ng-if="vm.hasRecentFinished"> 
				
				<table class="fixed_header">
					<thead>
						
					<tr>
						
					<th>quizCode</th>
					<th>Candidate</th>
					
					<th>Dated</th>
					
					<th>score</th>
					<th>Per%</th>
					<th>Result</th>

					</tr>

					</thead>

					<tbody style="height: 500px">

						<tr ng-repeat="item in vm.recentFinished">
							<td ng-attr-title="{{item.title}}">{{item.code}}</td>
							<td>
								<div>{{item.candidateEmail}}</div>
								<div>{{item.candidate}}</div>
							</td>		
							
							<td>
								<div>
									<small>{{item.fmDate}}</small>	
								</div>
								<div>
									<small>{{item.fmTime}}</small>		
								</div>
								
								
							</td>
							
							<td>{{item.obtainedScore | setDecimal:2}}</td>
							<td>{{item.percentageObtained + '%'}}</td>
							<td>
								<span class="status" ng-class="{'terminated': item.resultStatus == 0, 'finished': item.resultStatus == 1 }">
                                      {{ (item.resultStatus == 0) ? 'Fail' : 'Pass'}}
                                  </span>
							</td>
						</tr>		
						

						
					</tbody>
				</table>

			</div>
			


		<div id="currentActivitiesContentWrapper" ng-switch-when="2">

		<div ng-if="currentactivity ==  false" class="c-pink">There are no activities at this moment please check when indicator turns blue</div>

		<table class="fixed_header" ng-if="currentactivity == true">

			<thead>	
				<th>Candidates</th>
				<th title="Total questions required to attempt in quiz">Que.</th>
				<th>Ends In</th>
				<th>Marked</th>
				<th>Answered</th>
				<th>Position</th>
				<th>Status</th>
			</thead>

			<tbody style="height: 500px">

				<tr ng-repeat="act in activeCandidates">
				<td ng-attr-title="{{act.title}}">{{act.name}}</td>
				
				<td>{{act.noQues}}</td>
				<td>{{act.remainingTime}} mins</td>
				
				<td>{{act.marked}}</td>
				<td>{{act.answered}}</td>
				<td>{{act.position}}</td>
				
				<td><span class="status working">Progress</span> 


					<a href="#" class="static-link" ng-click="vm.clearActivity(act.attemptID)">&nbsp;<i class="fal fa-times-circle c-red vam"></i></a>

					
				</td>

				</tr>
			</tbody>
			
		</table>

	</div><!-- currentActivities Contents Wrapper -->


	</div> <!-- The overall Stage Tab swither -->


	</div>

	<div class="gridItems six">

		<h3>Top gained percentage</h3>

		<table class="fixed_header" ng-if="vm.topPerformer == true">
			<thead>
				<th style="width: 400px">Candidate</th>
				<th>Quiz</th>
				<th>Date/Time</th>
				<th>Per%</th>
			</thead>

			<tbody style="height: 700px">
				<tr ng-repeat="item in vm.topScorerList">
					<td ng-attr-title="{{item.candidate}}">{{item.candidateEmail}}</td>
					<td ng-attr-title="{{item.title}}">{{item.code}}</td>
					<td><small>{{item.fmDate}}</small></td>
					<td>{{item.percentageObtained}}</td>
				</tr>

			</tbody>
		</table>
		
	</div>




	
	
</div>