<section class="span9">
            <div class="col-right">
                
                <div class="row">
                    <div class="span4">
                        <h3>Quiz</h3>
                    </div>
                    <div class="span4">
                        <a ui-sref="dash.addQuiz()" class="btn pull-right btn-icon btn-success graphic-plus" title="Add Lesson">Add New Quiz</a>
                    </div>
                </div>


                <div ng-if="vm.loadingStatus == null"> Loading Quiz </div>

                <div ng-if="vm.loadingStatus == false" class="c-red"> You do not have any quiz at the moment </div>

                

                <table class="table" ng-if="vm.loadingStatus == true">



                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Quiz Title</th>
                        <th>Min / Max </th>
                        <th>Duration</th>
                        <th>Enrollment</th>
                        <th>Status</th>
                        <th>&nbsp;</th>

                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="item in vm.dataList">

                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.minScore}} / {{item.maxScore}}</td>
                        <td>{{item.duration}} mins.</td>
                        <td>
                        



                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.enrollment" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.enrollment == '1'" ng-change="vm.toggleEnroll(item.id, item.enrollment)">
                                <span></span>
                              </label>
                            </span>



                        </td>
                        <td>
                        


                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.status" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.status == '1'" ng-change="vm.statusToggle(item.id, item.status)">
                                <span></span>
                              </label>
                            </span>

                        </td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-twitter btn-icon graphic-chevron-bottom" href="#"
                                   data-toggle="dropdown">Menu</a>

                                <ul class="dropdown-menu">
                                    <li><a ui-sref="exm.exam({'examID': item.id})"> - Details </a>
                                    <li class=""><a ui-sref="exm.quizQuestions({'examID': item.id})"> - Questions</a></li>
                                    <li class=""><a ui-sref="exm.enroll({'examID': item.id})"> - Enrollment </a></li>
                                    <li><a href="modify-date-time.php"><i class="icon-time"></i>Modify Date/Time</a>
                                    <li><a ui-sref="exm.editQuiz()"><i class="icon-gears"></i>Manage Quiz</a></li>
                                    <li><a ui-sref="exm.quizWeightDistro({'examID': item.id})"><i class="icon-gears"></i>Weight Distribution</a></li>
                                    <li><a ui-sref="exm.quizOverview()"><i class="icon-zoom-in"></i>Attempts Overview</a></li>

                                </ul>
                            </div>
                        </td>

                    </tr>

                  


                    </tbody>
                </table>


            </div>
            <!-- end col right-->
        </section>