<div id="bg__siteBackgrondImage"></div>


<div id="login__root">
    



            <div class="loginInerWrapper">

            <h3 class="c-green text-center">Quiz Direct Access</h3>


            <div class="grid12Col gap10">

                <div class="gc1-half">

                    <div class="btn btn-primary d-block" ng-click="vm.directAcesslogin()">Login</div>

                    
                    
                </div>

                <div class="gc2-half">
                    <div class="btn btn-warning d-block">Register</div>
                </div>
                
            </div>



            </div> <!-- login inner wrapper -->



            </div>



    

        

        