<div class="container">
	<div class="row">

        <div class="span3">&nbsp;</div>

		<div class="span6 auth__root" style="border: 1px solid #ddd; margin-top: 50px;">

			<div id="login-link">

    <div class="modal-header modal-header-login">
        
        <h3 id="myModalLabel c-red">Forget Password</h3>
        
    </div>

    <div class="modal-body">

        

        <form role="form" class="form" action="#" method="post">
            

            <div class="control-group email required">
                <div class="controls">
                    <div class="floatlabel-wrapper">
                        <input class="string email required input-xxlarge floatlabel" data-bvalidator="required, email" id="session_email1" name="session[email]" placeholder="Email" size="50" type="email"></div>
                </div>
            </div>
            <div class="control-group password required">
                <div class="controls">
                    
                </div>

            <div class="row-fluid">
                <div class="span6">
                    <a ui-sref="ua.login()" data-dismiss="modal" data-toggle="modal" data-target="#forget-link" class="c-green">Login?</a>
                </div>
                <div class="span6">
                    <button class="btn btn-success graphic-chevron-right btn-icon d-block" data-disable-with="Login" type="submit "> Send </button>
                </div>

    </div>
</form>
            </div>
</div>

		</div>


        <div class="span3">&nbsp;</div>
		
	</div>
</div>


