<header class="promo-header" style="height: 841px;">

    <div class="container">
        <div class="row-fluid">
            <div class="span12 t-center">
                <div class="header-box">
                    <h1>Study Anywhere </h1>
                    <h2>Take online courses from inspiring professors!</h2>
                    <a href="courses.php" class="btn btn-primary btn-icon graphic-chevron-right margin-top-50">See all Exams
                    </a></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 t-center">
                <a class="scroll-to-content" href="#scroll-to-here">
                    <i class="icon-chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<div class='index-content'>
    <div class='partners promo-section'>
        <div class='container'>
            <div class='row-fluid'>
                <div class='span12'>
                    <h1 class='c-neutral'>
                        Partners
                    </h1>
                    <ul class='list-none'>
                        <li><img alt="Eucommission" ng-src="{{'assets/images/partners/euc.png'}}" /></li>
                        <li><img alt="Ocw" src="assets/images/partners/ocw.gif" /></li>
                        <li><img alt="Ministry" src="assets/images/partners/ministry.png" /></li>
                        <li><img alt="Stifterverband" src="assets/images/partners/stifterverband.jpg" /></li>
                        <li><img alt="Exist" src="assets/images/partners/exist.png" /></li>
                        <li><img alt="Esf" src="assets/images/partners/esf.png" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <a name='scroll-to-here' id="scroll-target"></a>
    <div class='how-work promo-section'>
        <div class='container'>
            <div class='section-heading margin-bottom-40'>
                <h1>How does it <span class='c-green'>work?</span></h1>
                <p>Learning with us is easy - you just need a computer and an internet connection.<br>Watch videos, discuss with your peers and take quizzes and exams.</p>
            </div>
            <div class='row-fluid'>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='icon-film'></i>
                    </div>
                    <h3 class='clear-both'>Watch <span class='c-green'>videos</span></h3>
                    <p>Watch the lecture videos and learn from great content! Follow the course as instrutors releases new contents. </p>
                </div>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='icon-download'></i>
                    </div>
                    <h3 class='clear-both'><span class='c-green'>Download</span></h3>
                    <p>Lessons are also available via download in document format</p>
                </div>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='icon-file-text-alt'></i>
                    </div>
                    <h3 class='clear-both'><span class='c-green'>Quizzes</span> & <span class='c-green'>Exams</span></h3>
                    <p>Your professor will design interactive quizzes to complete during the course. This instant feedback will supercharge your learning!</p>
                </div>
            </div>
            <div class='row-fluid margin-top-30'>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='icon-globe'></i>
                    </div>
                    <h3 class='clear-both'>Study <span class='c-green'>Anywhere</span></h3>
                    <p>All you need is an internet connection and a computer to study with us – it's that simple. Join the online learning revolution!</p>
                </div>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='icon-bookmark-empty'></i>
                    </div>
                    <h3 class='clear-both'><span class='c-green'>Certificate</span></h3>
                    <p>Complete the course and get your certificate. Show it to friends, employers and others! Click <a href='/pages/support#anker3'>here</a> for more information.</p>
                </div>
                <div class='span4'>
                    <div class='responsive-circle'>
                        <i class='free-text'>
                            FREE
                        </i>
                    </div>
                    <h3 class='clear-both'><span class='c-green'>Free!</span></h3>
                    <p>You can participate, watch the videos and follow the course for free. Get a free statement of participation with your name on it.</p>
                </div>
            </div>
            <a href="courses.php" class="btn btn-primary btn-icon graphic-chevron-right margin-top-50">See all courses
            </a></div>
    </div>
    <div class='press-landing promo-section'>
        <div class='container'>
            <div class='section-heading margin-bottom-40'>
                <h1>What others are <span class='c-yellow'>saying</span></h1>
            </div>
            <div class='row-fluid'>
                <div class='span12'>
                    <p class='clear-both first'>
                        <i class='icon-quote-left'></i>
                        &quot;I believe that online education will be an important building block of teaching in the future. (...) I see great potential in having the opportunity to learn no matter where you are. You don’t need to be in school or in a lecture hall of a university anymore and therefore I believe that this will dramatically change our lives.&quot;
                    <p class='author'>
                        Dr. Angela Merkel<br> Chancellor of the Federal Republic of Germany interviewed by Marcus Riecke
                    </p>
                    </p>
                </div>
            </div>
            <div class='row-fluid students margin-top-30'>
                <div class='span4'>
                    <img alt="Quote_claudio" src="images/thumhold/259x259.gif" class="img-circle"/>
                    <p>Online courses have become one of these small, but really important chances for me. Online studies are one of these precious seeds that start a real change in the world. </p>
                    <p class='author'>Nadiyka Gerbish<br>Ukraine</p>
                </div>
                <div class='span4'>
                    <img alt="Quote_claudio" src="images/thumhold/259x259.gif" class="img-circle"/>
                    <p>Microbiology is my dream subject. Learning the course “DNA - From Structure to Therapy” with has made my dream come true-I am loving it.</p>
                    <p class='author'>Sagar Aryal<br>
                        Nepal</p>
                </div>
                <div class='span4'>
                    <img alt="Quote_claudio" src="images/thumhold/259x259.gif" class="img-circle"/>
                    <p>Online course has changed the way I view the responsibilities of educational institutes everywhere in providing world-class and accessible education. </p>
                    <p class='author'>Claudio Rodriguez Valdes<br>
                        Germany</p>
                </div>
            </div>
        </div>
    </div>

</div>
