<div class="container">
	<div class="row">

        <div class="span3">&nbsp;</div>

		<div class="span6 auth__root" style="border: 1px solid #ddd; margin-top: 50px;">

			<div id="login-link">

    <div class="modal-header modal-header-login">
        
        <h3 id="myModalLabel">Login</h3>
        
    </div>

    <div class="modal-body">

        

        <form role="form" class="floatable" method="post">


            <div class="field-wrap">

                <div class="field-wrap">
                    <input type="text" name="password" class="float-field w-100" ng-model="vm.creds.email" required>
                    <label class="placeholder">email</label>
                </div>         
            </div>


            <div class="field-wrap">
                    <input type="password" name="password" class="float-field w-100" ng-model="vm.creds.password" required>
                    <label class="placeholder">password</label>
               </div>
            

            

            <div class="row-fluid">

                <div class="span6">
                    <a ui-sref="ua.forget()" data-dismiss="modal" data-toggle="modal" data-target="#forget-link" class="c-red">Forgot password?</a>
                </div>

                <div class="span6">
                    <button class="btn btn-primary graphic-chevron-right btn-icon d-block" data-disable-with="Login" ng-click="vm.login()"> Login </button>
                </div>

            </div>
</form>



            </div>
</div>

		</div>


        <div class="span3">&nbsp;</div>
		
	</div>
</div>


