<div id="bg__siteBackgrondImage"></div>


<div id="login__root">
    



            <div class="loginInerWrapper">
                
            


            <h1 class="c-grey">Login</h1>


            <form name="loginForm" role="form" class="floatable" method="post">


            <div class="field-wrap">

                
                    <input type="email" name="loginEmail" class="float-field w-100" ng-model="vm.creds.email" required>
                    <label class="placeholder">email</label>
   
            </div>


            <div class="field-wrap">
                    <input type="password" name="loginPassword" class="float-field w-100" ng-model="vm.creds.password" required>
                    <label class="placeholder">password</label>


               </div>
            

            

            <div class="row-fluid">

                <div class="span6">
                    <a ui-sref="ua.forget()"  class="btn btn-danger btn-mini">Forgot password</a>
                </div>

                <div class="span6">
                    <button ng-disabled="loginForm.$invalid" class="btn btn-primary graphic-chevron-right btn-icon d-block" data-disable-with="Login" ng-click="vm.login()"> Login </button>
                </div>

            </div>
            </form>




            </div> <!-- login inner wrapper -->



            </div>



    

        

        