<section class="bg-white border-all">

<div>
          checkmate
          <span permissions="['user-add']"> user can add users  </span>
        </div>


<p ng-repeat="data in vm.dataList"><a href="#" class="btn btn-twitter btn-mini" ng-click="vm.launchModal($index)">{{data.email}}</a></p>
	  <div class="cst-modal-container" ng-if="vm.modalOpen">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        <span style="font-weight: 600">Modal Test</span>

		<i class="fas fa-times pull-right" ng-click="vm.modalOpen = false"></i>

      </div>
      <div class="cst-modal-body">

        <p>Email : {{vm.modalData.email}}</p>
      	
        <button class="btn btn-mini btn-success">Yes</button>
        <button class="btn btn-mini btn-danger">No</button>

      </div>



      
      
    </div>
  </div> <!-- quiz modal container -->



  <p> Testing Sound Events</p>  

  <table> 
    <thead> 
      <tr>  
        <td>Event Name</td>
        <td>Trigger Element</td>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td>Nofiy Success</td>
        <td><button class="btn btn-mini btn-success" ng-click="vm.triggetEmit('success')">Emit Succcess</button></td>
      </tr>

      <tr> 
        <td>Nofiy Error</td>
        <td><button class="btn btn-mini btn-danger" ng-click="vm.triggetEmit('error')">Emit Error</button></td>
      </tr>

      <tr> 
        <td>Nofiy Warning</td>
        <td><button class="btn btn-mini btn-warning" ng-click="vm.triggetEmit('warning')">Emit Warning</button></td>
      </tr>

      <tr> 
        <td>Nofiy Info</td>
        <td><button class="btn btn-mini btn-info" ng-click="vm.triggetEmit('info')">Emit Info</button></td>
      </tr>

      <tr> 
        <td>Modal Open</td>
        <td><button class="btn btn-mini btn-default" ng-click="vm.triggetEmit('modal-open')">Modal Open</button></td>
      </tr>

      <tr> 
        <td>Quiz Next</td>
        <td><button class="btn btn-mini btn-default" ng-click="vm.triggetEmit('quiz-next')">Quiz Next</button></td>
      </tr>

      <tr> 
        <td>Quiz Previous</td>
        <td><button class="btn btn-mini btn-default" ng-click="vm.triggetEmit('quiz-prev')">Quiz Previous</button></td>
      </tr>

      <tr> 
        <td>Quiz Timeout</td>
        <td><button class="btn btn-mini btn-default" ng-click="vm.triggetEmit('quiz-timeout')">Quiz Timeout</button></td>
      </tr>

    </tbody>

  </table>


  

  <hr>

  <h3>Start Expermentiong with GRIDS : <i class="fas fa-check"></i></h3>

  <span class="afterMatch">see what happends</span>


  <div class="grid12Col gap10">

    <div class="gc1-half gclm">one</div>
    <div class="gc2-half gclm">one</div>

    <div class="gc2-full gclm">one</div>


    <div class="g_nested gc-auto-half">
      <div class="gclm"> 
            1 auto half
      </div>

      <div class="gclm">
            2 auto half
      </div>
    </div>


    <div class="g_nested quad">
      <div class="gclm"> 
            one quad
      </div>

      <div class="gclm">
            2 quad
      </div>

      <div class="gclm"> 
            3 quad
      </div>

      <div class="gclm">
            4 quad
      </div>
      
    </div>


    <div class="g_nested triplet">

      <div class="gclm"> 
            tri 1
      </div>

      <div class="gclm">
            tri 2
      </div>

      <div class="gclm"> 
            tri 3
      </div>

    </div>


    <div class="gc-first-quater bg-green"> first quarter</div>

    <div class="gc-last-remain-quater bg-blue"> LAST Quarter </div>


    <div class="gc-first-remain-quater bg-green"> first quarter</div>

    <div class="gc-last-quater bg-blue"> LAST Quarter </div>


    <div class="gc-1-8 bg-green"> one to four </div>

    <div class="gc-9-12 bg-blue"> 5 to 12 </div>


    <div class="gc-triplet-solo bg-yellow">{{vm.convertDates('2019-05-27 17:40:00')}}</div>

    <div class="gc2-full">

      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
      
    </div>



    

  </div>


</section>




