<div class="bg__root"></div> <!-- bgRoot -->

<div class="container">

	<div class="wizardContainer">

		<div class="stepper">

			<ul class="stepperNav">

						<li ng-class="{'active': stage == 1}">
							
							<div class="innerContents">
								<div class="stageIndigator">1</div>
								<a href="#" ng-click="stage = 1">Category</a><br />
							</div>
							
						</li>

						<li ng-class="{'active': stage == 2}">
							<div class="innerContents">
								<div class="stageIndigator">2</div>
								<a href="#" ng-click="stage = 2">Details</a>
							</div>	
						</li>

						<li ng-class="{'active': stage == 3}">
							<div class="innerContents">
							<div class="stageIndigator">3</div>
							<a href="#" ng-click="stage = 3">Validity</a>
						</div>
						</li>

						<li ng-class="{'active': stage == 4}">
							<div class="innerContents">
							<div class="stageIndigator">3</div>
							<a href="#" ng-click="stage = 4">Options</a>
						</div>
						</li>

						<li ng-class="{'active': stage == 5}">
							<div class="innerContents">
							<div class="stageIndigator">5</div>
							<a href="#" ng-click="vm.activateDistroState()">Weightage</a>
						</div>
						</li>

						<li ng-class="{'active': stage == 6}">
							<div class="innerContents">
							<div class="stageIndigator">6</div>
							<a href="#">Finalize</a>
						</div>
						</li>
			</ul>
			

		</div>


		

		<div class="stages ngswitch__root" ng-switch on="stage" ng-init="stage = 1">


			<div class="stage-inner">

			<div class="w-100" ng-switch-when="1">


<section class="catSelectWrap wiz-contbox">	




<ul class="tags level1">
	<p class="catLabel">Category</p>
	<li ng-repeat="cat in vm.categories" ng-if="cat.pcat_id == null" ng-class="{'active': cat.id == vm.parentId}" ng-click="vm.setParent(cat.id)">
  	<a href="#" class="tag" >{{cat.category}}
  		<span ng-class="{'fal fa-check': cat.id == vm.parentId}"></span>
  	</a>
  </li>
</ul>

<ul class="tags level2" ng-if="vm.parentId">
  		<p class="catLabel">Discipline</p>
  		<li ng-repeat="subCat in vm.categories" ng-if="vm.parentId == subCat.pcat_id" ng-class="{'active': subCat.id == vm.subCategory}" ng-click="vm.setSubCategory(subCat.id)">
  			<a href="#" class="tag" >
  				<span class="{{ (subCat.id == vm.subCategory) ? 'fal fa-check' : 'fal fa-circle' }}"></span>
  				{{subCat.category}}
  				
  			</a>
  		</li>
 </ul>





	<ul class="tags level3" ng-if="vm.subCategory">
			<p class="catLabel">Subdisciplines </p>
			<li ng-repeat="subj in vm.categories" ng-if="vm.subCategory == subj.pcat_id" class="{{ (vm.isSubjectActive(subj.id)) ? 'active' : ''}}"
			ng-click="vm.toggleSelectSubjects(subj.id)"
			>
				
			<a href="#" class="tag" >

				<span  class="{{ (vm.isSubjectActive(subj.id)) ? 'fal fa-check' : 'fal fa-square'}}" ></span>
				{{subj.category}} 
					
			 </a>
		</li>
	</ul>



</section><!-- catSelectWrap -->


<div style="padding-top: 30px; padding-bottom: 30px; width: 960px; margin: 0 auto">

<div class="row-fluid">	

		<div class="span6">	
			<div class="btn btn-default std pull-left" class="wiz-contbox">Exit</div>
		</div>

		<div class="span6">
			<div ng-if="vm.stepOneisValid()" class="btn btn-warning std pull-right" ng-click="vm.moveToStep(2)" class="wiz-contbox">Next <span class="icon fa fa-chevron-right"></span></div>
		</div>	

	</div>


</div>



<div>

		
		
		

		<div class="clearfix"></div>
	</div>


				
		

			</div> <!-- stage 01 -->

	<div class="w-100" ng-switch-when="2">


		<div class="stage02-wrapper-inner wiz-contbox">	




				<form name="particulars" id="particulars" class="floatable" novalidate>


                    <div class="field-wrap">
                         <input type="text" name="title" class="float-field w-100" ng-model="vm.nQuiz.title" ng-minlength="6" required>
                         <label class="placeholder">Quiz Title</label>
                         <span ng-show="particulars.title.$touched && particulars.title.$error.required" class="float-error">Title is mandantory</span>
                         <span ng-show="particulars.title.$touched && particulars.title.$error.minlength" class="float-error">Must be at least 6 characters</span>
                    </div>


          <div class="field-wrap">
            <input type="text" name="duration" class="float-field w-100" ng-model="vm.nQuiz.duration" required ng-pattern="/^[0-9]*$/" ng-maxlength="3">
            <label class="placeholder">Durations Minutes</label>

            <span ng-show="particulars.duration.$touched && particulars.duration.$error.required" class="float-error">Duration is missing</span>
            <span ng-show="particulars.duration.$touched && particulars.duration.$error.pattern" class="float-error">Enter Digits only</span>
            <span ng-show="particulars.duration.$touched && particulars.duration.$error.maxlength" class="float-error">Max. 3 characters allowed</span>

          </div>

          <div class="field-wrap">
            <input type="text" name="noques" class="float-field w-100" ng-model="vm.nQuiz.noQues" required ng-pattern="/^[0-9]*$/" ng-maxlength="3">
            <label class="placeholder">Questions to Attempt</label>
            <span ng-show="particulars.noques.$touched && particulars.noques.$error.required" class="float-error">Missing Questions Attempts</span>
            <span ng-show="particulars.noques.$touched && particulars.noques.$error.pattern" class="float-error">Enter Digits only</span>
            <span ng-show="particulars.noques.$touched && particulars.noques.$error.maxlength" class="float-error">Max. 3 characters allowed</span>
          </div>


          <div class="grid12Col gap10" ng-hide="particulars.noques.$invalid">

          		<div class="gc1-half">

          			<label class="placeholder static">Limit Max Allocation</label>

          		<select class="w-100 limitWizard" name="maxAllocation" ng-init="vm.nQuiz.maxAllocation = '-- Select X Allocation'" ng-model="vm.nQuiz.maxAllocation" required

          		ng-change="vm.calcMaxAllocation(vm.nQuiz.maxAllocation)" ng-pattern="/^[0-9]{1,10}$/"

          		>
                    <option ng-selected="vm.nUser.role_id == '-- Select X Allocation'" ng-disabled="1 == 1">-- Select X Allocation</option>
                   <option value="1">1x</option>
                   <option value="2">2x</option>
                   <option value="3">3x</option>
                   <option value="4">4x</option>
                   <option value="5">5x</option>
                   <option value="6">6x</option>
                   <option value="7">7x</option>
                   <option value="8">8x</option>
                   <option value="9">9x</option>
                   <option value="10">10x</option>
            </select>
          		
          	</div>


          	<div class="gc2-half">


          		<div class="grid12Col">
          			
          		
          		<div class="g_nested gc-auto-half">

          			<div class="">
          				<p class="xAllocate text-center">{{vm.maxAllocated}}</p>
          			</div>

          			<div class="">

          				<div class="field-wrap">
          					<span ng-show="particulars.maxAllocation.$error.pattern" class="float-error">Max Allocation is required</span>	
          				</div>
          				
          			</div>

				
          				
          		</div>

          		</div>
          		
          	</div>
          	
          

      </div>

          <div class="field-wrap">
            <input type="text" name="maxscore" class="float-field w-100" ng-model="vm.nQuiz.maxScore" required ng-pattern="/^[0-9]*$/" ng-maxlength="4">
            <label class="placeholder">Maxium Score</label>
            <span ng-show="particulars.maxscore.$touched && particulars.maxscore.$error.required" class="float-error">Max. Score Missing</span>
            <span ng-show="particulars.maxscore.$touched && particulars.maxscore.$error.pattern" class="float-error">Enter Digits only</span>
            <span ng-show="particulars.maxscore.$touched && particulars.maxscore.$error.maxlength" class="float-error">Max. 4 characters allowed</span>
          </div>

          <div class="field-wrap">
            <input type="text" name="minscore" class="float-field w-100" ng-model="vm.nQuiz.minScore" required ng-pattern="/^[0-9]*$/" ng-maxlength="3">
            <label class="placeholder">Passing Score</label>
            <span ng-show="particulars.minscore.$touched && particulars.minscore.$error.required" class="float-error">Passing Score is mandatory</span>
            <span ng-show="particulars.minscore.$touched && particulars.minscore.$error.pattern" class="float-error">Enter Digits only</span>
            <span ng-show="particulars.minscore.$touched && particulars.minscore.$error.maxlength" class="float-error">Max. 3 characters allowed</span>
          </div>

          
          <div class="row-fluid" style="padding-top: 30px;">

                    <div class="span6">
                        <div class="btn btn-default std pull-left">Cancle</div>
                    </div>   

                    <div class="span6">
                        <button type="submit" ng-hide="particulars.$invalid" class="btn btn-warning std pull-right" ng-click="vm.moveToStep(3)">Next</div>

                    </div>   
                   
                </div>
        </form>





		</div> <!-- stage02-wrapper-inner wiz-contbox  -->


	</div> <!-- stage 02  -->

	<div class="w-100" ng-switch-when="3">

		<div class="stage03-wrapper-inner wiz-contbox">


                    <div class="formControlflexWrap">

                    	<div class="flexFormLabel">
                    		<label>Start Date Time</label>
                    	</div>

                    	<div class="flexFormControl">
                    		<div class="span6 add-on">
                            <div class="input-append w-100 pick-dt" ng-model="vm.nQuiz.startDateTime">
                                <input type="text" id="startDateTime" class="w-90 dateinput" name="sdate" placeholder="Start Date" ng-value="vm.nQuiz.startDateTime">
                                <span class="add-on"><i data-date-icon="fal fa-calendar-alt" data-time-icon="fal fa-clock" class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    	</div>

                    </div>



					<div class="formControlflexWrap">
                    	<div class="flexFormLabel">
                    		<label>End Date Time</label>
                    	</div>

                    	<div class="flexFormControl">
                    		<div class="span6 add-on">
                            <div class="input-append pick-dt w-100 pick-dt" ng-model="vm.nQuiz.endDateTime">
                                <input type="text" id="endDateTime" class="w-90 dateinput" name="edate" placeholder="End Date" ng-value="vm.nQuiz.endDateTime">
                                <span class="add-on"><i data-date-icon="fal fa-calendar-alt" data-time-icon="fal fa-clock" class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    	</div>


                    	
                    </div>


                    <div class="row-fluid">
                    	<div class="span12">
                    		<p ng-if="!vm.dateVerified" class="c-pink t-bold">{{vm.datesError}}</p>
                    	</div>	
                    </div>
				
	


			


			

			<div class="row-fluid" style="padding-bottom: 50px;">

                    <div class="span6">
                        <div class="btn btn-default std pull-left">Cancle</div>
                    </div>   

                    <div class="span6">
                        <button type="submit" class="btn btn-warning std pull-right" ng-click="vm.checkDates()"> Next 
                    </div>
                   
            </div> 


            


			

		</div> 

	</div>

	<div class="w-100" ng-switch-when="4">
		
		<div class="stage04-wrapper-inner wiz-contbox">

			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Unique Questions On Retake <span class="icon-question-sign"></span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.reTakeUnique" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.reTakeUnique == '1'"  class="" ng-change="vm.toggleFeatures('reTakeUnique')">
                                <span></span>
                              </label>
                            </span>
					</div>	
				</div>		
			</div>


			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Difficulty Level Switch <span class="icon-question-sign"></span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.dls" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.dls == '1'"  class="" ng-change="vm.toggleFeatures('dls')">
                                <span></span>
                              </label>
                            </span>
					</div>	
				</div>		
			</div>


			<div class="divider-grouping">

				<label class="placeholder static c-green">Score Status & Visibilty Options</p>
				

			

			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Make Score Visible <span class="icon-question-sign"></span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.scoreVisible" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.scoreVisible == '1'"  class="" ng-change="vm.toggleFeatures('scoreVisible')">
                                <span></span>
                              </label>
                            </span>
					</div>	


				</div>		
			</div>

			<div class="formControlflexWrap" ng-show="vm.nQuiz.scoreVisible == 1">
				<div class="flexFormLabel">
					<label>		
						<input type="checkbox" ng-model="vm.nQuiz.scoreEmail">
						Response Email	
					</label>				
				</div>
			</div>

			<div class="formControlflexWrap" ng-show="vm.nQuiz.scoreVisible == 1">
				<div class="flexFormLabel">
					<label>		
						<input type="checkbox" ng-model="vm.nQuiz.scoreListView">
						Canidates Enrolled Quiz 
					</label>				
				</div>
			</div>



			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Show Results Status <span class="icon-question-sign">
						<span class="label-info">This is the information I would like to show to the user</span>
					</span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.showResults" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.showResults == '1'"  class="" ng-change="vm.toggleFeatures('showResults')">
                                <span></span>
                              </label>
                            </span>
					</div>	
				</div>		
			</div>

			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Standard Gradings <span class="icon-question-sign">
						<span class="label-info"> This will show standards grading based on percentage </span>
					</span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.showGradings" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.showGradings == '1'"  class="" ng-change="vm.toggleFeatures('showGradings')">
                                <span></span>
                              </label>
                            </span>
					</div>	
				</div>		
			</div>

			<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>Show Scale GPA <span class="icon-question-sign">
						<span class="label-info"> This will show GPA scale based on percentage </span>
					</span></label>
				</div>

				<div class="flexFormControl">
					<div class="w-50">	
						<span class="kt-switch kt-switch--icon" style="text-align: right">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="vm.nQuiz.showGPA" ng-true-value="'1'" ng-false-value="'0'" ng-checked="vm.nQuiz.showGPA == '1'"  class="" ng-change="vm.toggleFeatures('showGPA')">
                                <span></span>
                              </label>
                            </span>
					</div>	
				</div>		
			</div>


			</div><!-- grouping -->


			<div class="row-fluid" style="padding-bottom: 30px">

                    <div class="span6">
                        <div class="btn btn-default std pull-left">Cancle</div>
                    </div>   

                    <div class="span6">
                        <button type="submit" ng-hide="particulars.$invalid" class="btn btn-warning std pull-right" ng-click="vm.moveToStep(5)">Next 
                    </div>

                    </div> 

		</div> 



	</div>

	<div class="w-100" ng-switch-when="5" style="padding-bottom: 30px;">


	<div class="stage05-wrapper-inner wiz-contbox">

	
		

		<div class="formControlflexWrap">
				<div class="flexFormLabel">
					<label>View Limit : {{vm.nQuiz.threshold}} <span class="icon-question-sign">
						<span class="label-info"> Prevent global questions to be allocated which has highier threshold then define here. </span>
					</span></label>

				</div>

				<div class="flexFormControl" ng-init="vm.nQuiz.threshold = 500">
					<input type="range" class="w-100" min="500" max="1000" ng-model="vm.nQuiz.threshold" ng-change="vm.activateDistroState()"
					ng-model-options="{debounce: 750}">
				</div>			
		</div>

		<div>

			

			<table class="table">

				<thead>
					<tr style="font-size: 18px;">
						<th>Subjects</th>
						<th>Available Questions</th>
						<th>Questions Required : {{vm.nQuiz.noQues}} </th>
						<th>Total Score Allocated: {{vm.nQuiz.maxScore}} </th>
					</tr>
				</thead>

				<tbody>

					<tr ng-repeat="distro in vm.preDistro" ng-init="vm.getTotal()">


						
						<td>{{distro.subject}}</td>
						<td>{{distro.questions}}</td>
						<td><input type="number" name="subQuestions" ng-model="distro.quePerSection"  ng-change="vm.getTotal()"></td>
						<td><input type="number" name="subScore" ng-model="distro.points" ng-change="vm.getTotal()"></td>

					</tr>

					<tr ng-init="vm.getTotal()">

						<td>
							Aggregated Total
						</td>

						<td>
							{{vm.subjecTotal}}
						</td>

						<td>
							<span ng-class="{'c-red': vm.nQuiz.noQues != vm.Qtotal, 'c-green': vm.nQuiz.noQues == vm.Qtotal}"> {{vm.Qtotal}} </span>
						</td>

						<td>
							<span ng-class="{'c-red': vm.pointsTotal != vm.nQuiz.maxScore, 'c-green': vm.pointsTotal == vm.nQuiz.maxScore}"> 
								{{vm.pointsTotal}}
							</span>
							
						</td>
						
					</tr>
					
				</tbody>
				
			</table>

		</div>

		<div class="formControlflexWrap" ng-if="vm.pointsTotal != vm.nQuiz.maxScore || vm.nQuiz.noQues != vm.Qtotal">
			<h4 class="c-warning">Note: Score and questions must exactly match with aggregated distribution total </h4>
		</div>

		<h4 ng-if="vm.subjecTotal < vm.nQuiz.noQues" style="margin-top: -30px">Available questions are less then your required, would you like to continue and resolve distribution later</h4>


		<div ng-if="vm.subjecTotal < vm.nQuiz.noQues">
			
			

			<div class="row-fluid">

				<div class="span6">
					<div class="btn btn-default pull-left std" ng-click="vm.step = 3">Back</div>
				</div>

				<div class="span6">
					<div class="btn btn-warning pull-right std" ng-click="vm.saveQuiz(0)">Next</div>		
				</div>
			</div>	

			 

		</div>

		<div ng-if="vm.pointsTotal == vm.nQuiz.maxScore && vm.nQuiz.noQues == vm.Qtotal && vm.subjecTotal >= vm.nQuiz.noQues" class="row-fluid">		

			<div class="span6">&nbsp;</div>	

			<div class="span6"><div class="btn btn-warning std pull-right" ng-click="vm.saveQuiz(1)">Next</div></div>	

		</div>

		



	</div>

</div>


	<div class="w-100" ng-switch-when="6" style="padding-bottom: 30px;">

		
		<div class="stage06-wrapper-inner wiz-contbox"> 

				<h3 class="t-center c-green"><span class="fal fa-check-sign"></span>Completion Status</h3>


				<h4 class="t-center" 
						ng-class="{'c-dull': vm.phaseOneStatus == 'inactive', 
						'c-blue': vm.phaseOneStatus == 'working', 
						'c-green': vm.phaseOneStatus == 'done',
						'c-pink': vm.phaseOneStatus == 'error' }">
					Setting inital information</h4>

				<h4 class="t-center"

				ng-class="{'c-dull': vm.phaseTwoStatus == 'inactive', 
						'c-blue': vm.phaseTwoStatus == 'working', 
						'c-green': vm.phaseTwoStatus == 'done',
						'c-pink': vm.phaseTwoStatus == 'error' }">Saving Quiz Information</h4>

						<h4 ng-if="vm.hasValidDistribution" class="t-center"


				ng-class="{'c-dull': vm.phaseFourStatus == 'inactive', 
						'c-blue': vm.phaseFourStatus == 'working', 
						'c-green': vm.phaseFourStatus == 'done',
						'c-pink': vm.phaseFourStatus == 'error' }"

				>Saving Distribution</h4>
				
				<h4 class="t-center"

				ng-class="{'c-dull': vm.phaseThreeStatus == 'inactive', 
						'c-blue': vm.phaseThreeStatus == 'working', 
						'c-green': vm.phaseThreeStatus == 'done',
						'c-pink': vm.phaseThreeStatus == 'error' }">Allocatings Questions</h4>

				



				<a ng-if="vm.allDone" class="btn btn-success" style="width: 200px; display: block; margin: 0 auto" ng-click="vm.navigateToLastCreated()">All Done Proceed</a>



				


		</div>
		


	</div>

	<div class="w-100" ng-switch-default>
		<p>No State is selected, select one</p>
	</div>



	<div class="w-50 hidden">
		
		<div class="btn btn-success std">Add New</div>
		<div class="btn btn-info std"><span class="icon icon-save"></span>Save</div>
		<div class="btn btn-twitter std">Update</div>
		<div class="btn btn-danger std">Edit</div>
	</div>


	</div> <!-- stage inner  -->
			

		</div> <!-- stages -->



		
	</div>
	
		


</div>



