<div class="row">



	<nav class="main-navigation span2">

    <ul>

        <li class="current">
            <a href="home.php" class="home">
            	<span class="icon fab fa-buromobelexperte"></span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="you.php" class="you">
            	<span class="icon far fa-user"></span>
                <span class="title">Users</span>
            </a>
        </li>

        <li>
            <a href="team.php" class="team">
            	<span class="icon icon-briefcase"></span>
                <span class="title">Categories</span>
            </a>
        </li>

        <li>
            <a href="home.php" class="home">
            	
            	<span class="icon icon-certificate"></span>
                <span class="title">Quiz</span>
            </a>
        </li>

        
        <li>
            <a href="company.php" class="company">
            	<span class="icon icon-lock"></span>
                <span class="title">Role Permissions</span>

            </a>
        </li>
        <li>
            <a href="applications.php" class="tasks">
            	<span class="icon icon-list-alt"></span>
                <span class="title">Questions</span>
            </a>
        </li>
        
        <li>
            <a href="calculator.php" class="calculator">
            	<span class="icon icon-film"></span>
                <span class="title">Media Library</span>
            </a>
        </li>

        <li>
            <a href="calculator.php" class="calculator">
            	<span class="icon icon-gear"></span>
                <span class="title">Settings</span>
            </a>
        </li>


    </ul>

</nav>





<div class="main-area span10">

	<header class="row">
		
	
		<div class="span5">



			<a href="/" class="brand pull-left">
            <img alt="Logo" ng-src="{{'assets/images/iSkillMetrics-logo.svg'}}" width="150" height="65"/>
           
        	</a>
			
		</div>
		<div class="span5">

			<div class="header-right pull-right">
				EN | Login | SalmanAhmed
			</div>	
			
		
	
        </div>
	</header>


		<div class="row">
			<div class="span10">

				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				
			</div>
		</div>

		
	</div>




</div>