<h1>check notify</h1>

<p></p>


<button ng-click="vm.triggerNotifyError()">trigger Error</button>

<button ng-click="vm.triggerNotifySuccess()">trigger Success</button>
<button ng-click="vm.triggerNotifyWarning()">trigger Warning</button>
<button ng-click="vm.triggerNotifyInfo()">trigger Info</button>



<div class="row">
        
      <div class="span3">
        <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="">
                                <span></span>
                              </label>
                            </span>
      </div>

      </div>
