<div class="quizPlayWrapper">


    <div id="quizPGWrapper">


    <div class="grid12Col" style="grid-template-rows: 40px;" ng-if="1 == 1">

        

        <div class="gc-first-remain-quater align-self-center">        
                <a href="#" class="brand static-link">  <img alt="Logo" ng-src="{{vm.entityLogo()}}" width="200" height="88"/></a>
        </div>  

        <div class="gc-last-quater" style="align-self: end;
    justify-self: end;">

    <div class="langCont" ng-class="{ 'langDropActive' : langDropOPen}">
                     
                        <a href="#" class="langText" role="button" ng-click="langDropToggle()">{{lang}}</a>

                        <span class="fal fa-arrow-down"></span>

                        <ul id="langDrop">
                            <li><a href="#" class="static-link" ng-click="changeLanguage('ar')">AR</a></li>
                            <li><a href="#" class="static-link" ng-click="changeLanguage('en')">EN</a></li>
                            <li><a href="#" class="static-link" ng-click="changeLanguage('fr')">FR</a></li>
                        </ul>

                    </div>
        

    </div>  

        

    </div>    



    <div class="grid12Col bbr-grey">
    
        <div class="gc-first-quater align-self-center">
            <p class="t-left">
                <span class="t-left newTimer hight" style="font-size: 30px;">00:00</span>    
                <span>Time Remaining </span>
            </p>  

        </div>

        <div class="gc-last-remain-quater align-self-center">
            <h2 class="t-right c-grey quizTitleHeading"> Question Preview </h2>
        </div>  
    </div>



    <div class="grid12Col mt-10">

        <div class="gc-first-remain-quater">

            <span>Question : 1 / 1</span>
            


            <div class="queDesc noselect" style="padding-top: 10px; padding-bottom: 20px;">    

                <div ng-bind-html="vm.activeQuestion.queDesc"></div>

            </div>
            
        </div>





                <div class="gc-last-quater align-self-end t-right mt-20 mb-20">

                    <p class="c-grey ">Marked : 0</p>

                    <p class="c-green">Answered : 0</p>
        
                    <div class="c-yellow t-bold">Reviewing : 0 </div>

                </div>


            </div>


    <div id="canvasScrollArea">
        
    


    <div class="canvasItem">


        <div>



            <div class="row" ng-if="vm.activeQuestion.media != undefined">



                    <section class="span12">

                        <h5 class="c-grey t-center c-blue">Click on image to view in full size</h5>


                        <section id="photos" ng-repeat="media in vm.activeQuestion.media" ng-if="media.type == 'image'">
                            <img ng-src="{{baseUrl+media.filepathurl}}" width="200" height="auto" ng-click="vm.launchLightbox(baseUrl+media.filepathurl, media.title)">
                        </section>


                        
                        <div class="video-wrapper" ng-if="vm.activeQuestion.media == 'video'" ng-repeat="media in vm.activeQuestion.media" >
                            
                            <video width="640" height="360" controls>
                              <source src="{{baseUrl+media.filepathurl | trustUrl}}" type="video/mp4">
                               Your browser does not support the video tag.
                            </video>

                        </div>


                    </section>
                    
                </div>

            


            <div class="grid12Col" style="margin-bottom: 20px;">
                    <div class="gc2-full">
                        <p class="txt-highlight">
                            <span style="border-bottom: 1px solid #ccc" ng-if="vm.activeQuestion.type_id == 1">Select correct option answers</span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="vm.activeQuestion.type_id == 2">Select valid option</span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="vm.activeQuestion.type_id == 3">Choose all which applies</span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="vm.activeQuestion.type_id == 4">Provide your answer in text box</span>
                        </p>
                    </div>
            </div>


            <div class="grid12Col" ng-if="vm.activeQuestion.type_id == 4">
                <div class="gc2-full">

                    <input type="text" autocomplete="off" autocorrect="off" name="answer" class="form-control w-100" ng-model="vm.quizData.questions[$index].answer">    
                </div>
                
            </div>
        
            <div class="grid12Col" ng-if="vm.activeQuestion.type_id == 1 || vm.activeQuestion.type_id == 2"> 

             

                <div class="gc2-full que-line">
                    <input type="radio" id="radio-1" class="radio-custom" name="answer" value="a" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-1" class="radio-custom-label noselect">

                    <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionA)">{{vm.activeQuestion.optionA}}</span> 

                    <img ng-if="vm.optionhasImage(vm.activeQuestion.optionA)" ng-src="{{vm.activeQuestion.optionA}}">   


                </label>    
                </div>

            

                <div class="gc2-full que-line noselect">
                    <input type="radio" id="radio-2" class="radio-custom" name="answer" value="b" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-2" class="radio-custom-label">
                        
                        <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionB)">{{vm.activeQuestion.optionB}}</span>
                        <img ng-if="vm.optionhasImage(vm.activeQuestion.optionB)" ng-src="{{vm.activeQuestion.optionB}}">   
                        
                    </label>    
                </div>

            
                <div class="gc2-full que-line noselect" ng-if="vm.activeQuestion.optionC != null && vm.activeQuestion.type_id != 2">
                    <input type="radio" id="radio-3" class="radio-custom" name="answer" value="c" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-3" class="radio-custom-label">

                        <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionC)">{{vm.activeQuestion.optionC}}</span>
                        <img ng-if="vm.optionhasImage(vm.activeQuestion.optionC)" ng-src="{{vm.activeQuestion.optionC}}">
                        
                    </label>    
                </div>



                <div class="gc2-full que-line noselect" ng-if="vm.activeQuestion.optionD != null && vm.activeQuestion.type_id != 2">

                    <input type="radio" id="radio-4" class="radio-custom" name="answer" value="d" ng-model="vm.quizData.questions[$index].answer">

                    <label for="radio-4" class="radio-custom-label">

                    <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionD)">{{vm.activeQuestion.optionD}}</span>  

                    <img ng-if="vm.optionhasImage(vm.activeQuestion.optionD)" ng-src="{{vm.activeQuestion.optionD}}">     
                </label>    


                </div>
            

            </div> <!-- radion single select -->



             <div class="grid12Col" ng-if="vm.activeQuestion.type_id == 3"> 

            

                <div class="gc2-full que-line">
                    <input type="checkbox" name="answer[]" id="checkbox-1" class="checkbox-custom" name="answer" value="a" ng-model="vm.quizData.questions[$index].answer.a">

                    <label for="checkbox-1" class="checkbox-custom-label noselect"> 


                        <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionA)">{{item.optionA}}</span> 

                        <img ng-if="vm.optionhasImage(vm.activeQuestion.optionA)" ng-src="{{vm.activeQuestion.optionA}}">   


                    </label>    
                </div>


                <div class="gc2-full que-line">
                    
                        <input type="checkbox" name="answer[]" id="checkbox-2" class="checkbox-custom" name="answer" value="b" ng-model="vm.quizData.questions[$index].answer.b">
                        <label for="checkbox-2" class="checkbox-custom-label noselect"> 

                            <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionB)">{{vm.activeQuestion.optionB}}</span> 

                            <img ng-if="vm.optionhasImage(vm.activeQuestion.optionB)" ng-src="{{vm.activeQuestion.optionB}}">


                         </label>    
                    
                </div>
            
            
            

                <div class="gc2-full que-line" ng-if="vm.activeQuestion.optionC != null">

                        <input type="checkbox" name="answer[]" id="checkbox-3" class="checkbox-custom" name="answer" value="c" ng-model="vm.quizData.questions[$index].answer.c">
                        <label for="checkbox-3" class="checkbox-custom-label noselect"> 

                            <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionC)">{{vm.activeQuestion.optionC}}</span> 

                            <img ng-if="vm.optionhasImage(vm.activeQuestion.optionC)" ng-src="{{vm.activeQuestion.optionC}}">


                        </label>    

                </div>
            
            
            
                <div class="gc2-full que-line" ng-if="vm.activeQuestion.optionD != null">

                    <input type="checkbox" name="answer[]" id="checkbox-4" class="checkbox-custom" name="answer" value="d" ng-model="vm.quizData.questions[$index].answer.d">
                    <label for="checkbox-4" class="checkbox-custom-label noselect"> 

                        <span ng-if="!vm.optionhasImage(vm.activeQuestion.optionD)">{{vm.activeQuestion.optionD}}</span> 

                        <img ng-if="vm.optionhasImage(vm.activeQuestion.optionD)" ng-src="{{vm.activeQuestion.optionD}}">

                    </label>    

                </div>
            

            </div> <!-- multiple checkbox wrapper -->



            <!-- marker previous position -->
            


        </div> <!-- ng-if $index == questions index -->

    </div> <!-- end question repeater -->



    </div><!-- canvasScrollArea -->


</div> <!-- quizPGWrapper -->



    <div id="controllingArea__main">


        <div class="grid12Col">
                <div class="gc1-half">
                        <label class="checkbox pull-left kt-pulse">
                            <input type="checkbox" name="review" value="1" ng-model="vm.quizData.questions[vm.questionIndex].marked">
                            <strong> Mark for Review : <span class="c-red"> Marked ( 0 ) </span> | <span class="c-green">Answered ( 0 )</span> 
                            </strong>
                            <span class="kt-pulse__ring" ng-if="vm.ShowPulse == true"></span>
                        </label>
                    </div>
            </div>
        
    


        <div class="grid12Col cbf" >


            <div class="g_nested gc-auto-half">

            
            <div>
                <a href="#" class="btn btn-success stdx pull-left">


                    <span lang="{{lang}}">{{gval.next[langIndex()]}}</span>
                       
                        <span ng-if="lang == 'en'" class="fas fa-chevron-right"></span>
                        <span ng-if="lang == 'ar'" class="fas fa-chevron-left"></span>


                </a>
            </div>


            <div>
                
            </div>
                
            </div> 

            


        </div>


        </div> <!-- controllingArea__main -->

        


    </div><!-- end row-->


</div><!-- end col right-->
</div><!-- end container-->



<div class="cst-modal-container" ng-if="vm.lightBoxEnabled">

    <div class="cst-modal-window fullSize">

      
      <div class="grid12Col">

        <div class="gc1-half">
            <h3 class="c-grey">{{vm.fullImageTitle}}</h3>  
        </div>
        
        <div class="gc2-half">
          <i class="fal fa-times fa-2x pull-right c-white" ng-click="vm.closeLightBox()"></i> 
        </div>
          
      </div>


      <div class="cst-modal-body no-pad">

        <img ng-src="{{vm.fullImageSourceLink}}">

      </div>
        
      
      
    </div>

</div>