<section class="span9">
	

	<div class="col-right">

		<div class="wizardComapactContainer">

			<div class="compactWizardNavigation">
				<ul>
					<li><a href="#">step01</a></li>
					<li><a href="#">step02</a></li>
					<li><a href="#">step03</a></li>
					<li><a href="#">step04</a></li>
					<li><a href="#">step04</a></li>
				</ul>
			</div>

			<div class="compactWizardContentArea">

				

				<div id="step01"> 

					<div class="stepInner">
						STEP 01 
					</div>	

				</div>

				<div id="step02"> 

					<div class="stepInner">
						STEP 02 
					</div>	

				</div>

				<div id="step03"> 
					<div class="stepInner">
						STEP 03
					</div>	
						
				</div>

				<div id="step04"> 
						STEP 04 
				</div>

				<div id="step05"> 
						STEP 05 
				</div>
				
			</div>

				


		</div>

		
		
	</div>


</section>