<div id="bg__siteBackgrondImage"></div>


<div id="login__root">
    



            <div class="loginInerWrapper">
                
            


            <h2 class="c-grey">Register</h2>


            <form name="registerForm" role="form" class="floatable" method="post" novalidate>


            <div class="field-wrap"> 

                    <input type="text" name="fullname" class="float-field w-100" ng-model="vm.nuser.name" ng-minlength="6" required>
                    <label class="placeholder">Full Name</label>

                    <span ng-show="registerForm.$dirty && registerForm.fullname.$error.required" class="float-error">Enter Full Name</span>
                    <span ng-show="registerForm.$dirty && registerForm.fullname.$error.minlength" class="float-error">Enter atleast 6 characters</span>


            </div>


            <div class="field-wrap">

                    <input type="email" name="useremail" class="float-field w-100" ng-model="vm.nuser.email" required>
                    <label class="placeholder">Email</label>

                    <span ng-show="registerForm.useremail.$touched && registerForm.useremail.$error.required" class="float-error">Email is mandantory</span>
                    <span ng-show="registerForm.useremail.$touched && registerForm.useremail.$error.email" class="float-error">Provide Valid Email</span>

            </div>


            <div class="field-wrap">

                    <input type="password" name="pass" class="float-field w-100" ng-model="vm.nuser.password" ng-minlength="6" required password-verify="{{vm.nuser.cpassword}}">
                    <label class="placeholder">password</label>

                    <span ng-show="registerForm.pass.$touched && registerForm.pass.$error.required" class="float-error">Enter Password</span>
                    <span ng-show="registerForm.pass.$touched && registerForm.pass.$error.minlength" class="float-error">At least 6 characters</span>


            </div>


            <div class="field-wrap">
                    <input type="password" name="cpass" class="float-field w-100" ng-model="vm.nuser.cpassword" ng-minlength="6" required password-verify="{{vm.nuser.password}}">
                    <label class="placeholder">Confirm Password</label>


                    <span ng-show="registerForm.cpass.$touched && registerForm.cpass.$error.passwordVerify" class="float-error">Confirm Password Mismatched</span>


            </div>


            <div class="row-fluid">

                <div class="span6">

                    <a class="btn btn-warning" ui.sref="login()"> Login </a>
                    
                </div>

                <div class="span6">
                    <button ng-disabled="registerForm.$invalid" class="btn btn-primary graphic-chevron-right btn-icon d-block" ng-click="vm.register()"> Register </button>
                </div>

            </div>
            </form>

            </div> <!-- login inner wrapper -->



            </div>
