  <section class="hbox stretch parent">

    <aside class="aside-sm bg-white border-right">
      <a ui-sref="dash.land()" class="nav-brand" data-toggle="fullscreen">
          
          <img ng-if="getUSerRole() == 'admin'" alt="Logo" ng-src="{{'assets/images/iSkillMetrics-logo.svg'}}" width="150" height="88"/>

          <img ng-if="getUSerRole() == 'entity'" ng-src="{{entityLogo}}" width="150" height="88"/>

      </a>



      <ul id="top-menu"> 
            
            <li ng-class="{'active': base.pageUrl == '/dashboard'}">

                <a ui-sref="dash.land()"><i class="fab fa-buromobelexperte vam"></i> {{gval.dashboard[langIndex()]}} </a></li>
            <li ui-sref-active="active" permissions="['quiz-list']"><a ui-sref="dash.quizzes()"><i class="fal fa-brain vam"></i> {{gval.quizes[langIndex()]}} </a></li>
            
            <li ui-sref-active="active" permissions="['dashboard-questions']"><a ui-sref="dash.questions()"><i class="fal fa-database vam"></i> {{gval.questions[langIndex()]}}</a></li>
            <li ui-sref-active="active"><a ui-sref="dash.quePool()"><i class="fal fa-calculator vam"></i> {{gval.stats[langIndex()]}} </a></li>

            <li ui-sref-active="active" ><a ui-sref="dash.batches()"><i class="fal fa-ball-pile vam"></i> {{gval.groups[langIndex()]}} </a></li>

            <li ui-sref-active="active" permissions="['secure-navs']"><a ui-sref="dash.roles()"><i class="fal fa-users vam"></i> {{gval.roles[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['user-global-list']"><a ui-sref="dash.users()"><i class="fal fa-user-tie vam"></i> {{gval.users[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['user-local-list']"><a ui-sref="dash.myusers()"><i class="fal fa-user-tie vam"></i> {{gval.myusers[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['permission-list']"><a ui-sref="dash.permission()"><i class="fal fa-shield-alt vam"></i> {{gval.permissions[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['secure-navs']"><a ui-sref="dash.rolePermissions()"><i class="fal fa-user-shield vam"></i> {{gval.rolepermissions[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['secure-navs']"><a ui-sref="dash.cats()"><i class="fal fa-sitemap vam"></i> {{gval.categories[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['media-list']"><a ui-sref="dash.library()"><i class="fa fa-palette vam"></i> {{gval.medialibraray[langIndex()]}}</a></li>
            <li ui-sref-active="active" permissions="['test-navs']"><a ui-sref="dash.modal()"> {{gval.modaltest[langIndex()]}}</a></li>
            <li ui-sref-active="active"><a ui-sref="mob.activity()"><i class="fal fa-mobile vam"></i> {{gval.activity[langIndex()]}}</a></li>

           
      </ul>
    </aside>

    <section class="content">
      
      <section class="vbox">
        
        <header class="bg-white border-bottom">


            <div class="flexTabHeader">
                <div>
                    <a class="fas fa-home icon-2x c-green" ui-sref="dash.land()"></a>
                    <span class="tabHeading"> <span class="c-green">Dashboard</span> / <span class="c-yellow">{{dash.pageHeading}} </span></span>


                </div>
                
                <div class="flexTabHeader__InnerRightWrapper">
                     
                    <div>&nbsp;</div>   
                    <div class="langCont" ng-class="{ 'langDropActive' : langDropOPen}">
                     
                        <a href="#" class="langText" role="button" ng-click="langDropToggle()">{{lang}}</a>

                        <span class="fal fa-arrow-down"></span>

                        <ul id="langDrop">
                            <li><a href="#" class="static-link" ng-click="changeLanguage('ar')">AR</a></li>
                            <li><a href="#" class="static-link" ng-click="changeLanguage('en')">EN</a></li>
                            <li><a href="#" class="static-link" ng-click="changeLanguage('fr')">FR</a></li>
                        </ul>

                    </div>


                    <div>

                        <div class="btn-group topUserDrop">
                                <a class="btn" href="#" data-toggle="dropdown">
                                    <i class="fas fa-user c-green"></i>
                                        {{getAuthUsername()}}
                                        <i class="fas fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                            <a ui-sref="dash.land()"><i class="fab fa-buromobelexperte vam"></i>
                                                

                                                {{gval.dashboard[langIndex()]}}


                                            </a></li>
                                        <li>

                                            <a ui-sref="dash.profile()"><i class="far fa-user vam"></i>
                                                {{gval.profile[langIndex()]}}
                                            </a></li>

                                        <li>

                                            <a ui-sref="logout()"><i class="fas fa-power-off vam c-red"></i>
                                                {{gval.logout[langIndex()]}}
                                            </a></li>
                                    
                                    
                                    
                                </ul>
                        
                    </div>

                </div>
            </div>
        </div>

      

          
        </header>

        <section class="scrollable wrapper">         

            <div id="page-wrap" class="tab-layout">
          
            <section class="hbox pageContentWrapper">


            <ul id="quizTabNavigation"> 
            
            <li ui-sref-active="active"><a ui-sref="exm.exam({'examID': absExamId})"><i class="fas fa-street-view"></i> {{ gval.overview[langIndex()] }}</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.progress({'examID': absExamId})"><i class="fas fa-chart-bar"></i> {{ gval.progress[langIndex()] }} </a></li>
            <li ui-sref-active="active" permissions="['quiz-questions-list']"><a ui-sref="exm.quizQuestions({'examID': absExamId})"><i class="fas fa-table"></i> {{ gval.questions[langIndex()] }}</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.quizWeightDistro({'examID': absExamId})"><i class="fas fa-balance-scale"></i> {{ gval.weightDistribution[langIndex()] }}</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.enroll({'examID': absExamId})"><i class="fas fa-clipboard-check"></i> {{ gval.enroll[langIndex()] }} </a></li>
            <li ui-sref-active="active"><a ui-sref="exm.register({'examID': absExamId})"><i class="fas fa-clipboard-list"></i> {{ gval.register[langIndex()]}}  </a></li>
            
            
            </ul>


              <ui-view>

               
            </section>


          

          </div>  <!-- tabLayout -->

          

         <footer id="tabLayoutFooter" class="grid12Col gap10  galign-v-item-center bg-white border-top">

            <div class="gc-1-3"> 

                <div style="padding-left: 10px"> {{gval.privacy[langIndex()]}} | {{gval.about[langIndex()]}} | {{gval.terms[langIndex()]}}  </div> 
                
            </div>




                

            <div class="gc-4-9 t-center"> <span>  @ Copyrights 2019 all rights reserved : Build with </span> <span class="fas fa-heart c-pink"></span> in Canada </div>

            <div class="gc-10-12 t-right"> 
                
                <div style="padding-left: 10px;" ng-if="getUSerRole() != 'admin'">
                <a class="textLogo">iSkillMetrics</a>
                </div>
                

            </div>


             
         </footer>


        </section>
      </section>

    </section>
    
  </section>


  