  <section class="hbox stretch parent">

    <aside class="aside-sm bg-white border-right">

        <a href="/" class="nav-brand" data-toggle="fullscreen">

            <img ng-if="getUSerRole() == 'admin'" alt="Logo" ng-src="{{'assets/images/iSkillMetrics-logo.svg'}}" width="150" height="88"/>

          <img ng-if="getUSerRole() == 'entity'" ng-src="{{'assets/images/demo-logo.jpg'}}" width="150" height="88"/>
          
      </a>

      <!--

        <i class="fas fa-certificate"></i>
      -->

      <ul id="top-menu"> 
            
            <li ui-sref-active="active"><a ui-sref="exm.exam({'examID': absExamId})"><i class="fas fa-street-view"></i> Overview</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.progress({'examID': absExamId})"><i class="fas fa-chart-bar"></i> Progress</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.quizQuestions({'examID': absExamId})"><i class="fas fa-table"></i> Questions</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.quizWeightDistro({'examID': absExamId})"><i class="fas fa-balance-scale"></i> Weight Distribution</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.enroll({'examID': absExamId})"><i class="fas fa-clipboard-check"></i> Enroll</a></li>
            <li ui-sref-active="active"><a ui-sref="exm.register({'examID': absExamId})"><i class="fas fa-clipboard-list"></i> Register</a></li>
            <li ui-sref-active="active"><a permissions="['secure-navs']" ui-sref="exm.check()">Check</a></li>
            <li ui-sref-active="active"><a permissions="['secure-navs']" ui-sref="exm.notify()">NOtify</a></li>
            
      </ul>
    </aside>

    <section class="content">
      
      <section class="vbox">
        
        <header class="bg-white border-bottom">


            <div class="flexTabHeader">

                <div>

                <a class="fab fa-buromobelexperte icon-2x c-green" ui-sref="dash.land()"></a>

                <span class="tabHeading"> <span class="c-green">Quiz </span> / <span class="c-yellow">{{exAbs.pageHeading}}</span></span>

                </div>
                
                
                <div class="flexTabHeader__InnerRightWrapper">
                     
                    <div>&nbsp;</div>   
                    <div class="langCont">
                        <a href="#" class="langText" role="button" ng-click="switchLang()">{{lang}}</a></div>
                    <div>

                        <div class="btn-group topUserDrop">
                                <a class="btn" href="#" data-toggle="dropdown">
                                    <i class="icon-user c-green"></i>
                                        {{getAuthUsername()}}
                                        <i class="icon-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                            <a ui-sref="dash.land()"><i class="icon-dashboard"></i>
                                                Dashboard
                                            </a></li>
                                        <li>
                                            <a ui-sref="dash.profile()"><i class="icon-user"></i>
                                                My Profile
                                            </a></li>

                                        <li>
                                            <a ui-sref="logout()"><i class="icon-off"></i>
                                                Logout
                                            </a></li>
                                    
                                    
                                    
                                </ul>
                        
                    </div>

                </div>
            </div>
        </div>

        </header>

        <section class="scrollable wrapper">         

            <div id="page-wrap" class="tab-layout">
          
            <section class="hbox pageContentWrapper">


              <ui-view>

               
            </section>



          </div>  <!-- tabLayout -->

          <footer id="tabLayoutFooter" class="grid12Col gap10  galign-v-item-center bg-white border-top">

            <div class="gc-1-3"> 

                <div style="padding-left: 10px"> Privacy Policy | About | Terms of Service  </div> 
                
            </div>

            <div class="gc-4-9 t-center"> <span>  @ Copyrights 2019 all rights reserved : Build with </span> <span class="icon-heart c-pink"></span> in Canada </div>

            <div class="gc-10-12 t-right"> 
                
                <div style="padding-left: 10px;">
                <a class="textLogo">iSkillMetrics</a>
                </div>
                

            </div>


             
         </footer>

        </section>
      </section>

    </section>
    
  </section>


  