
body {
}

#page-wrap {
    width: 100%;
    min-height: calc(100vh - 75px);
    border-bottom: 1px solid transparent;
}


.pagination ul > li > a:hover, .pagination ul > .active a {
    background-color: #B6D04A;
}

.brdr {
    border: 1px solid red;
}

.bg-azureDark {
  background-color: var(--azureDark);
}

.bg-white {
  background-color: #fff !important;
}

.bg-green {
    background-color: var(--green);
  }

.bg-aqua {
    background-color: #00acee;
}

.bg-laveck {
    background-color: #CDC1C5;
}

.w-90 {
    width: 90% !important;
}

.w-50 {
    width: 50% !important;
}

.w-45 {
    width: 45% !important;
}

img.img-resp{
    max-width: 100%;
}

.c-red {
    color: rgba(255, 0, 0, 0.75) !important;
}

.c-green {
    color: var(--greenLight) !important;
}

.c-pink {
      color: var(--pink) !important; 
}

.c-dull {
      color: rgba(155, 155, 155, 0.5) !important; 
}

.c-yellow, .c-warning  {
      color: var(--yellow) !important; 
}

.c-grey {
  color: var(--grey);
}


.c-blue {
    color: #00ACEE !important;
}
.txt-black {
    color: #333 !important;
}

img.img-center {
   display: block;
   margin: 0 auto;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    height: 50px;
    float: left;
}

.input-append .add-on, .input-prepend .add-on {
    background-color: #ececea;
    border: none;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 42px;
    line-height: 24px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    width: auto;
}

.container-sm {
    width: 600px;
    margin: 0 auto;
}

fieldset.cust-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.cust-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

legend + .control-group {
    margin-top: 0px !important;
}

.control-group {
    margin-bottom: 0px !important;
}

.rmBtn {
    margin-bottom: 10px;
    cursor: pointer;

}

.addmore-btn {

}

.footerpush{
    height: 5px;
}

input[type="checkbox"] {
    -webkit-appearance: none !important;
}

.col-right {
    padding-top: 10px;
}


tbody.sld-content {
    display: none;
}

tbody.sld-content.sld-active {
    display: table-row-group;
}


tr.vam {
    vertical-align: middle;
}

.w300px {
    width: 300px;
}

html [class^="icon-"], html [class*=" icon-"], body [class^="icon-"], body [class*=" icon-"] {
    vertical-align: middle !important;
 }

.course-filters .btn-small {
    padding: 14px 8px;
}

span.timepicker-hour, span.timepicker-minute {
    text-align: center;
     display: inline-block;
    width: 90px;
}


.promo-header{

    /*
    background-image: url('/assets/images/landing1-f1427195380f8e71987de879c65a0fb4.jpg');
    background-image: url('/assets/images/bigstock-bg.jpg');
    */

    background-image: url(/assets/images/site_background__root.jpg);
    background-position: 70% 60%;
    background-repeat: no-repeat;
    background-size: initial;
    opacity: 1 !important;
    transition: opacity 1s linear 0s;
    width: 100%;



    
}

.bg-trans {
    background-color: transparent !important;
}

.resend-tr {
/*
    display: none;
    */
}

.bb1px {
    border-bottom: 1px solid #333;
}
.bt1px {
    border-top: 1px solid #333;
}


@media (max-width: 400px) {
    table {
        margin-left: 5px;
        margin-right: 5px;
    }

    body.courses {
        padding: 0 !important;
        margin: 0 !important;
    }

    .container   {
        margin-left: 5px ;
        margin-right: 5px;
        padding-right: 5px;
    }

    .dropdown-menu {
        left: -105px !important;
    }

}
input[type="checkbox"]:checked:after {
    
    font-size: 25px;
}

button, input[type=button], input[type=submit] {
    -webkit-appearance:none !important;
}


.female-dark {
    color: #ea4e44;
}

.female-light {
    color: #ff4b44;
}

.male-dark {
    color: #00acee;
}

.male-light{
    color: #00b9ff;
}


/*flat circles*/

.gf-bt-bg-red {
    background-color: #e74b3c;
}

.gf-bt-bg-green {
    background-color: #34b196;
}

p.flat-circle.red {
    border-color: #e74b3c;
    color: #e74b3c;
}

p.flat-circle.aqua {
    border-color: #3996d2;
    color: #3996d2;
}

p.flat-circle.green {
      border-color: #34b196;
      color: #34b196;
  }

p.flat-circle.purple {
     border-color: #8f5aa0;
     color: #8f5aa0;
 }


p.flat-circle {
    float: left;
    border: 10px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
 }

p.flat-circle span {
    line-height: 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.courses-list-item .body-wrapper .news-body {
     padding: 10px;
}

.courses-list-item .body-wrapper .news-body + .card-footer ul li {
    margin-left: 10px;
}



.cst-modal-container{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top:0; bottom:0; left:0; right:0;
  background-color: rgba(0,0,0,0.6);
}
.cst-modal-window{
  background-color:#fff;
  display:flex;
  flex-direction:column;
  width:500px;
  height: auto;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
  animation: blowUpModal 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


.cst-modal-window.large {

  width:1200px !important;
}

.cst-modal-header{
  padding:1.5rem;
  font-family: sans-serif;
  color: #333;
}


.cst-modal-header span {
  font-size: 18px;
  color: #333;
}


.cst-modal-header::after {
  content: "";
  width : 100%;
  display: inline-block;
  border-bottom: 1px solid #c1c1c1;

}

.icon-remove {cursor: pointer}


.cst-modal-body{
  padding:1.5rem;
  flex-size:1;
}

button{padding: 0.6rem 1rem; font-family: sans-serif; text-transform: uppercase; border: none; cursor: pointer;}

@keyframes blowUpModal {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

figure.quiz-figure {
    margin-left: 5px;
    margin-right: 5px;
    font-variant: small-caps;
    font-size: 11px;
    display: inline-block;
    max-width: 500px;
}

figure.quiz-figure img {
    max-width: 100%;
}

.que-line {border-bottom: 1px solid #80808024; margin-bottom: 20px; padding-bottom: 20px;}

.que-line:last-child{
  border-bottom: none 
}


.bbr-light {border-bottom: 1px solid #80808024}

.pb-20 {padding-bottom: 20px;}



#quizTimer {
    position: fixed;
    top: 150px;
    left: 20px;
    display: block;
    width: 5rem;
    padding: 0px;
    color: #ffffff;
    font-size: 30px;
    padding: 1rem 0.5rem;
    text-align: center;
}


#quizTimer.high {
  background-color: var(--green);
}

#quizTimer.med {
  background-color: var(--yellow);
}

#quizTimer.low {
    background-color: var(--red);
}


h3.page-title {
    margin-top: 0px !important;
}



.queDesc p {
    font-size: 1.2rem;
    color: #000;
}



/* end only demo styles */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    margin-left: -45px;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
    color: #000;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    transition: all .3s ease-in;
}


.radio-custom:checked + .radio-custom-label {
    color: var(--green);
    font-weight: bold;
    
}

.checkbox-custom:checked + .checkbox-custom-label {
    color: var(--green);
    font-weight: bold;
    
}


.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    background: var(--green);
    color: #fff;
    margin-left: 10px;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
    margin-left: 10px;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    color: #bbb;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#form-distro input[type="number"]:disabled {
  background: #c1c2c157 !important;
} 


table.table.bordered td{ border: 1px solid #C1C2C1; }


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer !important;
}



button.custom-upload-btn {
  text-transform: none;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer !important;
  
}

.custom-upload-btn::before{
  font-family: 'FontAwesome';
  content: '\f0c6';
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



.kt-switch {
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle; }
  .kt-switch input:empty {
    margin-left: -999px;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0; }
  .kt-switch input:empty ~ span {
    display: inline-block;
    position: relative;
    float: left;
    width: 1px;
    text-indent: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .kt-switch input:empty ~ span:before,
  .kt-switch input:empty ~ span:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in; }
  .kt-switch.kt-switch--icon input:empty ~ span:after {
    font-family: "Font Awesome 5 Pro";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "\f00c"; }
  .kt-switch.kt-switch--icon input:checked ~ span:after {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
     }
  .kt-switch.kt-switch--icon-check input:checked ~ span:after {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""; }
  .kt-switch input:empty ~ span {
    line-height: 30px;
    margin: 2px 0;
    height: 30px;
    width: 57px;
    border-radius: 15px; }
  .kt-switch input:empty ~ span:before,
  .kt-switch input:empty ~ span:after {
    width: 54px;
    border-radius: 15px; }
  .kt-switch input:empty ~ span:after {
    height: 24px;
    width: 24px;
    line-height: 26px;
    top: 3px;
    bottom: 3px;
    margin-left: 3px;
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle; }
  .kt-switch input:checked ~ span:after {
    margin-left: 26px; }
  .kt-switch.kt-switch--lg input:empty ~ span {
    line-height: 40px;
    margin: 2px 0;
    height: 40px;
    width: 75px;
    border-radius: 20px; }
  .kt-switch.kt-switch--lg input:empty ~ span:before,
  .kt-switch.kt-switch--lg input:empty ~ span:after {
    width: 72px;
    border-radius: 20px; }
  .kt-switch.kt-switch--lg input:empty ~ span:after {
    height: 34px;
    width: 34px;
    line-height: 34px;
    top: 3px;
    bottom: 3px;
    margin-left: 3px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle; }
  .kt-switch.kt-switch--lg input:checked ~ span:after {
    margin-left: 34px; }
  .kt-switch.kt-switch--sm input:empty ~ span {
    line-height: 24px;
    margin: 2px 0;
    height: 24px;
    width: 40px;
    border-radius: 12px; }
  .kt-switch.kt-switch--sm input:empty ~ span:before,
  .kt-switch.kt-switch--sm input:empty ~ span:after {
    width: 38px;
    border-radius: 12px; }
  .kt-switch.kt-switch--sm input:empty ~ span:after {
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 2px;
    bottom: 2px;
    margin-left: 2px;
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle; }
  .kt-switch.kt-switch--sm input:checked ~ span:after {
    margin-left: 16px; }
  .form-group.row .kt-switch {
    margin-top: 0.15rem; }
    .form-group.row .kt-switch.kt-switch--lg {
      margin-top: 0rem;
      position: relative;
      top: -0.3rem; }
    .form-group.row .kt-switch.kt-switch--sm {
      margin-top: 0.3rem; }

.kt-switch input:empty ~ span:before {
  background-color: #e8ebf1; }

.kt-switch input:empty ~ span:after {
  color: #f8f9fb;
  background-color: #ffffff; }

.kt-switch input:checked ~ span:before {
  background-color: #e8ebf1; }

.kt-switch input:checked ~ span:after {
  background-color: var(--greenLight);
  color: #ffffff; }

.kt-switch input[disabled] {
  cursor: not-allowed; }
  .kt-switch input[disabled] ~ span:after,
  .kt-switch input[disabled] ~ span:before {
    cursor: not-allowed;
    opacity: 0.7; }

.kt-switch.kt-switch--brand:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #5d78ff; }

.kt-switch.kt-switch--brand:not(.kt-switch--outline) input:empty ~ span:after {
  color: #5d78ff;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--brand:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #5d78ff; }

.kt-switch.kt-switch--brand:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--brand input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--brand input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--brand input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--brand input:checked ~ span:after {
  background-color: #5d78ff;
  opacity: 1; }

.kt-switch.kt-switch--light:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--light:not(.kt-switch--outline) input:empty ~ span:after {
  color: #ffffff;
  background-color: #282a3c;
  opacity: 0.4; }

.kt-switch.kt-switch--light:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--light:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--light input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--light input:empty ~ span:after {
  color: #282a3c; }

.kt-switch.kt-switch--outline.kt-switch--light input:checked ~ span:before {
  background-color: #282a3c; }

.kt-switch.kt-switch--outline.kt-switch--light input:checked ~ span:after {
  background-color: #ffffff;
  opacity: 1; }

.kt-switch.kt-switch--dark:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #282a3c; }

.kt-switch.kt-switch--dark:not(.kt-switch--outline) input:empty ~ span:after {
  color: #282a3c;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--dark:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #282a3c; }

.kt-switch.kt-switch--dark:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--dark input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--dark input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--dark input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--dark input:checked ~ span:after {
  background-color: #282a3c;
  opacity: 1; }

.kt-switch.kt-switch--primary:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #5867dd; }

.kt-switch.kt-switch--primary:not(.kt-switch--outline) input:empty ~ span:after {
  color: #5867dd;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--primary:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #5867dd; }

.kt-switch.kt-switch--primary:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--primary input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--primary input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--primary input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--primary input:checked ~ span:after {
  background-color: #5867dd;
  opacity: 1; }

.kt-switch.kt-switch--success:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #0abb87; }

.kt-switch.kt-switch--success:not(.kt-switch--outline) input:empty ~ span:after {
  color: #0abb87;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--success:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #0abb87; }

.kt-switch.kt-switch--success:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--success input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--success input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--success input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--success input:checked ~ span:after {
  background-color: #0abb87;
  opacity: 1; }

.kt-switch.kt-switch--info:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #5578eb; }

.kt-switch.kt-switch--info:not(.kt-switch--outline) input:empty ~ span:after {
  color: #5578eb;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--info:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #5578eb; }

.kt-switch.kt-switch--info:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--info input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--info input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--info input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--info input:checked ~ span:after {
  background-color: #5578eb;
  opacity: 1; }

.kt-switch.kt-switch--warning:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #ffb822; }

.kt-switch.kt-switch--warning:not(.kt-switch--outline) input:empty ~ span:after {
  color: #ffb822;
  background-color: #111111;
  opacity: 0.4; }

.kt-switch.kt-switch--warning:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #ffb822; }

.kt-switch.kt-switch--warning:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--warning input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--warning input:empty ~ span:after {
  color: #111111; }

.kt-switch.kt-switch--outline.kt-switch--warning input:checked ~ span:before {
  background-color: #111111; }

.kt-switch.kt-switch--outline.kt-switch--warning input:checked ~ span:after {
  background-color: #ffb822;
  opacity: 1; }

.kt-switch.kt-switch--danger:not(.kt-switch--outline) input:empty ~ span:before {
  background-color: #fd397a; }

.kt-switch.kt-switch--danger:not(.kt-switch--outline) input:empty ~ span:after {
  color: #fd397a;
  background-color: #ffffff;
  opacity: 0.4; }

.kt-switch.kt-switch--danger:not(.kt-switch--outline) input:checked ~ span:before {
  background-color: #fd397a; }

.kt-switch.kt-switch--danger:not(.kt-switch--outline) input:checked ~ span:after {
  opacity: 1; }

.kt-switch.kt-switch--outline.kt-switch--danger input:empty ~ span:before {
  border: 2px solid #dee3eb;
  background-color: #e8ebf1; }

.kt-switch.kt-switch--outline.kt-switch--danger input:empty ~ span:after {
  color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--danger input:checked ~ span:before {
  background-color: #ffffff; }

.kt-switch.kt-switch--outline.kt-switch--danger input:checked ~ span:after {
  background-color: #fd397a;
  opacity: 1; }



@-webkit-keyframes kt-pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  65% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }

@keyframes kt-pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  65% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }

.kt-pulse {
  position: relative; }
  .kt-pulse .kt-pulse__ring {
    display: block;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    position: absolute;
    -webkit-animation: kt-pulse 3.5s ease-out;
    animation: kt-pulse 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(226, 4, 4);
    top: -8px;
    left: -10px;
    }
    @media screen\0 {
      .kt-pulse .kt-pulse__ring {
        top: 2px;
        left: 2px; } }


.btn-group.btn-more {
    
    outline: none;
}

.btn-group.btn-more .btn {
background-color: transparent;   
outline: none;
background-image : url('../images/more-vertical.svg');
background-repeat: no-repeat;
background-position: center;
background-size: 28px;
}


body {
  /*
  background-color: #f5f5f5;
  */
  
}



.main-navigation {
    float: left;
    display: inline-block;
    width: 150px;
    z-index: 200;
    position: relative;
    padding: 100px 0 0 2px;
    margin-right: -1px;
    overflow: hidden;
    margin-left: 16.6%;
    
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    margin: 0 0 5px 0;
    padding: 20px 15px;
}

.main-navigation li a {   
    display: block;
    transition: all 0.5s ease;
    color: #333;
    text-decoration: none;
    opacity: 0.8;
}

.main-navigation li a .icon {
  font-size: 20px;
  display: block;
  text-align: center;
}

.main-navigation li a:hover {
    opacity: 1 !important;
    color: var(--pink);
}


.main-navigation li.current {
    opacity: 1 !important;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    color: #404244;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    -moz-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    box-shadow: 0 2px 3px rgba(56,67,67,0.2);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

}

.main-navigation li.current a {
    cursor: default;
    opacity: 1 !important;
    color: var(--green);
}



.main-navigation li a .title {
    display: block;
    font-family: AvenirLT-Black,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 5px;

}



.padder {
    padding: 30px 0 50px 0;
}


.main-area {
    float: left;
    min-height: 95vh;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
 
 -webkit-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
 -moz-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
 box-shadow: 0 2px 3px rgba(56,67,67,0.2);
 
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    float: left;
    display: inline;
    border-radius: 4px;
    z-index: 100;
    position: relative;
    margin: 0 0 20px 0;
    background-color: #fff;
    padding-bottom: 10px;

  }


.bg-red, .bg-dander {
    background-color: var(--red) !important;
}

.bg-yellow, .bg-warning {
   background-color: var(--yellow) !important; 
}

.bg-info, .bg-blue {
   background-color: var(--blue) !important; 
}

.bg-success, .bg-green {
   background-color: var(--greenLight) !important; 
}


span.qqScope {
    color: #fff;
    font-size: 11px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -42px;
    padding: 0px 2px;
    border-radius: 9%;
    width: 33px;
    height: 15px;
    text-align: center;
    line-height: 14px;
}

span.qqScope.public {
  background-color: none; 
  color: #c1c1c1;
  border: 1px solid #c1c1c1;
}

span.qqScope.private {
  color: #fff; 
  background-color: var(--pink) !important;
  border: 1px solid var(--pink);
}

span.qqScope.local {
  color: #fff; 
  background-color: var(--blue) !important; 
  border: 1px solid var(--blue);
}



ul.stepperNav {
  list-style:none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.stepperNav li {
  flex: 1;
  text-align: center;
  width: 150px;
  height: 75px;
  box-sizing: border-box;
  border-collapse: collapse;
  
  opacity: 0.9;
  transition: all 0.3s ease-out;
  
}




.stepperNav li .stageIndigator {
    width: 30px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: var(--greyLight);
    color: var(--greenLight);   
    font-weight: 800; font-size: 14px;
    display: inline-block;

}

.stepperNav li.active .stageIndigator {
    background-color: var(--greenLight);
    color: #fff;
}

.stepperNav li a {
  font-size: 17px;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  color: #9a9494;
  font-weight: 800;
}


.stepperNav li:hover {
  
}

.stepperNav li.active {
    opacity: 1 !important;
    background-color: #ffffff;
}


.stepperNav li .innerContents {
    transform: translateY(100%);
}



.stepperNav li.active a {

  color: var(--greenLight);

}

  




.wizardContainer {
  margin-top: 50px;
}

.wizardContainer .stepper {

display: block;

}


.wizardContainer .stages {
  flex: 1;
  background-color: #fff;
}


.wizardContainer .fxCol {
  padding: 10px;
}

.bg__root {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    z-index: -99999;
    overflow: hidden;
}


.stages .stage-inner {
  padding: 20px;
}



.btn.std {
  width: 100px;
}

.btn.stdx {
  width: 300px;
}


ul.tags.level1 {margin-left: 0px;}

ul.tags {
  list-style: none;
  margin-right: 50px;
}

ul.tags li {
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 5px;
}


ul.tags li.active a {
  color: var(--green);
  font-weight:  600;
}

ul.tags li a {
  color: #333333;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

ul.tags li a:focus {
  outline: none;
  border: none;
  text-decoration: none;
}



p.catLabel {
  color: var(--yellow);
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 150px;
  border-bottom: 1px solid var(--yellow);
  font-weight: bold;
}



section.catSelectWrap {

  display: flex;


  
}


.wiz-contbox {

  width: 960px;
  margin: 0 auto;

}

.d-inlineBlock {
  display: inline-block;
}


.formControlflexWrap {
  display: flex;
  margin-bottom: 30px;
  align-items: baseline;
}

.formControlflexWrap .flexFormLabel {
  flex: 1;
}

.formControlflexWrap .flexFormControl {
  flex: 2;
}

.formControlflexWrap .flexFormLabel, .formControlflexWrap .flexFormControl {
  height: 50px;

}


.formControlflexWrap .flexFormLabel label {
  font-weight: normal;
  font-size: 18px;
  color: var(--grey);
}



.formControlflexWrap .flexFormControl input[type="text"] 
{

  border: none;
    outline: none;
    border-bottom: 1px solid #c1c1c17d;
    font-size: 18px;
    box-shadow: none;

}

.formControlflexWrap .flexFormControl .kt-switch {
  margin-left: 100px;
}




.clrFix::after{
  content: '';
  display: table;
  height: 0px;
  clear: both;
  zoom: 1;
}


.flexFormLabel .icon-question-sign {
  position: relative;
}

.flexFormLabel .icon-question-sign:hover {
  color: var(--green);
}

.icon-question-sign .label-info {
    position: absolute;
    top: 22px;
    left: 10px;
    background-color: #333;
    color: #f1f1f1;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    width: 200px;
    z-index: 1000;
    border-radius: 8px;
    font-family: 'proxima-nova';
    opacity: 0px;
    display: none;
    transition: all 0.5s ease-in;
}


.icon-question-sign .label-info::before {
  left: 100%;
  top: 50%;
  border: 1px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-left-color: #333;
  border-right-color: #333;
  
}


.icon-question-sign:hover .label-info {
  display: inline-block;
  opacity: 1;
}



.examTemplateContainer {
  padding-top: 25px;
  padding-bottom: 50px;
}



.wizardContainer.compactInpage {
  width: 900px;
}


.span9.bg-white .col-right {
  padding-left: 10px;
  padding-right: 10px;
}


#dashGrid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 15px;
}




.gridItems.one {

  grid-column: 1 / 8;
  
}

.gridItems.two {

  grid-column: 8 / 11;

}

.gridItems.three {

  grid-column: 11 / -1;
  grid-row: 1 / 3;
  
}


.gridItems.four {

  grid-column: 1 / 5;
  
}

.gridItems.five {

  grid-column: 5 / 11;
  grid-row: 2 / 4;
  
}

.gridItems.six {

  grid-column: 1 / 5;
  grid-row: 3 / 4;
  
}

.gridItems.seven {
  grid-column: 1 / 5; 
}

.gridItems.eight {
  grid-column: 5 / 8; 
}


.gridItems.nine {
  grid-column: 8 / 11; 
}

.gridItems.ten {
  grid-column: 11 / -1;
  grid-row: 3 / 5; 
}

#dashGrid .gridItems {

  background-color: white;
  /*
  border-radius: 8px;
  */
  border: 1px solid #80808033;
  transition: all 0.5s ease-in;
  padding: 10px;


}


#dashGrid .gridItems:hover {
  border: 1px solid #ebeef2;
  box-shadow: 0 0 16px rgba(87,86,90,.08);
}

.gridItems h3 {
  padding: 0px;
  margin: 0px;

}



span.status {
  display: inline-block;
  padding: 5px 5px;
  box-shadow: none;
  outline: none;
  font-weight: 800;
  font-size: 12px;
  width: 70px;

}


span.status.working {
  color: var(--blue);
  background-color: #85dff75c;
}

span.status.finished {
  color: var(--green);
  background-color: #3db8623b;
}


span.status.initiated {
  color: var(--yellow);
  background-color: #edbe4038;
}

span.status.terminated {
  color: var(--red);
  background-color: #ed514059;
}


.mt-20 {margin-top: 20px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}


.mb-20{
  margin-bottom: 20px;
}

.mb-15{
  margin-bottom: 15px;
}

.dfx-center-xy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dfx-center-x {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.dfx-center-y {
  display: flex;
  flex-direction: row;
  align-items: center; 
}


#questionsSEttingsWrapper.activated {

  transform: translate3d(-550px, 0, 0);

}

#questionsSEttingsWrapper {
  width: 600px;
  position: fixed;
  right: -600px;
  top: 100px;
  z-index: 99999;
  transition: all 0.5s ease-in;
}

#questionsSEttingsWrapper .settingsArea {
  padding: 10px;
}

#questionsSEttingsWrapper .stateicon {position: relative}


#questionsSEttingsWrapper .stateicon .togglerButton {
    position: absolute;
    top: 45px;
    left: -42px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    font-size: 1.3rem;
}

#questionsSEttingsWrapper .togglerButton .far {

  transition: all .5s ease-out;
  color: var(--green);

}


#questionsSEttingsWrapper.activated .togglerButton .far{
  transform: rotate(180deg);
  color: var(--yellow);
}    

.quiztitlefilter {
  position: absolute;
  position: absolute;
  top: 43px;
}


#bg__siteBackgrondImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url('/assets/images/site_background__root.jpg');
  background-repeat: no-repeat;
  z-index: -999999999;


}


.loginInerWrapper {
  background-color: rgba(255,255,255,0.65);
  padding: 40px;
  border-radius: 8px;
  min-width: 500px;

  width: 800px;
  margin: 0 auto;

}


#login__root {


display: flex;
    height: 100vh;
    align-items: center;

}    


.quizPlayWrapper {width: 1000px; margin: 0 auto;}


#canvasScrollArea {
  height: 55vh;
    overflow-x: hidden;
    overflow-y: auto;
    /*
    display: flex;
    align-items: center;
    */

    padding-top: 5px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
    padding-right: 10px;
}
    
}


.canvasItem {

}


.reviewWarningBLock {
    padding: 40px;
    margin-bottom: 50px;
    color: #827373;
    text-align: center;
}

.startRewieBigButton {
    padding: 50px 20px;
    font-size: 30px;
    background-color: var(--greenLight);
    color: #fff;

}


#controllingArea__main {
  position: absolute;
  width: 1000px;
  bottom: 0px;
  padding-top: 10px;
  border-top: 1px solid var(--grey);
  background-color: #fff;
  padding-bottom: 65px
}



.mt-20 {margin-top: 20px;}

.mb-20 {margin-bottom: 20px;}

.pd-10 {padding: 10px}


.afterMatch:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}

table.no-border td {border: none;}



.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: var(--greyLight);
  color:#333;
  font-size: 13px;
}



.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;

}



.genAutoPass {
  font-size: 20px;
    font-weight: bold;
    color: #000;
}


tr.activeScoreCardRow {
  
  background-color: #3db8623b;
}


.ic-2x {
  font-size: 2em;
}


.ic-1-5x {
  font-size: 1.5em;
}


i.floatcons {
    position: absolute;
    top: 38px;
    font-size: 20px;
    left: 0px;
}

.btn {user-select: none}


.quizPlayMeta p {
  margin-bottom: 0px !important;
}

.bbr-grey {

  border-bottom: 1px solid var(--grey);

}

.quizTitleHeading {
  font-size: 28px;
}

.vam {
  vertical-align: middle;
}