/*
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body {
    font-family: 'Droid Arabic Kufi', sans-serif;
    
}
*/



@font-face {
    font-family: "AlJazeraRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Al-Jazeera-Arabic-Regular.woff") format("woff");
}



body {
     
    font-family: 'AlJazeraRegular', sans-serif;
}








[lang="ar"].dak {
    font-family: 'Droid Arabic Kufi', sans-serif;
}

body {text-align: right;}


[class^="icon-"], [class*=" icon-"] {
    margin-left: 0.4em;
}


[class*="span"] {
    float: right;
    margin-left: 30px;
    min-height: 1px;
}


.table th, .table td, table tr {
    text-align: right;
 /*   font-family: 'Droid Arabic Kufi', Tahoma, Geneva, sans-serif; */
}


/* fixing align for middle radio and tick of the checkboxes */
input[type="radio"]:after {
    left: -7px;
    top: 5px;
}

input[type="checkbox"]:after {
    left: -5px;
    top: 5px;

}


h1.c-profile, h2.c-profile, h3.c-profile, h4.c-profile, h5.c-profile, h6.c-profile, .group-actions.c-profile {
     text-indent: 20px;
}

#course-list > h2 {
    text-indent: 200px
}


.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: right;
    margin-left: 20px;
}


.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    float: right;
}


.queDesc p {
    font-size: 18px;
    font-family: 'AlJazeraRegular', sans-serif;
}

.btn {

    font-family: 'AlJazeraRegular', sans-serif;

}


p, small, .small {
    font-family: 'Droid Arabic Kufi', sans-serif !important
}



.t-right {
    text-align: left;
}

.t-left {
    text-align: right;
}


.pull-right {
    float: left;
}

.pull-left {
    float: right;
}