* {box-sizing: border-box;}
  html, body {
	margin: 0;
	padding: 0;
	width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#page-wrap.tab-layout {

min-height: calc(100vh - 170px) !important;

}


.hbox.stretch.parent{
  background-color: #f9fafc;
}


.border-right {
  border-right: 1px solid #ebeef2;
}

.border-left {
  border-left: 1px solid #ebeef2;
}

.border-top {
  border-top: 1px solid #ebeef2;
}

.border-bottom {
  border-bottom: 1px solid #ebeef2;
}

.border-all {
  border: 1px solid #ebeef2;
  box-shadow: 0 0 16px rgba(87,86,90,.08);
}



.hbox {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
    width: 100%;

}

.hbox.stretch {height: 100%}

.hbox > aside, .hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
}

.vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

.vbox > header ~ section {
    top: 60px;
}

.vbox > section, .vbox > footer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}


.aside-sm {
    width: 200px;
}


.content .vbox > header {
    min-height: 50px;
}

.content .vbox > header, .content .vbox > section {
  padding-left: 10px;
  padding-right: 10px;
}


.bg-dark {
  background-color: #444c5c;
}


.bg-black.dk {
    background-color: #24282f;
}


.nav-brand {
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    display: block;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50,50,50,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50,50,50,0.6);
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50,50,50,0.1);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(50,50,50,0.2);
}



ul, ul li {list-style: none;}

#top-menu {
  margin-top: 20px;
  margin-left: 15px;
}




#top-menu li a i.fas, #top-menu li a i.fab  {

  vertical-align: middle !important;
  margin-right: 5px;

}

#top-menu li a {
  color: #ccc;
  transition: all .3s ease-out;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  outline: none;
  font-size: 16px;
  padding: 11px 3px;
  font-weight: 800;
  
}

#top-menu li.active {
  
}

#top-menu li.active  a {
  color: var(--greenLight);
}


#top-menu li:hover a {

  color: var(--green);

}


footer#tabLayoutFooter {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;

}


.stand-off {
  box-shadow: 1px 1px 5px 1px #ccc;
}


.pageContentWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}


h2.form-heading {
  color: #ccc;
}


/* float labels  */


form.floatable .field-wrap {
  position: relative;
  height: 20px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}

form.floatable .float-field {
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #d5d5db;
  color: #454553;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  box-shadow: none;
  outline: none;
}


form.floatable select{
  border: none;
  border-bottom: 1px solid #d5d5db;
}

form.floatable select:focus{
  
  box-shadow: none;
  outline: none;
}

form.floatable .float-field:valid + label.placeholder,
form.floatable .float-field:focus + label.placeholder {
  -webkit-transform: translate3d(0, -25px, 0);
          transform: translate3d(0, -25px, 0);
          box-shadow: none;
          outline: none;
          color: var(--greenLight);

}


form.floatable .placeholder.invalidSelectPlaceholder {
  color: #c2c2c6 !important;
  -webkit-transform: translate3d(0, 0px, 0) !important;
          transform: translate3d(0, 0px, 0) !important;
}

form.floatable .placeholder {
  pointer-events: none;
  top: 35px;
  font-family: 'Lato', sans-serif;
  position: absolute;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #c2c2c6;
  text-transform: uppercase;
  text-indent: 6px;
  font-weight: 500;

}


form.floatable .placeholder.static {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: var(--greenLight) !important;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -30px
  }

form.floatable .float-field:invalid:focus {
    border-color: var(--pink);
    box-shadow: none;
}

form.floatable .float-field:valid:focus {
    border-color: var(--greenLight);
    box-shadow: none;
}

form.floatable  .float-error {
  color: var(--pink);
  /*
  font-weight: 800;
  */
  text-align: right;
  position: absolute;
  right: 0;
  top: 4px;
  font-size: 12px;
}


form.floatable .field-wrap.hasflatCons .float-field{
  text-indent:  20px;
}

form.floatable .field-wrap.hasflatCons .placeholder{
  text-indent:  26px;
}



.langText {
  text-transform: uppercase;
}

.flexTabHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.flexTabHeader > div {
  
}

.flexTabHeader__InnerRightWrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn-group.topUserDrop .btn {
  background: none !important;
  color:  #828282;
  outline: none;
  border: none;
  text-transform: none;
}


.flexTabHeader__InnerRightWrapper .langCont {
    position: relative;
}

.flexTabHeader__InnerRightWrapper .langCont a {
  font-size: 18px;
  color: var(--grey);
}


.flexTabHeader__InnerRightWrapper .langCont::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1.5rem;
  top: 0;
  right: -10px;
  border-right: 1px solid #c1c0c0;
}



 .grid12Col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.grid12Col.gap10{
    grid-gap: 10px;  
}

.grid12Col.gap15{
    grid-gap: 15px;  
}

.grid12Col.gap20{
    grid-gap: 20px;  
}

.grid12Col.gap5{
    grid-gap: 5px;  
}



.grid12Col .gc1-half{
  grid-column: 1 / 7;
}

.grid12Col .gc2-half{
  grid-column: 7 / -1;
}

.grid12Col .gc2-full{
  grid-column: 1 / -1;
}

.g_nested {display: contents;}


.gc-auto-half div:nth-child(1)  {

  grid-column: 1 / 7;

}

.gc-auto-half div:nth-child(2)  {

  grid-column: 7 / -1;

}

.grid12Col .gclm {border: 1px solid red;}


.quad div:nth-child(1)
{
  grid-column: 1 / 4;
}

.quad div:nth-child(2)
{
  grid-column: 4 / 7;
}

.quad div:nth-child(3)
{
  grid-column: 7 / 10;
}

.quad div:nth-child(4)
{
  grid-column: 10 / 13;
}

.triplet div:nth-child(1)
{
    grid-column: 1 / 5;   
}

.triplet div:nth-child(2)
{
    grid-column: 5 / 9;   
}

.triplet div:nth-child(3)
{
    grid-column: 9 / 13;      
}


.gc-first-quater {

  grid-column: 1 / 4;

}

.gc-last-remain-quater {

  grid-column: 4 / -1;

}

.gc-first-remain-quater {

  grid-column: 1 / 10;

}

.gc-last-quater {

  grid-column: 10 / -1;

}


.gc-1-4 {

  grid-column: 1 / 5;

}

.gc-5-12 {

  grid-column: 5 / -1;

}

.gc-1-8 {

  grid-column: 1 / 9;

}

.gc-9-12 {

  grid-column: 9 / -1;

}


.gc-triplet-solo {

    grid-column: 5 / 9;   

}

.gc-triplet-solo + div {
    grid-column-start: 1;  

    background-color: pink;
}


.gc-1-3 {

  grid-column: 1 / 4;

}

.gc-4-9 {

  grid-column: 4 / 10;

}

.gc-10-12 {

  grid-column: 10 / -1;

}

.gc-1-6 {

  grid-column: 1 / 7;  

}

.gc-7-12 {

  grid-column: 7 / -1;  

}



.gc-1-5 {

  grid-column: 1 / 6;

}

.gc-6-12 {

  grid-column: 6 / 13;

}

.gc-1-7 {

  grid-column: 1 / 8;

}

.gc-8-12 {

  grid-column: 8 / 13;

}



.align-self-end {
  justify-self: end;
}

.align-self-center {
  align-self: center;
}

.galign-v-item-center{
  align-items: center;
}



.cbf:before, .cbf:after {
    content: "";
    display: table;
    line-height: 0;

}


.newTimer {
  display: inline-block;
  width: 80px;
}

.newTimer.high {
  color: var(--green);
}

.newTimer.med {
  color: var(--yellow);
}

.newTimer.low {
    color: var(--red);
}



.wobble {

  animation-name: wobbleAnimate;
  animation-duration: .3s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;

}


@keyframes wobbleAnimate {

  0% {
    color: var(--pink);
    transform: scale(1.2);
  }

  25% {
    color: var(--green);
    transform: scale(1.1);
  }


  50% {   
    color: var(--green);
    transform: scale(1);
  }


  75% {   
    color: var(--green);
    transform: scale(1.2);
  }



  100% {

    transform: scale(1);
    color: var(--green);
    
  }

}

.tabHeading {
  font-weight: 800;
    color: var(--greenLight);
    font-size: 20px;
}


.textLogo {
    font-size: 20px;
    letter-spacing: 1.2px;
    padding: 5px 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    color: #ccc;
    text-shadow: 1px 1px 3px  #ccc;
    cursor: pointer;
}


.textLogo:hover {
  border-color: var(--greenLight);
  color: var(--greenLight);
  text-shadow: 1px 1px 3px  var(--greenLight);

}

select.limitWizard {
  font-size: 20px;
  font-weight: 500;
}

p.xAllocate {
      font-size: 20px;
    font-weight: bold;
    line-height: 2;
}


.divider-grouping {
  padding: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid var(--greyLight);
}