<section class="hbox">



    
    <div class="row mb-10">
        <div class="span6 bg-white border-all">
            <h3>Categories : </h3>
            <a class="btn btn-warning" ui-sref="dash.cats()">List View</a>
        </div>
        
    </div>

    
                <div class="col-right bg-white border-all">

              
                    <table class="table no-border">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="item in vm.dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.tree}}</td>
                            
                        </tr>

                        </tbody></table>

                </div><!-- end col right-->





            </section>