<section class="span9 bg-white border-all">

    <div class="row">
        <div class="span4">
            <h3>Categories : </h3>
            <a class="btn btn-warning" ui-sref="dash.cats()">List View</a>
        </div>
        
    </div>

    
                <div class="col-right">

              
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category</th>
                            

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="item in vm.dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.tree}}</td>
                            
                        </tr>

                        </tbody></table>

                </div><!-- end col right-->
            </section>