<section class="span9">

    <div class="row">
        <div class="span4">
            <h3>Categories : </h3>
            <a class="btn btn-warning btn-small" ui-sref="dash.catree()">Tree View</a>
        </div>
        <div class="span4">
            <div ng-hide="vm.pageMode == 'new' || vm.pageMode == 'edit'" class="btn btn-success btn-small pull-right" ng-click="vm.pageMode = 'new'">Add New</div>
        </div>
    </div>

    
                <div class="col-right">

                    <form name="addpCat" id="addpCat" class="form-search form-inline" ng-if="vm.pageMode == 'new'">

                        <input type="text" class="input-large search-query span5" placeholder="Category Name" ng-model="vm.ncat.name">

                        <select name="paretncat" ng-model="vm.ncat.pcat_id">

                            <option selected ng-value="0">{{vm.ncat.catLabel}}</option>
                            <option ng-repeat="item in vm.dataList" ng-value="item.id">{{item.category}}</option>
                            
                        </select>

                        <button class="btn btn-small btn-twitter" ng-click="vm.addNew()">Save</button>
                    </form>


                    <form name="editCategory" id="editCategory" class="form-search form-inline" ng-if="vm.pageMode == 'edit'">

                        <input type="text" class="input-large search-query span5" placeholder="Category Name" ng-model="vm.edata.category">

                        <select name="editParentCat" ng-model="vm.edata.parent" ng-change="vm.updatePcatId(vm.edata.parent)">
                            <option value="0" ng-selected="{{vm.edata.parent == 'Null'}}"> Root </option>
                            <option ng-repeat="item in vm.dataList" ng-value="item.category" ng-selected="{{item.category == vm.edata.parent}}">{{item.category}}</option>
                        </select>
                        
                        <button class="btn btn-small btn-twitter" ng-click="vm.udpateCategory()">Update</button>
                    </form>



                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category</th>
                            <th>Parent</th>          
                            <th>&nbsp;</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="item in vm.dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.category}}</td>
                            <td>{{(item.parent == null) ? 'Null' : item.parent}}</td>
                            
                            
                            <td>
                                <div class="btn-group">

                                <a class="btn btn-twitter btn-mini " href="#" data-toggle="dropdown">&#8595; Actions</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="vm.edit(item.id)">Edit</a></li>
                                    <li><a href="#" ng-click="vm.remove(item.id)">Remove</a></li>
                                </ul>
                            </div>
                            </td>
                            
                        </tr>

                        </tbody></table>

                </div><!-- end col right-->
            </section>