<section class="hbox">
    

    <aside>





        <div ng-if="vm.loadingStatus == false"> 
                    <h2 class="t-center">
                        There are no quiz added yet please add one.
                   </h2>
        </div>
        


    


        <div class="bg-white border-all" style="margin-bottom: 20px;"> 

<div class="row-fluid"> 


        <div class="compactCenterBlock" style="width: 300px; margin: 0 auto; padding: 20px 30px;">
            
        <a class="btn btn-twitter btn-block" ui-sref="dash.quizWizard()"> <span class="icon-plus"></span> Add Quiz </a>

        </div>

</div>  

</div>



</section>



<div ng-if="vm.loadingStatus == null" class="bg-white border-all">

<h2 class="t-center t-grey">Loading please wait ...</h2>  </div>




<section class="bg-white border-all" ng-if="vm.loadingStatus == true">
            <div class="col-right">
                

                <table class="table" >



                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Quiz Title</th>
                        <th>Min / Max </th>
                        <th>Duration</th>
                        <th>Enrollment</th>
                        <th>Status</th>
                        <th>Actions</th>

                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="item in vm.dataList">

                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.minScore}} / {{item.maxScore}}</td>
                        <td>{{item.duration}} mins.</td>
                        <td>
                        



                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.enrollment" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.enrollment == '1'" ng-change="vm.toggleEnroll(item.id, item.enrollment)">
                                <span></span>
                              </label>
                            </span>



                        </td>
                        <td>
                        


                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.status" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.status == '1'" ng-change="vm.statusToggle(item.id, item.status)">
                                <span></span>
                              </label>
                            </span>

                        </td>

                        <td>
                            <div class="btn-group btn-more">
                                <a class="btn" href="#"
                                   data-toggle="dropdown">&nbsp;</a>

                                <ul class="dropdown-menu">
                                    <li><a ui-sref="exm.exam({'examID': item.id})"> - Details </a>
                                    <li class=""><a ui-sref="exm.quizQuestions({'examID': item.id})"> - Questions</a></li>
                                    <li class=""><a ui-sref="exm.enroll({'examID': item.id})"> - Enrollment </a></li>
                                    <li><a href="modify-date-time.php" class="c-red"> - Modify Date/Time</a>
                                    <li><a ui-sref="exm.editQuiz()"> - Manage Quiz</a></li>
                                    <li><a ui-sref="exm.quizWeightDistro({'examID': item.id})"> - Weight Distribution</a></li>
                                    <li><a ui-sref="exm.progress({'examID': item.id})"> - Progress Inspect</a></li>

                                </ul>
                            </div>
                        </td>

                    </tr>

                  


                    </tbody>
                </table>


            </div>
            <!-- end col right-->
        </section>



        </aside>