<section class="hbox">


            <aside>



    <div class="bg-white border-all mb-10" ng-if="vm.pageMode == null">

        <h2 class="t-center t-grey">Loading please wait ...</h2>  

    </div>


    <div class="bg-white border-all mt-10" ng-if="vm.pageMode === 'error'">

        <h2 class="t-center t-pink">Permission cannot be loaded</h2>  

    </div>
                
            



        <div class="bg-white border-all mt-10" ng-if="vm.pageMode != 'add'"> 


        <div class="compactCenterBlock" style="width: 300px; margin: 0 auto; padding: 20px 30px;">
            
            <div class="btn btn-success btn-block" ng-click="vm.pageMode = 'add'"> <span class="fas fa-plus"></span> Permissions </div>

        </div>

        </div>  
                
                

                <div class="bg-white border-all mt-20 mb-20" ng-show="vm.pageMode == 'add'">
                    
                
                

                <div ng-show="vm.pageMode == 'add'">

                    <form class="floatable" novalidate>

                        <div class="grid12Col">

                            <div class="gc1-half">
                                

                                <div class="field-wrap pd-10">
                                    <input type="text" class="float-field w-100" ng-model="vm.npermission.name" required>
                                    <label class="placeholder">Enter Permission</label>
                                </div>
                                
                            </div>
                            <div class="gc2-half align-self-center">

                                <button class="btn btn-success " ng-click="vm.savePermission()" style="margin-left: 50px">Save</button>
                                
                            </div>
                            

                        </div>



                    </form>
                </div>


                </div>


                


                <div class="bg-white border-all mt-10" ng-if="vm.pageMode == 'list' || vm.pageMode == 'add'">

                <div class="tableWrapper" style="padding: 10px">

                <table class="table">
                    <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Permission</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.dataList.permissions">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        </td>
                        <td>
                                <div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"> Edit </a></li>
                                    <li><a href="#" ng-click="vm.removePermission(item.id)"> Remove </a></li>
                                </ul>
                            </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                </div>    


                </div>


                </aside>

        </section>