<section class="hbox">



	<aside ng-if="vm.loadingStatus === null">

		<div class="bg-white border-all mb-20" style="padding: 10px;">

            <h3 class="t-center">Loading profile data</h3>

        </div>  


		
	</aside>



	<aside class="bg-white border-all" style="padding: 10px" ng-if="vm.loadingStatus != null">


		<div class="grid12Col gap10">
			<div class="gc1-half" ng-if="profile.companytitle.$valid && profile.slug.$valid">
				<div dropzone="dropzoneConfig" style="width: 200px"></div>
			</div>


			<div class="gc2-half">
				<img ng-src="{{vm.logoUrl}}" width="200" height="50">
			</div>

		</div>


		


		<form name="profile" class="floatable" novalidate>


		<div class="grid12Col gap10">


			<div class="gc1-half">

			<div class="field-wrap">
				<input type="text" name="companytitle" class="float-field w-100" ng-model="vm.profileData.companyTitle" required ng-change="vm.sayHello(vm.profileData.companyTitle)">
				<label class="placeholder">Brand Title</label>
			</div>
				
			</div>


			<div class="gc2-half">

				<div class="field-wrap">
					<input type="text" name="slug" class="float-field w-100 error" ng-model="vm.profileData.slug" required ng-change="vm.slugAvailable(vm.profileData.slug)">
					<label class="placeholder" style="top: 13px">Slug Url</label>
					<span ng-show="vm.slugValidity == false" class="float-error c-pink">Already taken!</span>
				</div>

			</div>



			<div class="gc1-half">

			<div class="field-wrap">
				<input type="text" class="float-field w-100" ng-model="vm.profileData.url" required>
				<label class="placeholder">Url</label>
			</div>
				
			</div>


			<div class="gc2-half">

				<div class="field-wrap">
					<input type="email" class="float-field w-100" ng-model="vm.profileData.email" required>
					<label class="placeholder">Email</label>
				</div>

			</div>


			<div class="gc1-half">

			<div class="field-wrap">
				<input type="text" class="float-field w-100" ng-model="vm.profileData.contactPerson" required>
				<label class="placeholder">Contact Person</label>
			</div>
				
			</div>


			<div class="gc2-half">

				<div class="field-wrap">
					<input type="text" class="float-field w-100" ng-model="vm.profileData.address" required>
					<label class="placeholder">Address</label>
				</div>

			</div>


			<div class="gc1-half">

			<div class="field-wrap">
				<input type="text" class="float-field w-100" ng-model="vm.profileData.mobile" required>
				<label class="placeholder">Mobile</label>
			</div>
				
			</div>


			<div class="gc2-half">

				<div class="field-wrap">
					<input type="text" class="float-field w-100" ng-model="vm.profileData.landline" required>
					<label class="placeholder">Landline</label>
				</div>

			</div>

			<div class="gc1-half">
	
			</div>


			<div class="gc2-half">


				<div class="pull-left w-45">

					
					<button ng-if="vm.loadingStatus ==  false" type="submit" class="btn btn-success btn-block pull-right" ng-click="vm.saveProfile()">Save</button>
					
				</div>

				<div class="pull-right w-45">

					<button ng-if="vm.loadingStatus ==  true" type="submit" class="btn btn-success btn-block pull-right" ng-click="vm.updateProfile()">Update</button>

					
				</div>

				

			</div>





			
		</div>


		</form>



		
	</aside>


	<aside style="width: 600px">	

		


	</aside>


	
</section>