<section class="hbox">

    <aside>



        <div> 



            <form method="post" id="qzques" name="qzques" class="floatable" novalidate>

            <div class="grid12Col gap10" ng-if="vm.examID">

                <div class="gc1-half">

                    <div class="bg-white border-all" style="padding: 10px">

                    <quiz-info-component param="vm.examID"></quiz-info-component>


                    </div>
                    
                </div>

                <div class="gc2-half">
    
                    
                    
                </div>
                
            </div>




            <div class="grid12Col gap10">


                <div class="gc1-half">


                    <div class="queLeftWRapper bg-white border-all" style="padding: 10px 20px">


                    <div class="row pb-20">


                        <div class="span4">
                            <div class="field-wrap">
                                <h4 class="c-green">Categorize</h4>    
                            </div>
                            
                        </div>

                        <div class="span4" ng-if="!vm.QuizPrivate && !vm.bindTopCategory">

                            <div class="field-wrap">

                                <select name="topCategory" id="exmlist" class="w-100 float-field" ng-model="vm.queCategory" ng-pattern="/^[0-9]{1,7}$/" required>
                                
                                <option ng-if="cat.pcat_id == null" ng-repeat="cat in vm.globalList.cat" ng-value="cat.id">{{cat.tree}}</option>
                            </select>

                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.topCategory.$invalid}">Select Category</label>

                            <span ng-show="qzques.$dirty && qzques.topCategory.$invalid" class="float-error" style="left: 0; text-align: left;">Category is required</span>
                                
                            </div>
                            
                        </div>



                        


                    </div>


                    <div ng-if="!vm.QuizPrivate">


                    <div class="row">


                        <div class="span4">

                            <div class="field-wrap">
                                
                            

                            <select name="decipline" id="decipline" class="w-100 float-field"  ng-model="vm.queDecipline" ng-pattern="/^[0-9]{1,7}$/" required>
                                
                                <option ng-repeat="cat in vm.globalList.cat" ng-if="vm.queCategory == cat.pcat_id" ng-value="cat.id">{{cat.tree}}</option>
                            </select>

                            


                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.decipline.$invalid}">Select Sub Decipline</label>

                            <span ng-show="qzques.$dirty && qzques.decipline.$invalid" class="float-error" style="left: 0; text-align: left;">Sub Descipline is required</span>

                            </div>

                            
                        </div>


                        



                        <div class="span4">

                            <div class="field-wrap">                               
                            
                            <select class="w-100 float-field" id="courseCat" name="courseCata"  ng-model="vm.queSection" ng-pattern="/^[0-9]{1,7}$/" required>
                                    
                                    <option ng-repeat="section in vm.globalList.sections" ng-value="section.id" 
                                    ng-if="section.pcat_id == vm.queDecipline && vm.queDecipline != null">{{section.category}}</option>
                                </select>


                                <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.courseCata.$invalid}">Subject</label>


                            <span ng-show="qzques.$dirty && qzques.courseCata.$invalid" class="float-error" style="left: 0; text-align: left;">Subject is required</span>


                            

                            </div>
                        </div>

                    </div>

                    </div> <!-- quiz private -->

                    <div ng-if="vm.QuizPrivate" class="row">

                        <div class="span4">

                            <div class="field-wrap">
                                
                            

                            <select class="w-100 float-field" id="courseCatp" name="courseCatp" ng-model="vm.queSection" ng-pattern="/^[0-9]{1,7}$/" required>
                                    
                                    <option ng-repeat="section in vm.quizData.quizBaseDistro" ng-value="section.subject_id">{{section.subjects}}</option>
                                </select>


                                <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.courseCatp.$invalid}">Subject</label>


                                <span ng-show="qzques.$dirty && qzques.courseCatp.$invalid" class="float-error" style="left: 0; text-align: left;">Subject is required</span>


                            </div>


                        </div>

                    </div>


                    <div class="row pb-20">
                        <div class="span8 bbr-light">
                            <h4 class="c-green">Classification</h4>
                        </div>
                    </div>


                    <div class="row">

                        <div class="span4">

                            <div class="field-wrap">
                                
                            <select name="queType" id="queType" class="w-100 float-field" ng-model="vm.queType" ng-pattern="/^[0-9]{1,7}$/" required>
                                
                                <option ng-repeat="type in vm.globalList.types" ng-value="type.id">{{type.typeEN}}</option>
                            </select>

                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.queType.$invalid}">Type of question</label>

                            <span ng-show="qzques.level.$dirty && qzques.queType.$invalid" class="float-error" style="left: 0; text-align: left;">Set question type</span>

                            </div>
                        </div>


                        <div class="span4">

                            <div class="field-wrap">
                                
                            
                            <select name="level" id="level" class="w-100 float-field" ng-model="vm.queLevel" ng-pattern="/^[0-9]{1,7}$/" required>
                                <option ng-repeat="level in vm.globalList.levels" ng-value="level.id">{{level.levelEN}}</option>
                            </select>

                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.level.$invalid}">Difficulty Level</label>

                            <span ng-show="qzques.level.$dirty && qzques.level.$invalid" class="float-error" style="left: 0; text-align: left;">Set Difficulty</span>


                            </div>
                        </div>
                        
                    </div>



                  <div class="row" ng-show="qzques.$dirty && qzques.level.$valid">
                        <div class="span8">
                            <label>Question Description</label>
                            <textarea ng-model="vm.nque.queDesc" ckeditor required></textarea>
                        </div>
                    </div>


                        <div class="clearfix">&nbsp;</div>
                    <div class="row" ng-if="1 != 1">
                        <div class="span2">
                            <label>Add Images:</label>
                        </div>

                        <div class="span3" >
                            <span class="t-bold">Use Previous Images</span>
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <br>


                    </div><!-- queLeftWRapper -->
                    

                </div> <!-- GRids left -->

                <div class="gc2-half">


                    <div class="queRightWRapper bg-white border-all" style="padding: 10px 20px">


                    <div class="row">

                        <div class="span5">
                            <div id="addMediabtn">

                                <span class="fal fa-camera icon-2x vam"></span><a href="#" ng-click="vm.enableLibrary()"> Add Media</a>
                            </div>
                            <!--addbtn-->
                        </div>

                    </div>

                    <div class="row" ng-if="vm.questionMedia.length < 1 ">
                        <div class="span8">
                            <p>No media attached to question</p>
                        </div>
                    </div>


                    <div class="row" ng-if="vm.questionMedia.length > 0 ">
                        <div class="span8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Label</th>
                                    <th>FilePath</th>
                                    <th>Size</th>
                                   <th>&nbsp;</th>                                   
                                </tr>

                                </thead>


                                <tbody>
                                    <tr ng-repeat="media in vm.questionMedia">
                                        <td>{{media.type}}</td>


                                        <td>

                                            <span ng-if="!item.id.edit">
                                                {{media.title}}
                                            </span>

                                            

                                            <span ng-if="item.id.edit == true">
                                                <input type="text" ng-model="media.title">
                                            </span>

                                            <a href="#" ng-click="item.id.edit = true"><span class="icon-edit-sign"></span></a>

                                        </td>
                                        <td>{{media.filepathurl}}</td>
                                        <td>{{media.size}}</td>
                                        <td>
                                            <a href="#" class="rmbtn" ng-click="vm.removeMedia($index)"><span class="c-red fal fa-times-circle icon-2x vam"></span></a>
                                        </td>

                                        
                                    </tr>
                                </tbody>



                            </table>
                        </div>
                    </div>


                </div>



                <div class="queRightWRapper bg-white border-all mt-10" style="padding: 10px 20px" ng-if="vm.queType != 4">




                    <div class="options_wrapper">
                        
                    
                    <div class="row">
                        <div class="span6">
                            <label>Set options</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span8">
                            <div class="field-wrap">


                                
                            <input type="text" name="opta" id="opta" class="float-field w-100" ng-model="vm.nque.optionA" required>
                            <label class="placeholder">A</label>
                            <i class="fal fa-image vam icon-2x optionAttachIcon" ng-click="vm.activateImageOption('a')"></i>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="span8">

                            <div class="field-wrap">
                                <input type="text" name="optb" id="optb" class="float-field w-100" ng-model="vm.nque.optionB" required>
                                <label class="placeholder">B</label>
                                <i class="fal fa-image vam icon-2x optionAttachIcon" ng-click="vm.activateImageOption('b')"></i>
                            </div>    

                            
        
                            
                        </div>
                    </div>

                    <div class="row" ng-if="vm.queType != 2">
                        <div class="span8">

                            <div class="field-wrap">
                                <input type="text" name="optc" id="optc" class="float-field w-100" ng-model="vm.nque.optionC" required>
                                <label class="placeholder">C</label>


                                <i class="fal fa-image vam icon-2x optionAttachIcon" ng-click="vm.activateImageOption('c')"></i>
                                
                            </div>

                            
                        </div>
                    </div>

                    <div class="row" ng-if="vm.queType != 2">
                        <div class="span8">
                            <div class="field-wrap">

                                <input type="text" name="optd" id="optd" class="float-field w-100" ng-model="vm.nque.optionD" required>
                                <label class="placeholder">D</label>
                                <i class="fal fa-image vam icon-2x optionAttachIcon" ng-click="vm.activateImageOption('d')"></i>
                            </div>    
                            
                        </div>
                    </div>


                    </div><!-- options wrapper -->

                </div>


                <div class="queRightWRapper bg-white border-all mt-10" style="padding: 10px 20px">




                    <div class="row">
                        <div class="span4 w-100" ng-if="vm.queType != 4 && vm.queType != 2 && vm.queType != 3">

                            <div class="field-wrap">
                                
                            
                            <select class="w-100 float-field" id="courseCat" name="radioAnswer" ng-model="vm.nque.answer" required>
                                
                                <option value="a">A</option>
                                <option value="b">B</option>    
                                <option value="c">C</option>
                                <option value="d">D</option>
                            </select>


                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.radioAnswer.$invalid}">Set Answer</label>

                            <i class="fal fa-image vam icon-2x optionAttachIcon" ng-click="vm.activateImageOption('a')"></i>

                            </div>

                        </div>


                        <div class="span4" ng-if="vm.queType == 2">

                            <div class="field-wrap">
                                
                            


                            <select  class="w-100 float-field" id="queAnsTF" name="queAnsTF" ng-model="vm.nque.answer" required>
                                
                                <option value="a">A</option>
                                <option value="b">B</option>    
                            </select>

                            <label class="placeholder" ng-class="{'invalidSelectPlaceholder': qzques.queAnsTF.$invalid}">Set Answer</label>

                            </div>

                        </div>

                        

                        <div class="span8" ng-if="vm.queType == 4">

                            <div class="field-wrap">

                                <input type="text" class="float-field w-100" name="queAnswerTextBox" ng-model="vm.nque.answer" required>

                                <label class="placeholder">Text input as answer</label>



                            </div>


                        </div>


                        <div class="span6" ng-if="vm.queType == 3">
                                
                                <p>Answer : {{vm.nque.optAns}}</p>
                            
                                <label for="answerA" class="checkbox">
                                    <input type="checkbox" name="multiAnswer" ng-value="a" ng-model="vm.optAns.a"> A 
                                </label>

                                <label for="answerB" class="checkbox">
                                    <input type="checkbox" name="multiAnswer" ng-value="b"  ng-model="vm.optAns.b"> B 
                                </label>

                                <label for="answerC" class="checkbox">
                                    <input type="checkbox" name="multiAnswer" ng-value="c"  ng-model="vm.optAns.c"> C 
                                </label>

                                <label for="answerD" class="checkbox">
                                    <input type="checkbox" name="multiAnswer" ng-value="d" ng-model="vm.optAns.d"> D 
                                </label>
                            
                                
                            
                        </div>


                    </div>


                    




                    </div><!-- queRightWRapper -->



                    <div class="bg-white border-all mt-10" style="padding: 20px" ng-hide="qzques.$invalid">


                        <div class="row">
                        <div class="span4">
                            <div id="que-save"  class="btn btn-success btn-block" ng-click="vm.saveQuestion('back')"> Save </div>
                            
                        </div>

                    </div>
                        
                    </div>



                    

                    
                    
                </div> <!-- GRids Right -->
                

            </div>
        
    
            


                    </form>


                  </div>

        </aside>


            

        </section>










    <div class="cst-modal-container" ng-show="vm.showMediaLibrary">
    <div class="cst-modal-window large">
      <div class="cst-modal-header">
        <span style="font-weight: 600">Media Library</span>

        <i class="fal fa-times pull-right" ng-click="vm.closeLibrary()"></i>

      </div>
      <div class="cst-modal-body" style="max-height: 500px; overflow: auto">


        <form>
            
        


        <div class="row">
            <div class="span6">
                <input type="text" name="title" class="w-100" placeholder="Media Title" ng-model="vm.myFormData.title">
            </div>   
            <div class="span2">
                

                <div class="upload-btn-wrapper">
                        <button class="custom-upload-btn">
                            
                        Attach Media</button>
                            <input type="file" name="file" file-input="photo">
                        </div>

                
            </div>

            <div class="span2">
                <button type="submit" class="btn btn-primary" ng-click="vm.sendFile()">Upload</button>
            </div>   
        </div>


        </form>


        <table class="table">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>Preview</th>
                        <th>Label</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in vm.mediaList">
                            <td>
                                
                                <div ng-if="!vm.mediaAddedTolist(item.id)" ng-click="vm.addMediaToQuestion(item)">


                                    <a href="#"><span class="c-green fal fa-link vam"></span> Link </a>

                                </div>

                                
                                <div ng-if="vm.mediaAddedTolist(item.id)">
                                    
                                    <a href="#" class="rmbtn" ng-click="vm.unlinkFromLibrary(item.id)"><span class="c-red fal fa-unlink vam"></span> Unlink </a>

                                </div>


                            </td>
                            <td>{{item.filepathurl}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.size}}</td>    
                       </tr>                   
                    </tbody>
                </table>
        <div>
        
        <button class="btn btn-danger" ng-click="vm.closeLibrary()">Close</button>    
        </div>
        
      </div>
      
    </div>
  </div> <!-- quiz modal container -->

  </div><!-- colright -->


</section>



<div class="cst-modal-container" ng-if="vm.optionImageModal">
    <div class="cst-modal-window">
      <div class="cst-modal-header grid12Col">

        <div class="gc-first-remain-quater">
            <h3 class="c-grey">Attach image option: {{vm.optionLabel}} </h3> 
        </div>
        
        <div class="gc-last-quater">
          <i class="fal fa-times fa-2x pull-right c-grey" ng-click="vm.closeOptionAttachModal()"></i> 
        </div>

      </div>
      <div class="cst-modal-body">


          <form class="floatable" name="changepassword" novalidate>
        
          <div class="grid12Col gap10">


            <div class="gc2-full">
                <div dropzone="dropzoneConfig"></div>
            </div>

          
          <button class="gc-7-12  btn btn-danger" ng-click="vm.closeOptionAttachModal()">Cancle</button>  

          </form>  
        </div>
        
      </div>
      
    </div>