<section class="span9 bg-white-border-all">
            <div class="col-right">

                <div class="row">
                    <div class="span8"> <h3>Add Questions</h3> </div>
                </div>
                

                
                        
                        <quiz-info-component param="vm.examID"></quiz-info-component>


                        <form>
                            
                        

                        <div class="upload-btn-wrapper" ng-hide="1 == 1">
                            <button class="custom-upload-btn">Choose File</button>
                            <input type="file" name="file" file-input="photo">
                        </div>

                        </form>
                        
                

                

                 <form method="post" id="qzques" name="qzques">

                    <div class="row pb-20">
                        <div class="span9 bbr-light">
                            <h4 class="c-green">Categorization</h4>    
                        </div>
                    </div>


                    <div ng-if="!vm.QuizPrivate">

                    <div class="row">
                        <div class="span4">
                            <select name="" id="exmlist" class="w-100" ng-model="vm.queCategory">    
                                <option selected disabled="true">Select Category</option>
                                <option ng-if="cat.pcat_id == null" ng-repeat="cat in vm.globalList.cat" ng-value="cat.id">{{cat.tree}}</option>
                            </select>

                        </div>

                    </div>


                    <div class="row">


                        <div class="span4">

                            <select name="" id="decipline" class="w-100" ng-model="vm.queDecipline">    
                                <option selected disabled="true">Select Category</option>
                                <option ng-repeat="cat in vm.globalList.cat" ng-if="vm.queCategory == cat.pcat_id" ng-value="cat.id">{{cat.tree}}</option>
                            </select>
                            
                        </div>



                        <div class="span4">
                            <select class="w-100" id="courseCat" name="courseCat" ng-model="vm.queSection">
                                    <option selected disabled="true">Select Section</option>
                                    <option ng-repeat="section in vm.globalList.sections" ng-value="section.id"
                                    ng-if="section.pcat_id == vm.queDecipline && vm.queDecipline != null">{{section.category}}</option>
                                </select>
                        </div>

                    </div>

                    </div> <!-- quiz private -->

                    <div ng-if="vm.QuizPrivate" class="row">

                        <div class="span4">
                            <select class="w-100" id="courseCat" name="courseCat" ng-model="vm.queSection">
                                    <option selected disabled="true">Select Section</option>
                                    <option ng-repeat="section in vm.quizData.quizBaseDistro" ng-value="section.subject_id">{{section.subjects}}</option>
                                </select>
                        </div>

                    </div>


                    <div class="row pb-20">
                        <div class="span9 bbr-light">
                            <h4 class="c-green">Type</h4>
                        </div>
                    </div>


                    <div class="row">

                        <div class="span4">
                            <select name="difficulty" id="difficulty" class="w-100" ng-model="vm.queType">
                                <option selected disabled="true">Select Type</option>
                                <option ng-repeat="type in vm.globalList.types" ng-value="type.id">{{type.typeEN}}</option>
                                
                            </select>
                        </div>


                        <div class="span4">
                            <select name="level" id="level" class="w-100" ng-model="vm.queLevel">
                                <option>Select Level</option>
                                
                                <option ng-repeat="level in vm.globalList.levels" ng-value="level.id">{{level.levelEN}}</option>

                                
                            </select>
                        </div>
                        
                    </div>


                        


                    </div>


                    <div class="row">
                        <div class="span8">
                            <label>Question Description</label>
                            <textarea ng-model="vm.nque.queDesc" ckeditor></textarea>
                            
                        </div>
                    </div>


                        <div class="clearfix">&nbsp;</div>
                    <div class="row" ng-if="1 != 1">
                        <div class="span2">
                            <label>Add Images:</label>
                        </div>

                        <div class="span3" >
                            <span class="t-bold">Use Previous Images</span>
                            <label class="switch switch-green">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="ON" data-off="OFF"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    <br>



                    <div class="row">

                        <div class="span5">
                            <div id="addMediabtn">
                                <span class="icon-plus"></span><a href="#" ng-click="vm.enableLibrary()">Add Media</a>
                            </div>
                            <!--addbtn-->
                        </div>

                    </div>

                    <div class="row" ng-if="vm.questionMedia.length < 1 ">
                        <div class="span9">
                            <p>No media attached to question</p>
                        </div>
                    </div>


                    <div class="row" ng-if="vm.questionMedia.length > 0 ">
                        <div class="span9">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Label</th>
                                    <th>FilePath</th>
                                    <th>Size</th>
                                   <th>&nbsp;</th>                                   
                                </tr>

                                </thead>


                                <tbody>
                                    <tr ng-repeat="media in vm.questionMedia">
                                        <td>{{media.type}}</td>


                                        <td>

                                            <span ng-if="!item.id.edit">
                                                {{media.title}}
                                            </span>

                                            

                                            <span ng-if="item.id.edit == true">
                                                <input type="text" ng-model="media.title">
                                            </span>

                                            <a href="#" ng-click="item.id.edit = true"><span class="icon-edit-sign"></span></a>

                                        </td>
                                        <td>{{media.filepathurl}}</td>
                                        <td>{{media.size}}</td>
                                        <td>
                                            <a href="#" class="rmbtn" ng-click="vm.removeMedia($index)"><span class="c-red icon-remove-circle icon-2x vam"></span></a>
                                        </td>

                                        
                                    </tr>
                                </tbody>



                            </table>
                        </div>
                    </div>




                    <div class="bbr-light">&nbsp;</div>

                    <div class="options_wrapper" ng-if="vm.queType != 4">
                        
                    
                    <div class="row">
                        <div class="span6">
                            <label>Set options</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span8">
                            <input type="text" name="opta" id="opta" class="w-100" placeholder="A" ng-model="vm.nque.optionA">
                        </div>
                    </div>

                    <div class="row">
                        <div class="span8">

                            <input type="text" name="optb" id="optb" class="w-100" placeholder="B" ng-model="vm.nque.optionB">
                        </div>
                    </div>

                    <div class="row" ng-if="vm.queType != 2">
                        <div class="span8">

                            <input type="text" name="optc" id="optc" class="w-100" placeholder="C" ng-model="vm.nque.optionC">
                        </div>
                    </div>

                    <div class="row" ng-if="vm.queType != 2">
                        <div class="span8">
                            <input type="text" name="optd" id="optd" class="w-100" placeholder="D" ng-model="vm.nque.optionD">
                        </div>
                    </div>


                    </div><!-- options wrapper -->


                    <div class="row">
                        <div class="span4" ng-if="vm.queType != 4 && vm.queType != 2 && vm.queType != 3">
                            <select  class="w-100" id="courseCat" name="courseCat" ng-model="vm.nque.answer">
                                <option value="">Set Answer</option>
                                <option value="a">A</option>
                                <option value="b">B</option>    
                                <option value="c">C</option>
                                <option value="d">D</option>
                            </select>

                        </div>


                        <div class="span4" ng-if="vm.queType == 2">


                            <select  class="w-100" id="queAnsTF" name="queAnsTF" ng-model="vm.nque.answer">
                                <option value="">Set Answer</option>
                                <option value="a">A</option>
                                <option value="b">B</option>    
                            </select>

                        </div>

                        

                        <div class="span8" ng-if="vm.queType == 4">
                            <input type="text" class="w-100" name="queAnswerTextBox" ng-model="vm.nque.answer" value="Set Answer placeholder="Enter Answer">
                        </div>


                        <div class="span6" ng-if="vm.queType == 3">
                                
                                <p>Answer : {{vm.nque.optAns}}</p>
                            
                                <label for="answerA" class="checkbox">
                                    <input type="checkbox" ng-value="a" ng-model="vm.optAns.a"> A 
                                </label>

                                <label for="answerB" class="checkbox">
                                    <input type="checkbox" ng-value="b"  ng-model="vm.optAns.b"> B 
                                </label>

                                <label for="answerC" class="checkbox">
                                    <input type="checkbox" ng-value="c"  ng-model="vm.optAns.c"> C 
                                </label>

                                <label for="answerD" class="checkbox">
                                    <input type="checkbox" ng-value="d" ng-model="vm.optAns.d"> D 
                                </label>
                            
                                
                            
                        </div>


                    </div>

                    <div class="row">
                        <div class="span4">
                            <div id="que-save"  class="btn btn-success btn-block" ng-click="vm.saveQuestion('back')"> Save & Return </div>
                            
                        </div>

                        <div class="span4">
                            <div id="que-save-add" class="btn btn-twitter btn-block" ng-click="vm.saveQuestion('more')"> Save & Continue</div>
                        </div>



                    </div>

            </div>
            </form>
        </section>




    <div class="cst-modal-container" ng-show="vm.showMediaLibrary">
    <div class="cst-modal-window large">
      <div class="cst-modal-header">
        <span style="font-weight: 600">Media Library</span>

        <i class="icon-remove pull-right" ng-click="vm.closeLibrary()"></i>

      </div>
      <div class="cst-modal-body" style="max-height: 500px; overflow: auto">


        <form>
            
        


        <div class="row">
            <div class="span6">
                <input type="text" name="title" class="w-100" placeholder="Media Title" ng-model="vm.myFormData.title">
            </div>   
            <div class="span2">
                

                <div class="upload-btn-wrapper">
                        <button class="custom-upload-btn">
                            
                        Attach Media</button>
                            <input type="file" name="file" file-input="photo">
                        </div>

                
            </div>

            <div class="span2">
                <button type="submit" class="btn btn-primary" ng-click="vm.sendFile()">Upload</button>
            </div>   
        </div>


        </form>


        <table class="table">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>Preview</th>
                        <th>Label</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="item in vm.mediaList">
                            <td>
                                
                                <div ng-if="!vm.mediaAddedTolist(item.id)" ng-click="vm.addMediaToQuestion(item)">


                                    <a href="#"><span class="c-green icon-circle-arrow-down vam"></span> Add</a>

                                </div>

                                
                                <div ng-if="vm.mediaAddedTolist(item.id)">
                                    
                                    <a href="#" class="rmbtn" ng-click="vm.unlinkFromLibrary(item.id)"><span class="c-red icon-remove-circle vam"></span> Remove</a>

                                </div>


                            </td>
                            <td>{{item.filepathurl}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.size}}</td>    
                       </tr>                   
                    </tbody>
                </table>
        <div>
        
        <button class="btn btn-danger" ng-click="vm.closeLibrary()">Close</button>    
        </div>
        
      </div>
      
    </div>
  </div> <!-- quiz modal container -->