<section class="hbox">





	<aside class="bg-white border-all" ng-if="vm.loading == null">
		<div style="padding: 10px;">
			<h3 class="t-center">Loading questions ...</h3>
		</div>	
	</aside>

	<aside class="bg-white border-all" ng-if="vm.loading == false">
		<div style="padding: 10px;">
			<p class="c-red">Cannot load questions</p>
		</div>	
	</aside>


	


	<aside ng-if="vm.loading == true || vm.loading == 'no contents'">

		  <div class="bg-white border-all" style="margin-bottom: 20px;"> 

<div class="row-fluid"> 




        <div class="compactCenterBlock" style="width: 300px; margin: 0 auto; padding: 20px 30px;">
            
        <a class="btn btn-twitter btn-block" ui-sref="dash.queadd()"> <span class="icon-plus"></span> Questions </a>

        </div>

</div>  




</div>

<div ng-if="vm.loading == 'no contents'" >
		<h3 class="t-center">You have not added any questions yet</h3>
	</div>



		<div style="padding: 10px;" class="bg-white border-all" ng-if="vm.loading == true || vm.loading != 'no contents'">

		<div id="questionsSEttingsWrapper" class="bg-white border-all" ng-class="{'activated': vm.togglers}">

		<div class="stateicon" style="position: relative">
			<span class="togglerButton" ng-click="vm.togglers =! vm.togglers">
				
				<i class="far fa-arrow-alt-circle-left"></i>




			</span>
		</div>


		<div class="settingsArea">
			<div class="grid12Col gap10">
				<div class="g_nested quad">
					<div class="unselected" ng-click="vm.toggleFields('cat', 0)">
						<label>
							<input type="checkbox" ng-model="fields[0].cat">
							Category
						</label>
					</div>
					<div>
						<div class="selected">
						
						<label>
							<input type="checkbox" ng-model="fields[1].decip">
							Decipline
						</label>
					</div>
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[2].author">
							Author
						</label>


					</div>


					<div>

						
						<label>
							<input type="checkbox" ng-model="fields[3].dated">
							Dated
						</label>
						
					</div>
				</div>

				<div class="g_nested quad">
				

					<div>
														
						<label>
							<input type="checkbox" ng-model="fields[4].desc">
							Description
						</label>
					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[5].answer">
							Answers
						</label>

					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[6].diff">
							Difficulty
						</label>

					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[7].type">
							Type
						</label>
						
					</div>
				</div>
				
				<div class="g_nested quad">	
					<div>

						<label>
							<input type="checkbox" ng-model="fields[8].hits">
							Hits
						</label>
						
					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[9].scope">
							Scope
						</label>
						
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[10].status">
							Status
						</label>
						
					</div>
					

				</div> 
			</div>
		</div>
			
		</div>


			<table class="table">
				<thead>
					<tr>
					<th>S.NO</th>
					<th ng-if="fields[0].cat">Category</th>				
					<th ng-if="fields[1].decip">Sub Deciplines</th>
					<th ng-if="fields[2].author">Author</th>
					<th ng-if="fields[3].dated">created at</th>
					
					<th ng-if="fields[4].desc">Description</th>
				
					<th ng-if="fields[5].answer">Answer</th>
					<th ng-if="fields[6].diff">Difficulty</th>

					<th ng-if="fields[7].type">Type</th>
					<th ng-if="fields[10].status">Status</th>
					<th ng-if="fields[8].hits">Hits</th>
					<th ng-if="fields[9].scope">Scope</th>
					<th>&nbsp;</th>
					</tr>
				</thead>


				<tbody>

					<tr ng-repeat="que in vm.questions">
						
					
					<td>{{$index+1}}</td>
					<td ng-if="fields[0].cat">{{que.category}}</td>
					<td ng-if="fields[1].decip">{{que.subject}}</td>
					<td ng-if="fields[2].author">{{que.author}}</td>
					<td ng-if="fields[3].dated">{{que.created_at}}</td>

					<td ng-if="fields[4].desc">

						<p ng-bind-html="que.queDesc">
							
						</p>

					
					<td ng-if="fields[5].answer">{{que.answer}}</td>
					<td ng-if="fields[6].diff">{{que.levelEN}}</td>
					<td ng-if="fields[7].type">{{que.typeEN}}</td>
					
					<td ng-if="fields[10].status">{{que.status}}</td>
					<td ng-if="fields[8].hits">{{que.hits}}</td>
					<td ng-if="fields[9].scope"><span class="status" ng-class="{'finished': que.scope == 'private', 'working': que.scope == 'public', 'initiated': que.scope == 'linked' }">{{que.scope}}</span></td>

					<td>
						<div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Preview</a></li>
                                    
                                    
                                    
                                </ul>
                            </div>
					</td>

					</tr>
				</tbody>
			</table>
		</div>	
	</aside>


</section>	