<section class="hbox">





	<aside class="bg-white border-all mb-20" ng-if="vm.loading == null">
		<div style="padding: 10px;">
			<h3 class="t-center">Loading questions ...</h3>
		</div>	
	</aside>

	<aside class="bg-white border-all mb-20" ng-if="vm.loading == false">
		<div style="padding: 10px;">
			<p class="c-red">Cannot load questions</p>
		</div>	
	</aside>

	<aside class="grid12Col bg-white border-all mb-20" ng-if="vm.loading == 'no contents'">
		<div style="padding: 10px;">

			<h3 class="t-center gc-full">You have not added any questions yet</h3>

			<div class="dfx-center-xy">
					<a class="btn btn-success gc-full" ui-sref="dash.queadd()" style="width: 200px"> <span class="icon-plus"></span> Questions </a>	
			</div>

		</div>	
	</aside>


</section>


<section class="hbox" ng-if="vm.loading == true">


<aside>

	<div class="grid12Col gap10 mb-15">
		<div class="gc-1-8 bg-white border-all">


				<div class="customInner" style="margin: 20px; padding-right: 30px;">

            <form class="floatable w-80">

                <div class="field-wrap">
                    <span class="icon-search quiztitlefilter"></span>
                    <input type="text" name="titlefilter" id="title-filter" class="float-field w-100" required ng-model="vm.descFitler">
                    <label for="title-filter" class="placeholder">Filter By Description</label>
                </div>
                
            </form>


        
        </div>
				

			
		</div>
		<div class="gc-9-12 bg-white border-all dfx-center-xy">
			<a class="btn btn-success" ui-sref="dash.queadd()" style="width: 200px"> <span class="icon-plus"></span> Questions </a>
		</div>

	</div>
	
</aside>

</section>
	


<section class="hbox">

	<aside>
		




		<div ng-if="vm.loading == true">

		<div id="questionsSEttingsWrapper" class="bg-white border-all" ng-class="{'activated': vm.togglers}">

		<div class="stateicon" style="position: relative">
			<span class="togglerButton" ng-click="vm.togglers =! vm.togglers">
				
				<i class="far fa-arrow-alt-circle-left"></i>

			</span>
		</div>


		<div class="settingsArea" class="bg-white border-all">
			<div class="grid12Col gap10">
				<div class="g_nested quad">
					<div class="unselected" ng-click="vm.toggleFields('cat', 0)">
						<label>
							<input type="checkbox" ng-model="fields[0].cat">
							Category
						</label>
					</div>
					<div>
						<div class="selected">
						
						<label>
							<input type="checkbox" ng-model="fields[1].decip">
							Decipline
						</label>
					</div>
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[2].author">
							Author
						</label>


					</div>


					<div>

						
						<label>
							<input type="checkbox" ng-model="fields[3].dated">
							Dated
						</label>
						
					</div>
				</div>

				<div class="g_nested quad">
				

					<div>
														
						<label>
							<input type="checkbox" ng-model="fields[4].desc">
							Description
						</label>
					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[5].answer">
							Answers
						</label>

					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[6].diff">
							Difficulty
						</label>

					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[7].type">
							Type
						</label>
						
					</div>
				</div>
				
				<div class="g_nested quad">	
					<div>

						<label>
							<input type="checkbox" ng-model="fields[8].hits">
							Hits
						</label>
						
					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[9].scope">
							Scope
						</label>
						
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[10].status">
							Status
						</label>
						
					</div>
					

				</div> 
			</div>
		</div>
			
		</div>

	</div>


			<div ng-if="vm.loading == true" class="grid12Col gap5 bg-white border-all" style="padding: 10px; margin-bottom: 10px">
				

					<div>
						<label style="font-weight: 800;">Toggle Data Fields</label>
					</div>


					<div class="unselected" ng-click="vm.toggleFields('cat', 0)">
						<label>
							<input type="checkbox" ng-model="fields[0].cat">
							Category
						</label>
					</div>
					<div>
						<div class="selected">
						
						<label>
							<input type="checkbox" ng-model="fields[1].decip">
							Decipline
						</label>
					</div>
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[2].author">
							Author
						</label>


					</div>


				

				
				

					<div>
														
						<label>
							<input type="checkbox" ng-model="fields[4].desc">
							Description
						</label>
					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[5].answer">
							Answers
						</label>

					</div>
					<div>
							
							<label>
							<input type="checkbox" ng-model="fields[6].diff">
							Difficulty
						</label>

					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[7].type">
							Type
						</label>
						
					</div>
				
				
				
					<div>

						<label>
							<input type="checkbox" ng-model="fields[8].hits">
							Hits
						</label>
						
					</div>
					<div>

						<label>
							<input type="checkbox" ng-model="fields[9].scope">
							Scope
						</label>
						
					</div>

					<div>

						<label>
							<input type="checkbox" ng-model="fields[10].status">
							Status
						</label>
						
					</div>


					<div>

						
						<label>
							<input type="checkbox" ng-model="fields[3].dated">
							Dated
						</label>
						
					</div>
					

				
			</div>

	


			<table class="table bg-white border-all" ng-if="vm.loading == true">
				
				<thead>
					<tr>
					<th>S.NO</th>
					<th ng-if="fields[0].cat">Category</th>				
					<th ng-if="fields[1].decip">Sub Deciplines</th>
					<th ng-if="fields[2].author">Author</th>
					<th ng-if="fields[3].dated">created at</th>
					
					<th ng-if="fields[4].desc">Description</th>
				
					<th ng-if="fields[5].answer">Answer</th>
					<th ng-if="fields[6].diff">Difficulty</th>

					<th ng-if="fields[7].type">Type</th>
					<th ng-if="fields[10].status">Status</th>
					<th ng-if="fields[8].hits">Hits</th>
					<th ng-if="fields[9].scope">Scope</th>
					<th>&nbsp;</th>
					</tr>
				</thead>


				<tbody>

					<tr ng-repeat="que in vm.questions | filter:{ queDesc: vm.descFitler }">
					
					<td>{{$index+1}}</td>
					<td ng-if="fields[0].cat">{{que.category}}</td>
					<td ng-if="fields[1].decip">{{que.subject}}</td>
					<td ng-if="fields[2].author">{{que.author}}</td>
					<td ng-if="fields[3].dated">{{que.created_at}}</td>

					<td ng-if="fields[4].desc">

						<p ng-bind-html="que.queDesc">
							
						</p>

					
					<td ng-if="fields[5].answer">{{que.answer}}</td>
					<td ng-if="fields[6].diff">{{que.levelEN}}</td>
					<td ng-if="fields[7].type">{{que.typeEN}}</td>
					
					<td ng-if="fields[10].status">{{que.status}}</td>
					<td ng-if="fields[8].hits">{{que.hits}}</td>
					<td ng-if="fields[9].scope"><span class="status" ng-class="{'finished': que.scope == 'private', 'working': que.scope == 'public', 'initiated': que.scope == 'linked' }">{{que.scope}}</span></td>

					<td>
						<div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Preview</a></li>
                                    
                                    
                                    
                                </ul>
                            </div>
					</td>

					</tr>
				</tbody>
			</table>
		</div>	
	</aside>


</section>	