 <section class="span9 bg-white-border-all">
            <div class="col-right">

                <div class="row">
                    <div class="span4"><h3>Add Quiz</h3></div>
                   
                </div>



                <form method="post" id="nquiz" name="nquiz" ng-submit="vm.saveQuiz()">


                    


                    <div class="row">
                        
                        <div class="span4">
                            <select name="" id="exmlist" class="w-100" ng-model="vm.nquiz.category_id" ng-change="vm.resetDecipline()">
                                <option ng-selected="1 == 1" selected disabled="true">Select Root</option>
                                <option ng-repeat="cat in vm.catList" ng-if="cat.pcat_id == null" ng-value="cat.id">{{cat.tree}}</option>
                            </select>
                        </div>

                    </div>



                    <div class="row">


                        <div class="span4">Decipline</div>
                        <div class="span4">Sub Decipline</div>

                        
                    <div class="span4">
                            <div ng-repeat="cat in vm.catList" ng-if="vm.nquiz.category_id == cat.pcat_id && vm.nquiz.category_id != null">
                                <label><input type="checkbox" ng-value="cat.id" ng-model="vm.desp[cat.id]" ng-change="vm.cleanDesp()">{{cat.tree}}
                                </label>
                            </div>
                        </div>



                        <div class="span4">
                            <div ng-repeat="cat2 in vm.catList track by $index" ng-if="vm.isMatchSubCat(cat2.pcat_id) && vm.nquiz.cleanDesp != null">
                                <div>
                                    <label><input type="checkbox" ng-value="cat2.id" ng-model="vm.subdesp[cat2.id]" ng-change="vm.cleanSubDesp()">{{cat2.tree}}</label>
                                </div>
                            </div>
                        </div>
                    

                    </div><!-- row -->


                    



                    <div class="row">
                        <div class="span8">
                            <input type="text" id="qtitle" name="qtitle" class="w-100" placeholder="Title" ng-model="vm.nquiz.title">
                        </div>
                    </div>


                    <div class="row">
                        <div class="span4 add-on">
                            <div class="input-append w-100 pick-dt" ng-model="vm.nquiz.startDateTime">
                                <input type="text" id="ddate" class="w-90 dateinput" ng-value="vm.nquiz.startDateTime" name="sdate" placeholder="Start Date" >
                                <span class="add-on"><i data-date-icon="fal fa-calendar-alt" data-time-icon="fal fa-clock" class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="input-append pick-dt w-100 pick-dt" ng-model="vm.nquiz.endDateTime">
                                <input type="datetime" id="adate" class="w-90 dateinput" ng-value="vm.nquiz.endDateTime" name="edate" placeholder="End Date" ng-model="vm.nquiz.endDateTime">
                                <span class="add-on"><i data-date-icon="fal fa-calendar-alt" data-time-icon="fal fa-clock" class="fal fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="span4">
                            <input type="number" class="w-100" id="ttime" name="ttime" placeholder="Duration In Minutes" ng-model="vm.nquiz.duration">
                        </div>
                        <div class="span4">
                            <input type="number" class="w-100" id="tques" name="tques" placeholder="Required No. of Questions" ng-model="vm.nquiz.noques">
                        </div>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <input type="number" class="w-100" id="qpoints" name="qpoints" placeholder="Total  Points" ng-model="vm.nquiz.maxScore">
                        </div>
                        <div class="span4">
                            <input type="number" class="w-100" id="qminpoint" name="qminpoint" placeholder="Passing Points" ng-model="vm.nquiz.minScore">
                        </div>
                    </div>


                    <div class="row">
                        <div class="span6">
                            <button type="submit" class="btn btn-success"> Save </button>
                        </div>
                    </div>

                </form>

            </div>
        </section>