<section class="hbox">

    
            <div class="col-right">
                

                

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.dataList">
                        <td>{{item.id}}</td>
                        <td>{{item.role}}</td>
                        </td>
                        <td>
                                <div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Details</a></li>
                                    <li><a href="#" class="c-red" ng-click="vm.resetDefaultPermissions(item.id)">Reset Default Permission</a></li>
                                </ul>
                            </div>
                            </td>
                        </tr>

                    
                    </tbody>


                </table>

        </div><!-- end col right-->
        </section>