<section class="hbox">



    <aside>


        


    <div class="bg-white border-all mb-5" ng-if="vm.loading === null">

        <h2 class="t-center t-grey">Loading roles please wait ...</h2>  

    </div>


    <div class="bg-white border-all mb-5" ng-if="vm.loading === false">

        <h2 class="t-center t-pink">Failed no roles found ...</h2>  

    </div>
        

    





<div ng-if="vm.loading === true" class="bg-white border-all">


                <div class="tableWrapper" style="padding: 10px">

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.dataList">
                        <td>{{item.id}}</td>
                        <td>{{item.role}}</td>
                        </td>
                        <td>
                                <div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Details</a></li>
                                    <li><a href="#" class="c-red" ng-click="vm.resetDefaultPermissions(item.id)">Reset Default Permission</a></li>
                                </ul>
                            </div>
                            </td>
                        </tr>

                    
                    </tbody>


                </table>


                </div><!-- tableWRapper -->



                </div>

                </aside>

        
        </section>