<section class="hbox">

    <aside>
        
    

            <div class="bg-white border-all">


                <div class="span9" ng-if="vm.pageMode == null">
                    <p>Loading ... </p>
                </div>

                <div class="span9" ng-if="vm.pageMode == 'error'">
                    <p class="c-red">Permission cannot be loaded </p>
                </div>

                <div class="row-fluid">
                    <div ng-if="vm.pageMode == 'list' || vm.pageMode == 'error'" ng-click="vm.pageMode = 'add'" class="btn pull-right btn-icon btn-success graphic-plus" title="Permission">Role Permissions</div>
                </div>

                <div class="row" ng-show="vm.pageMode == 'add'">

                    <form class="form">
                    
                    <div class="span4" >
                        <select class="w-100" ng-init="vm.ndata.role_id = '-- Select Role'" ng-model="vm.ndata.role_id">
                            <option ng-disabled="1 == 1">-- Select Role</option>
                            <option ng-repeat="r in vm.dataList.allRoles" ng-value="r.id">{{r.role}}</option>
                        </select>
                    </div>

                    <div class="span4">
                        
                        <select class="w-100" ng-init="vm.ndata.permission_id = '-- Select Permission'" ng-model="vm.ndata.permission_id">
                            <option ng-disabled="1 == 1">-- Select Permission</option>
                            <option ng-repeat="per in vm.dataList.allPermissions" ng-value="per.id">{{per.name}}</option>
                        </select>
                    </div>

                    <div class="span1">
                        <button class="btn btn-success btn-block" ng-click="vm.savePermission()">Save</button>
                    </div>

                    </form>
                </div>

                <table class="table" ng-if="vm.pageMode == 'list' || vm.pageMode == 'add'">
                    <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Role</th>
                        <th>Permission</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.dataList.permissions">
                        <td>{{$index + 1}}</td>
                        <td>{{item.role}}</td>
                        <td>{{item.permission}}</td>
                        </td>
                        <td>

                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.status" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.status == '1'" ng-change="vm.statusToggle(item.id, item.permission_id, item.role_id, item.status)">
                                <span></span>
                              </label>
                            </span>
                                
                        </td>

                        <td>
                            <div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="vm.edit(item.id, item.role_id, item.permission_id)">Edit</a></li>
                                    <li><a href="#" ng-click="vm.remove(item.id, item.role_id, item.permission_id)">Remove</a></li>
                                </ul>
                            </div>
                        </td>


                        </tr>

                    </tbody>
                </table>


                

        </div><!-- end col right-->

        </aside>
        </section>