<section class="span9 bg-white border-all">
            <div class="col-right">
                

                

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Locked</th>
                        <th>loginAttempts</th>
                        <th>Status</th>
                        <th>Actions</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.dataList">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.role}}</td>
                        <td><span ng-if="item.isLocked == 1" class="icon-lock c-red"></span>
                            
                        </td>
                        <td>{{item.loginAttempts}}</td>
                        
                        <td>


                            <span ng-if="item.role != 'admin'" class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.status" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.status == '1'" ng-change="vm.statustoggle(item.id, item.status)">
                                <span></span>
                              </label>
                            </span>
                        </td>
                        <td>
                                <div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Details</a></li>
                                    <li><a href="#" ng-click="vm.launchModal(item.id)">Change Password</a></li>
                                    <li><a href="#" ng-click="vm.loadPermissions(item.id)">Permissions</a></li>
                                    <li><a href="#" ng-click="vm.resetUserPermissions(item.id, item.role_id)">Reset Permissions</a></li>
                                    <li permissions="['delete-user']"><a href="#" ng-click="vm.launchDeleteConfirmation(item.id)"><span class="c-red icon-warning-sign"></span> <span class="c-red">Delete User</span></a></li>
                                    
                                </ul>
                            </div>
                            </td>
                        </tr>




                    
                    </tbody>


                </table>


    <div class="cst-modal-container" ng-if="vm.modalOpen">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        <span style="font-weight: 600">Change Password</span>

        <i class="icon-remove pull-right" ng-click="vm.modalOpen = false"></i>

      </div>
      <div class="cst-modal-body">

        <p>Email : {{vm.modalData.email}} </p>
        <div> <input type="password" name="password" placeholder="New Password" ng-model="vm.modalData.password"></div>
        <div> <input type="password" name="password" placeholder="Confirm Password" ng-model="vm.modalData.cpassword"></div>
        
        <div>
        <button class="btn btn-mini btn-success" ng-click="vm.udpatePassword()">Change</button>
        <button class="btn btn-mini btn-danger" ng-click="vm.modalOpen = false">Cancle</button>    
        </div>
        
      </div>
      
    </div>
  </div> <!-- quiz modal container -->


            </div><!-- end col right-->
        </section>




        <div class="cst-modal-container" ng-show="vm.permssionModal">
    <div class="cst-modal-window large">
      <div class="cst-modal-header">
        <span style="font-weight: 600">Permissions : {{vm.modalData.name}} </span>
        <i class="icon-remove icon-2x pull-right" ng-click="vm.permssionModal = false"></i>
      </div>
      <div class="cst-modal-body" style="max-height: 500px; overflow: auto">

        <table class="table">
            <tr>
                <td>
                    Email
                </td>
                <td>
                    {{vm.modalData.email}}
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td>{{vm.modalData.role}}</td>
            </tr>
        </table>

        


        <div ng-if="vm.newCustomPermission == true" class="row" >
            <form>
                
                <div class="span6">
                    <select class="w-100" ng-init="vm.nctp = '-- Select Permission'" ng-model="vm.nctp" >

                        <option ng-disabled="1 == 1">-- Select Permission</option>
                        <option ng-repeat="cplist in vm.customPermissionList" ng-value="cplist.id">{{cplist.permission}}</option>
                        
                    </select>
                </div>

                <div class="span3">

                    <div ng-click="vm.addNewUserPermission(vm.modalData.id)" class="btn btn-icon btn-success icon-plus ng-scope" title="Permission">Add</div>
                    
                </div>

            </form>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Permission</th>
                    <th>Status</th>
                </tr>
            </thead>


            <tbody>
                <tr ng-repeat="per in vm.userPermissions">
                    <td>{{$index + 1}}</td>
                    <td>{{per.permission}}</td>
                    <td>
                        <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="per.pStatus" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="per.pStatus == '1'" ng-change="vm.privatePermissionToggle(per.permission_id, per.user_id, per.pStatus)">
                                <span></span>
                              </label>
                            </span>

                    </td>
                </tr>
            </tbody>
        </table>
        
      </div>
      
    </div>
  </div> <!-- quiz modal container -->



  <div class="cst-modal-container" ng-if="vm.deleteConfirmModal == true">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        
        <span><span class="icon-exclamation c-red"> </span> <span>Delete Confirmation</span>

        <i class="icon-remove pull-right" ng-click="vm.closeDeleteModal()"></i>

      </div>
      <div class="cst-modal-body">

        <p class="c-red" style="font-weight: bold; font-size: 18px">Distructive operation, You are about to delete user and all information associated to this user</p>
               
            <p><label style="display: inline-block; width: 100px">Name : </label>{{vm.xUSer.name}} </p>    
            <p><label style="display: inline-block; width: 100px">Email :</label>{{vm.xUSer.email}} </p>    
            <p><label style="display: inline-block; width: 100px">Role :</label>{{vm.xUSer.role}} </p>    



        <div>



            <div class="pull-left">
                <label><input type="checkbox" name="agree" ng-model="vm.proceedToX">Proceed to Delete</label>   
            </div>

            <div class="pull-right">
                <button class="btn btn-danger" ng-if="vm.proceedToX" ng-click="vm.deleteUser(itemId = vm.xUSer.id)">
                    <span class="icon-warning-sign"></span>
                Delete</button>
            </div>

        </div>
        
      </div>
      
    </div>
  </div> <!-- quiz modal container -->