<div class="quizPlayWrapper">

    <div id="quizPGWrapper"> 

    <div class="grid12Col" style="grid-template-rows: 40px;" ng-if="1 == 1">
           
            
        

        <div class="gc-first-remain-quater align-self-center">
                
                <a href="#" class="brand static-link">  <img alt="Logo" ng-src="{{vm.entityLogo()}}" width="200" height="88"/></a>
            
        </div>  

        <div class="gc-last-quater" style="align-self: end;
    justify-self: end;"><a href="#" role="button" ng-click="switchLang()">{{langLabel()}}</a></div>  

    </div>    



    <div class="grid12Col bbr-light">
    
        <div class="gc-first-quater align-self-center">

            <p class="t-left">
                <span class="t-left newTimer" style="font-size: 30px;" ng-class="{'high' : vm.TimeStatus == 'high', 'med': vm.TimeStatus == 'med', 'low' : vm.TimeStatus == 'low' }">{{timeLeft}}</span>    
                <span>:Time Remaining</span>
            </p>  
            
        </div>

        <div class="gc-last-remain-quater align-self-center">
            <h2 class="t-right">{{vm.quiz.title}}</h2>
        </div>  

    </div>




    <div class="grid12Col" ng-if="!vm.endActivated || vm.reviewAll && !vm.endProcessActivated">
                <div class="gc-first-remain-quater align-self-center">

                    <span>Question {{vm.questionIndex + 1}} of {{vm.requiredQuestions}}</span>

                    <div class="queDesc noselect" style="padding-bottom: 10px; padding-top: 10px;">    

                        <span><div ng-bind-html="vm.questions[vm.questionIndex].queDesc"></div>  

                    </div>

                </div>


                <div class="gc-last-quater align-self-end">
                    <p class="t-right">
                        {{vm.questions[vm.questionIndex].subDecipline}} : {{vm.questions[vm.questionIndex].levelEN}} : {{vm.activeLevel}}    
                    </p>
                    
                </div>
    </div>


    <div id="canvasScrollArea" ng-if="!vm.endActivated || vm.reviewAll && !vm.endProcessActivated">


    
    <div class="canvasItem" ng-repeat="item in vm.questions">


        <div ng-if="$index == vm.questionIndex">


            
           


            <div class="row" ng-if="item.media != undefined">



                    <section class="span12">

                        <h5 class="c-grey t-center c-blue">Click on image to view in full size</h5>

                        <section id="photos" ng-repeat="media in item.media" ng-if="media.type == 'image'">
                            <img ng-src="{{baseUrl+media.filepathurl}}" width="200" height="auto" ng-click="vm.launchLightbox(baseUrl+media.filepathurl, media.title)">
                        </section>




                        <div class="video-wrapper" ng-if="media.type == 'video'" ng-repeat="media in item.media" >
                            
                            <video width="640" height="360" controls>
                              <source src="{{baseUrl+media.filepathurl | trustUrl}}" type="video/mp4">
                               Your browser does not support the video tag.
                            </video>

                        </div>


                    </section>
                    
                </div>


            <div class="grid12Col mt-20 mb-20">
                    <div class="gc2-full">
                        <p class="txt-highlight">
                            <span style="border-bottom: 1px solid #ccc" ng-if="item.type_id == 1">Select answer </span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="item.type_id == 2">Select valid option</span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="item.type_id == 3">Select all which applies</span>
                            <span style="border-bottom: 1px solid #ccc" ng-if="item.type_id == 4">Provide answer in text box</span>
                        </p>
                    </div>
            </div>


            <div class="grid12Col" ng-if="item.type_id == 4">
                <div class="gc2-full">

                    <input type="text" autocomplete="off" autocorrect="off" name="answer" class="form-control w-100" ng-model="vm.questions[$index].answer">    
                </div>
                
            </div>
        
            <div class="grid12Col" ng-if="item.type_id == 1 || item.type_id == 2"> 

             

                <div class="gc2-full que-line">
                    <input type="radio" id="radio-1" class="radio-custom" name="answer" value="a" ng-model="vm.questions[$index].answer">
                    <label for="radio-1" class="radio-custom-label noselect">

                        <span ng-if="!vm.optionhasImage(item.optionA)">{{item.optionA}}</span> 
                        <img ng-if="vm.optionhasImage(item.optionA)" ng-src="{{item.optionA}}">   

                    </label>    
                </div>

            


            

                <div class="gc2-full que-line noselect">
                    <input type="radio" id="radio-2" class="radio-custom" name="answer" value="b" ng-model="vm.questions[$index].answer">
                    <label for="radio-2" class="radio-custom-label ">

                        <span ng-if="!vm.optionhasImage(item.optionB)">{{item.optionB}}</span>
                        <img ng-if="vm.optionhasImage(item.optionB)" ng-src="{{item.optionB}}">  
                        
                    </label>    
                </div>

            
            
            

                <div class="gc2-full que-line noselect" ng-if="vm.questions[$index].optionC != null && item.type_id != 2">
                    <input type="radio" id="radio-3" class="radio-custom" name="answer" value="c" ng-model="vm.questions[$index].answer">
                    <label for="radio-3" class="radio-custom-label">

                        <span ng-if="!vm.optionhasImage(item.optionC)">{{item.optionC}}</span>
                        <img ng-if="vm.optionhasImage(item.optionC)" ng-src="{{item.optionC}}">

                    </label>    
                </div>


            
            
            

                <div class="gc2-full que-line noselect" ng-if="vm.questions[$index].optionD != null && item.type_id != 2">

                    <input type="radio" id="radio-4" class="radio-custom" name="answer" value="d" ng-model="vm.questions[$index].answer">
                    <label for="radio-4" class="radio-custom-label">


                        <span ng-if="!vm.optionhasImage(item.optionD)">{{item.optionD}}</span>  
                        <img ng-if="vm.optionhasImage(item.optionD)" ng-src="{{item.optionD}}">  

                    </label>    


                </div>
            

            </div> <!-- radion single select -->



             <div class="grid12Col" ng-if="item.type_id == 3"> 

            

                <div class="gc2-full que-line">
                    <input type="checkbox" name="answer[]" id="checkbox-1" class="checkbox-custom" name="answer" value="a" ng-model="vm.questions[$index].answer.a">
                    <label for="checkbox-1" class="checkbox-custom-label noselect"> 
                        
                        <span ng-if="!vm.optionhasImage(item.optionA)">{{item.optionA}}</span>  
                        <img ng-if="vm.optionhasImage(item.optionA)" ng-src="{{item.optionA}}"> 

                     </label>    
                </div>


                <div class="gc2-full que-line">
                    
                        <input type="checkbox" name="answer[]" id="checkbox-2" class="checkbox-custom" name="answer" value="b" ng-model="vm.questions[$index].answer.b">
                        <label for="checkbox-2" class="checkbox-custom-label noselect"> 
                            
                            <span ng-if="!vm.optionhasImage(item.optionB)">{{item.optionB}}</span>  
                            <img ng-if="vm.optionhasImage(item.optionB)" ng-src="{{item.optionB}}"> 

                        </label>    
                    
                </div>
            
            
            

                <div class="gc2-full que-line" ng-if="vm.questions[$index].optionC != null">

                        <input type="checkbox" name="answer[]" id="checkbox-3" class="checkbox-custom" name="answer" value="c" ng-model="vm.questions[$index].answer.c">
                        <label for="checkbox-3" class="checkbox-custom-label noselect"> 

                            <span ng-if="!vm.optionhasImage(item.optionC)">{{item.optionC}}</span>  
                            <img ng-if="vm.optionhasImage(item.optionC)" ng-src="{{item.optionC}}"> 


                        </label>    

                </div>
            
            
            
                <div class="gc2-full que-line" ng-if="vm.questions[$index].optionD != null">

                    <input type="checkbox" name="answer[]" id="checkbox-4" class="checkbox-custom" name="answer" value="d" ng-model="vm.questions[$index].answer.d">
                    <label for="checkbox-4" class="checkbox-custom-label noselect"> 

                        <span ng-if="!vm.optionhasImage(item.optionD)">{{item.optionD}}</span>  
                        <img ng-if="vm.optionhasImage(item.optionD)" ng-src="{{item.optionD}}"> 

                    </label>    

                </div>
            

            </div> <!-- multiple checkbox wrapper -->



            <!-- marker previous position -->
            


        </div> <!-- ng-if $index == questions index -->

    </div> <!-- end question repeater -->


    </div><!-- canvasScrollArea -->

    <div ng-if="vm.endProcessActivated" style="width: 600px; margin: 0 auto; padding-top: 200px; background-color: #F1F1F1">

            <h3 class="c-green">Please wait while your performance is being evaluated</h3>
            
    </div>

    <div ng-if="vm.endActivated && !vm.reviewAll && !vm.endProcessActivated">

        
    <section class="t-center">

        <h3>End quiz or Review all Questions</h3>
        <a href="#" class="btn btn-success startRewieBigButton" ng-click="vm.triggerProcessEndQuiz()">End Quiz</a>
        <a href="#" class="btn btn-warning startRewieBigButton" ng-click="vm.startReviewAll()">Review All</a>

    </section>

    </div>

</div><!-- quizPGWrapper -->

    <div id="controllingArea__main">


        <div class="grid12Col cbf" style="margin-top: 20px;" ng-if="!vm.endActivated">


            <div class="g_nested gc-auto-half">

                <div ng-if="1 == 2">
                    <a href="#" class="btn btn-warning stdx" > 
                        
                        

                        <span lang="{{lang}}">{{gval.next[langIndex()]}}</span>

                        <span ng-if="lang == 'ar'" class="fas fa-chevron-left"></span>

                        <span ng-if="lang == 'en'" class="fas fa-chevron-right"></span>

                    </a>
                </div>

                <div ng-if="vm.mainNext">
                    <button type="submit" href="#" class="btn btn-success stdx" ng-click="vm.primaryNextProcedure()"> 


                        <span lang="{{lang}}">{{gval.next[langIndex()]}}</span>
                       
                        <span ng-if="lang == 'en'" class="fas fa-chevron-right"></span>
                        <span ng-if="lang == 'ar'" class="fas fa-chevron-left"></span>


                    </button>
                </div>

                <div ng-if="vm.isLastQue">
                    <!--
                        <a href="#" class="btn btn-success stdx pull-right"  ng-click="vm.ansPrep()">End Quiz</a>               
                    -->
                </div>

            </div> 

        </div>


        <div class="grid12Col cbf"  ng-if="vm.reviewAll && !vm.endProcessActivated">


            <div class="g_nested gc-auto-half">

            
            <div>
                <a href="#" class="btn btn-success stdx pull-left" ng-click="vm.revNext()"> Next  <span class="fas fa-chevron-right"> </span></a>
            </div>


            <div>
                <!--
                    <a href="#" class="btn btn-success stdx pull-right" ng-if="vm.questionIndex + 1 > vm.markedQuestions.length" ng-click="vm.ansPrep()">End Quiz</a>
                -->
            </div>
                
            </div> 

            


        </div>


        </div> <!-- controllingArea__main -->

        


    </div><!-- end row-->


</div><!-- end col right-->
</div><!-- end container-->


<div class="cst-modal-container" ng-if="vm.lightBoxEnabled">

    <div class="cst-modal-window fullSize">

      
      <div class="grid12Col">

        <div class="gc1-half">
            <h3 class="c-grey">{{vm.fullImageTitle}}</h3>  
        </div>
        
        <div class="gc2-half">
          <i class="fal fa-times fa-2x pull-right c-white" ng-click="vm.closeLightBox()"></i> 
        </div>
          
      </div>


      <div class="cst-modal-body no-pad">

        <img ng-src="{{vm.fullImageSourceLink}}">

      </div>
        
      
      
    </div>

</div>