<div class="cst-modal-container" ng-if="vm.quizModal">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        <span>You are about to start quiz</span>
		<i class="fal fa-times pull-right" ng-click="vm.quizModal = false"></i>
      </div>
      <div class="cst-modal-body">

	
		<div ng-if="!vm.isInitiatStart">

      	<p>Title : <strong> {{vm.actQuiz.title | titleCase}} </strong></p>
      	<p>Duration: {{vm.actQuiz.duration}} min.</p>
      	<p>Questions: {{vm.actQuiz.noQues}} </p>

        <p>Canidates are not allowed to refresh web page using keyboard key <strong>F5</strong> or with any other means
        	during examamination, in such case exam will be ternminated completely and will be considered as failed attempt for given exam.
        </p>

        <p>
        	In case of any or bug during examination please contact immediately to invigilator or adminstrator in examination room, so that matter can be 
        	resolve by our technical software team.
        </p>

        <p>
        	If exam was effected by any technicial difficuly it can be rescheduled or be given a second change if adminstator seems it fair.
        </p>



        <p><small>You must agree to continue</small></p>

        <p>
        	<label>
        	<input type="checkbox" name="agree" ng-model="vm.agree">
        		I agree with terms of service
        	</label>
        </p>
      	
        <button class="btn btn-success" ng-if="vm.agree" ng-click="vm.initiateQuiz(vm.actQuiz.enroll_id)">Continue</button>
        <button class="btn btn-danger" ng-if="!vm.agree" ng-click="vm.quizModal = false">Cancel</button>


        </div> <!-- not initialzed -->


        <div ng-if="vm.isInitiatStart">

        	<p class="c-green">Please Wait while Quiz is being Initialized</p>
        	
        </div>


      </div>
      
    </div>
  </div> <!-- quiz modal container -->

<section class="hbox">





	<aside class="bg-white border-all">	




	<h3>Enrolled In </h3>
	
	<table class="table no-borders" ng-if="vm.hasPendingQuiz || vm.hasAttemptedQuiz">
		<thead>
			<tr>	
				<th>S.NO</th>
				<th>Quiz</th>
				<th>Questions</th>
				<th>Duration</th>
				
				<th>&nbsp;</th>
				<th>&nbsp;</th>

			</tr>
		</thead>
		<tbody>


			<tr style="border-bottom: 1px solid var(--greenLight) !important">

				<td colspan="8">
					<div style="height: 50px"></div>
				<h4>Unattempted : {{vm.dataList.quiz.length || 0}}</h4></td>
				
			</tr>

			<tr ng-if="vm.hasPendingQuiz" ng-repeat="quiz in vm.dataList.quiz track by $index">
				<td>{{$index + 1}}</td>
				<td>{{quiz.title}}</td>
				<td>
					<span>{{quiz.noQues}}</span>
					
				</td>
				<td>{{quiz.duration}} mins.</td>

				
				
				
				
				<td>
					<a ng-if="quiz.validity == 'valid' && quiz.validity != 'progress' && quiz.attempts == '0' && quiz.schedule == 'eligible'" data-quizid="93" class="btn btn-success" href="#" ng-click="vm.launchQuizModal(quiz.id)"><span class="fal fa-clock"></span>&nbsp; Start Quiz</a>

					<p ng-if="quiz.attempts == '0' && quiz.validity == 'progress'" > <span class="status working">In Progress</span> </p>


					<div ng-if="quiz.validity == 'expired'"><span class="status terminated" style="width: 80px">Date Expired</span></div>

					<div ng-if="quiz.schedule == 'countdown' && quiz.validity == 'valid'" ng-init="vm.showCountdown(quiz.id, dateEnrolled, quiz.dtsScheduled)">
						<small class="c-pink">{{counter[quiz.id]}}</small></div>

					<a ng-if="quiz.validity == 'valid' && quiz.attempts != '0' && quiz.retake == '0'" data-quizid="93" class="c-red" href="#" title="Initated but failed to proceed further or intererpted"> <span class="status terminated" style="width: 80px">Conflict</span> </a>
				</td>




				<td>
					<div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="vm.activateDetails(quiz.id, quiz.enroll_id)">Details</a></li>
                                    
                                </ul>
                            </div>
				</td>

			</tr>


			<tr ng-if="vm.hasAttemptedQuiz" style="border-bottom: 1px solid var(--greenLight) !important">

				<td colspan="8">
					<div style="height: 50px"></div>
				<h4>Participated In : {{vm.dataList.attempted.length || 0}} </h4></td>
				
			</tr>


			<tr ng-if="vm.hasAttemptedQuiz" ng-repeat="item in vm.dataList.attempted">

				<td>{{$index + 1}}</td>
				<td>{{item.title}}
					<p><span class="fal fa-clock c-blue"></span>&nbsp; <small class="c-blue">{{item.attempted_at | xToTime}}</small></p>
				</td>

				<td> 
					<span>{{item.noques}}</span>
				</td>

				<td>{{item.duration}} mins.</td>

				<td>
					<a ng-if="item.attempts != '0' && item.retake == '1' && item.validity != 'progress'" class="btn btn-warning" style="width: 150px" href="#" ng-click="vm.launchQuizModal(item.id, true)"><span class="fas fa-recycle"></span>&nbsp;Retake</a>
					<p ng-if="item.attempts != '0' && item.retake == '1' && item.validity == 'progress'" >
					<span class="status working">In Progress</span> </p>

				</td>

				<td>

					<div class="btn-group btn-more">
                                <a class="btn" href="#" data-toggle="dropdown">&nbsp;</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="vm.activateDetails(item.id, item.enroll_id)">Details</a></li>
                                    <li><a href="#" ng-click="vm.activateProgressStatus(item.attemptId)">Progress Status</a></li>                                   
                                </ul>
                            </div>					
				</td>				
			</tr>

			
		</tbody>
    </table>


    <div ng-if="vm.hasQuizEnrolled == null">
    	<p class="c-orange">Loading enrolled quiz ...</p>
    </div>

    <div ng-if="vm.hasQuizEnrolled == false">
    	<p class="c-red">You are not enrolled in any quiz</p>
    </div>


    <div ng-if="vm.hasAttemptedQuiz && 1 == 2">
    	<h4>Attempted Quiz</h4>


    	<table class="table">
		<thead>
			<tr>	
				<th>ID</th>
				<th>Quiz</th>

				<th>Min / Max</th>

				<th>Duration</th>
				
				<th>Obtained</th>
				<th>Attempts</th>
				
				<th>&nbsp;</th>

			</tr>
		</thead>


		<tbody>
			<tr ng-repeat="item in vm.dataList.attempted">

				<td>{{item.id}}</td>
				<td>{{item.title}}
					<p><span class="fal fa-clock c-pink"></span>&nbsp; <small class="c-pink">{{item.attempted_at | xToTime}}</small></p>
				</td>

				<td>{{item.minScore}} / {{item.maxScore}}</td>

				<td>{{item.duration}} mins.</td>



				<td>{{item.score | setDecimal:2 }} / {{item.maxScore}}</td>
				
				<td>{{item.attempts}}</td>
				
				<td>
					<a ng-if="item.attempts != '0' && item.retake == '1'" class="btn btn-warning" href="#" ng-click="vm.launchQuizModal(item.id, true)"><span class="fas fa-recycle"></span>&nbsp;Retake</a>
				</td>				
			</tr>
		</tbody>



    </div>

</table>

</aside>

</section>



<div class="cst-modal-container" ng-if="vm.detailModalBox">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        <span style="font-size: 1.3rem">Quiz details</span>
		<i class="fal fa-times pull-right icon-2x fam c-grey" ng-click="vm.deactivateDetail()"></i>
      </div>
      <div class="cst-modal-body" style="overflow-x: hidden; overflow-y: auto; padding-bottom: 30px">


      	<div class="grid12Col gap10">


      		<div class="gc2-full">
      			<span style="font-size: 1.2rem"><strong class="txt-black">{{vm.modalQuiz.title}}</strong></span>
      		</div>

      		<div class="gc-first-quater">Code</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.code}}</div>

      		

      		<div class="gc-first-quater">Category</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.category}}</div>

      		<div class="gc-first-quater">Ends At</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.formatedEndDate}} {{vm.modalQuiz.formatedEndTime}} </div>



      		<div class="gc-first-quater">Questions</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.noques}}</div>

      		
      		<div class="gc-first-quater">Duration</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.duration + '' + 'mins'}}</div>


      		<div class="gc-first-quater">Venue</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.venue}}</div>

      		
      	</div>


      	<div class="grid12Col gap10 mt-10" ng-if="vm.modalQuiz.showScore == 1">

      		<div class="gc-first-quater">Total Score</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.maxScore}}</div>

      		<div class="gc-first-quater">Passing Score</div>
      		<div class="gc-last-remain-quater">{{vm.modalQuiz.minScore}}</div>
      		
      	</div>


      </div>
      
    </div>
  </div> <!-- quiz modal container -->




  <div class="cst-modal-container" ng-if="vm.progressDetailsModal">
    <div class="cst-modal-window">
      <div class="cst-modal-header">
        <span style="font-size: 1.3rem">Quiz progress details</span>
		<i class="fal fa-times pull-right icon-2x fam c-grey" ng-click="vm.deActicateProgressStatus()"></i>
      </div>
      <div class="cst-modal-body" style="overflow-x: hidden; overflow-y: auto; padding-bottom: 30px">

      	<div class="grid12Col gap10">

      		<div class="gc2-full">
      			<span style="font-size: 1.2rem"><strong class="txt-black">{{vm.mdProgressData.title}}</strong></span>
            
      		</div>

      		<div class="gc-first-quater">Code</div>
      		<div class="gc-last-remain-quater">{{vm.mdProgressData.code}}</div>
      		
      		<div class="gc-first-quater">Questions</div>
      		<div class="gc-last-remain-quater">{{vm.mdProgressData.noques}}</div>
     		
      		<div class="gc-first-quater">Duration</div>
      		<div class="gc-last-remain-quater">{{vm.mdProgressData.duration + '' + 'mins'}}</div>

          <div class="gc-first-quater" ng-if="vm.mdProgressData.showGrading">Grade</div>
          <div class="gc-last-remain-quater" ng-if="vm.mdProgressData.showGrading">{{vm.mdProgressData.grade}}</div>

          <div class="gc-first-quater" ng-if="vm.mdProgressData.showGPA">GPA</div>
          <div class="gc-last-remain-quater" ng-if="vm.mdProgressData.showGPA">{{vm.mdProgressData.gpa}}</div>

      		
      	</div>



        <div class="grid12Col gap10 mt-10" ng-if="vm.mdProgressData.showScore == 1">

          <div class="gc-first-quater">Total Score</div>
          <div class="gc-last-remain-quater">{{vm.mdProgressData.maxScore}}</div>

          <div class="gc-first-quater">Passing Score</div>
          <div class="gc-last-remain-quater">{{vm.mdProgressData.minScore}}</div>

          <div class="gc-first-quater">Obtained Score</div>
          <div class="gc-last-remain-quater">{{vm.mdProgressData.score | setDecimal:2}}</div>

          <div class="gc-first-quater">Percentage</div>
          <div class="gc-last-remain-quater">{{vm.mdProgressData.per | setDecimal:2}} %</div>
          
        </div>


        <div class="grid12Col gap10 mt-10" ng-if="vm.mdProgressData.showResult == 1">

          <div class="gc-first-quater">Result</div>
          <div class="gc-last-remain-quater">

            <span ng-if="vm.mdProgressData.is_active == 0" class="status" ng-class="{'terminated': vm.mdProgressData.resultStatus == 0, 'finished': vm.mdProgressData.resultStatus == 1 }">
                                      {{(vm.mdProgressData.resultStatus == 0) ? 'Fail' : 'Pass'}}</span>
          </div>

        </div>


      </div>
      
    </div>
  </div> <!-- quiz modal container -->




