<div class="container">


    <div id="quizTimer">{{timeLeft}}</div>

<div class="row">
    <div class="span12">
         <h4 class="box-style-one bbr-light">Quiz : Web Development & Others etc...</h4>
    </div>
</div>


    <div class="row">
        <div class="span12 quizoption">
            <div class="clearfix" style="height:20px;">&nbsp;</div>
            <form method="post" action="#" id="#">
                
                


                <div class="row">
                    <div class="span12">
                        <span>Que. #:  1 / 10</span>
                        <h4 class="que">With referece to the give figures which verison of php will resolve the error?</h4>
                    </div>
                </div>

                <div class="row">

                    <section class="span12">

                        <figure class="quiz-figure">
                            <img src='http://placehold.it/500x200' alt='Caption for figure one'/>
                            <figcaption>Caption for figure one</figcaption>
                        </figure>

                        <figure class="quiz-figure">
                            <img src='http://placehold.it/500x200' alt='Caption for figure one'/>
                            <figcaption>Caption for figure one</figcaption>
                        </figure>

                    </section>
                    
                </div>

                


                <div class="row">
                <div class="span6"><p class="txt-highlight">Choose Your Answer</p></div>

            </div>

            


            <div class="row">

                <div class="span12 que-line">
                    <label class="radio ans">
                        <input type="radio" name="answer" value="a">
                        A. PHP 5.3
                    </label>
                </div>
            </div>
            

            <div class="row">

                <div class="span12 que-line">
                    <label class="radio ans">
                        <input type="radio" name="answer" value="b">
                        B. PHP 5
                    </label>
                </div>
            </div>
            
            <div class="row">

                <div class="span12 que-line">
                    <label class="radio ans">
                        <input type="radio" name="answer" value="c">
                        C. PHP 5.4
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="span12 que-line">
                    <label class="radio ans">
                        <input type="radio" name="answer" value="d">
                        D. PHP 5.1
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="span6">
                        <label class="checkbox pull-left kt-pulse">
                            <input type="checkbox" name="review" value="mark">
                            Mark For Review
                            <span class="kt-pulse__ring"></span>
                        </label>
                    </div>


                    



            </div>


            <div class="row" style="margin-top: 20px;">
            <div class="span12">
                <a href="#" class="btn btn-warning btn-small pull-left">Previous</a>
                <a href="#" class="btn btn-primary btn-small pull-right">Next</a>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="#" class="btn btn-twitter btn-small pull-right">Review</a>
            </div>
        </div>

            
        </div>
        
        </form>
    </div>

    </div><!-- end row-->
</div><!-- end col right-->
</div><!-- end container-->