<div class="quizPlayWrapper">


    <div class="grid12Col" style="grid-template-rows: 40px;" ng-if="1 == 2">

        <!--
    
            <div class="gc2-full"><a href="#" role="button" ng-click="switchLang()">{{langLabel()}}</a></div>  

        -->

        <div class="gc2-full align-self-center">
                
                <a href="/" class="brand">  <img alt="Logo" ng-src="{{'assets/images/iSkillMetrics-logo.svg'}}" width="200" height="88"/></a>
            
        </div>  

        

    </div>    



    <div class="grid12Col bbr-light">
    
        <div class="gc-first-remain-quater align-self-center">
            <h2>{{vm.quizData.quiz[0].title | titleCase}}</h2>
        </div>

        <div class="gc-last-quater align-self-center">
            <p class="t-right">

                <span>Time Remaining : </span>
                <span class="t-right newTimer" style="font-size: 30px;" ng-class="{'high' : vm.TimeStatus == 'high', 'med': vm.TimeStatus == 'med', 'low' : vm.TimeStatus == 'low' }">{{timeLeft}}</span>    
            </p>  
        </div>  

    </div>



    <div id="quizTimer" ng-if="1 == 2" ng-class="{'high' : vm.TimeStatus == 'high', 'med': vm.TimeStatus == 'med', 'low' : vm.TimeStatus == 'low' }">{{timeLeft}}</div>


    <div class="grid12Col">

                <div class="gc-first-remain-quater align-self-center" ng-if="!vm.startReviewWizard">
                    <h3 ng-if="vm.questionIndex + 1 <= vm.quizData.quiz[0].noques">Question {{vm.questionIndex + 1}} of {{vm.quizData.quiz[0].noques}}</h3>
                </div>

                <div class="gc-first-remain-quater" ng-if="vm.startReviewWizard && !vm.reviewAll">
                    <span ng-if="vm.questionIndex + 1 <= vm.markedQuestions.length">Review Questions : {{vm.questionIndex + 1}} of {{vm.markedQuestions.length}}</span>
                </div>

                

                <div class="gc-last-quater align-self-end t-right mt-20 mb-20" ng-if="!vm.reviewAll">

                    <p ng-if="!vm.startReviewWizard" class="c-blue t-bold">Marked : {{vm.markedQuestions.length}}</p>

                    <p ng-if="vm.startReviewWizard" class="c-blue t-bold">Marked  : {{vm.quizData.quiz[0].noques - vm.providedAnswers.length}}</p>

                    <p class="c-green t-bold">Answered : {{vm.providedAnswers.length}}</p>
        
                    <p class="c-warning t-bold" ng-if="!vm.startReviewWizard">Next : {{(vm.quizData.quiz[0].noques) - (vm.markedQuestions.length + vm.providedAnswers.length ) }}</p>

                    <div class="c-yellow t-bold" ng-if="vm.startReviewWizard">Next : {{vm.quizData.quiz[0].noques - vm.providedAnswers.length}} </div>

                    
                    
                    
                </div>
            </div>


    <div id="canvasScrollArea">
        
    


    <div ng-repeat="item in vm.quizData.questions" class="canvasItem">


        <div  ng-if="$index == vm.questionIndex">


            


            <p class="t-right">Sub Decipline : {{item.subDecipline}}</p>

            
            <div class="queDesc noselect" style="padding-bottom: 10px; padding-top: 10px;">    

                <span><p ng-bind-html="item.queDesc"></p>  

            </div>



            

            <div class="row" ng-if="item.media != undefined">



                    <section class="span12">

                        <figure class="quiz-figure" ng-repeat="media in item.media" ng-if="media.type == 'image'">
                            <img ng-src="{{baseUrl+media.filepathurl}}">
                            <figcaption>{{media.title}}</figcaption>
                        </figure>


                        <div class="video-wrapper" ng-repeat="media in item.media" ng-if="media.type == 'video'">
                            
                            <video width="640" height="360" controls>
                              <source src="{{baseUrl+media.filepathurl | trustUrl}}" type="video/mp4">
                               Your browser does not support the video tag.
                            </video>

                        </div>


                    </section>
                    
                </div>

            


            <div class="grid12Col">
                    <div class="gc2-full">
                        <p class="txt-highlight">
                            <span style="border-bottom: 1px solid #333" ng-if="item.type_id == 1">Select 1 options from 4 givens choices </span>
                            <span style="border-bottom: 1px solid #333" ng-if="item.type_id == 2">Select 1 valid from 2 given choices</span>
                            <span style="border-bottom: 1px solid #333" ng-if="item.type_id == 3">Choose all possible valid choices which can satisify the answer</span>
                            <span style="border-bottom: 1px solid #333" ng-if="item.type_id == 4">Provide answer in text box</span>
                        </p>
                    </div>
            </div>


            <div class="grid12Col" ng-if="item.type_id == 4">
                <div class="gc2-full">

                    <input type="text" autocomplete="off" autocorrect="off" name="answer" class="form-control w-100" ng-model="vm.quizData.questions[$index].answer">    
                </div>
                
            </div>
        
            <div class="grid12Col" ng-if="item.type_id == 1 || item.type_id == 2"> 

             

                <div class="gc2-full que-line">
                    <input type="radio" id="radio-1" class="radio-custom" name="answer" value="a" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-1" class="radio-custom-label noselect">{{item.optionA}}</label>    
                </div>

            


            

                <div class="gc2-full que-line noselect">
                    <input type="radio" id="radio-2" class="radio-custom" name="answer" value="b" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-2" class="radio-custom-label ">{{item.optionB}}</label>    
                </div>

            
            
            

                <div class="gc2-full que-line noselect" ng-if="vm.activeQuestion.optionC != null && item.type_id != 2">
                    <input type="radio" id="radio-3" class="radio-custom" name="answer" value="c" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-3" class="radio-custom-label">{{item.optionC}}</label>    
                </div>


            
            
            

                <div class="gc2-full que-line noselect" ng-if="vm.activeQuestion.optionD != null && item.type_id != 2">

                    <input type="radio" id="radio-4" class="radio-custom" name="answer" value="d" ng-model="vm.quizData.questions[$index].answer">
                    <label for="radio-4" class="radio-custom-label">{{item.optionD}}</label>    


                </div>
            

            </div> <!-- radion single select -->



             <div class="grid12Col" ng-if="item.type_id == 3"> 

            

                <div class="gc2-full que-line">
                    <input type="checkbox" name="answer[]" id="checkbox-1" class="checkbox-custom" name="answer" value="a" ng-model="vm.quizData.questions[$index].answer.a">
                    <label for="checkbox-1" class="checkbox-custom-label noselect"> {{item.optionA}} </label>    
                </div>


                <div class="gc2-full que-line">
                    
                        <input type="checkbox" name="answer[]" id="checkbox-2" class="checkbox-custom" name="answer" value="b" ng-model="vm.quizData.questions[$index].answer.b">
                        <label for="checkbox-2" class="checkbox-custom-label noselect"> {{item.optionB}} </label>    
                    
                </div>
            
            
            

                <div class="gc2-full que-line" ng-if="vm.activeQuestion.optionC != null">

                        <input type="checkbox" name="answer[]" id="checkbox-3" class="checkbox-custom" name="answer" value="c" ng-model="vm.quizData.questions[$index].answer.c">
                        <label for="checkbox-3" class="checkbox-custom-label noselect"> {{item.optionC}} </label>    

                </div>
            
            
            
                <div class="gc2-full que-line" ng-if="vm.activeQuestion.optionD != null">

                    <input type="checkbox" name="answer[]" id="checkbox-4" class="checkbox-custom" name="answer" value="d" ng-model="vm.quizData.questions[$index].answer.d">
                    <label for="checkbox-4" class="checkbox-custom-label noselect"> {{item.optionD}} </label>    

                </div>
            

            </div> <!-- multiple checkbox wrapper -->



            <!-- marker previous position -->
            


        </div> <!-- ng-if $index == questions index -->

    </div> <!-- end question repeater -->



    <div ng-if="vm.answerAvailable" style="width: 600px; margin: 0 auto; padding-top: 200px;" class="bg-white border-all">

            
            <h3 class="c-green">Please wait while your performance is being evaluated</h3>
            

    </div>


    <div ng-if="vm.isReviewEnabled() && !vm.startReviewWizard && !vm.reviewAll">

        <h3 class="reviewWarningBLock">You have <span class="c-blue">  {{vm.markedQuestions.length}} </span> marked questions please Start Review to answer. </h3>


        <div class="t-center">
            <a href="#" class="btn btn-success startRewieBigButton" ng-click="vm.startReview()"> Start Review </a>
        </div>
        
    </div>

    
    <div ng-if="!vm.endActivated">

        
    <section ng-if="(vm.startReviewWizard && (vm.questionIndex + 1 > vm.markedQuestions.length)) || (!vm.startReviewWizard && vm.isLastQue)" class="t-center">

        <h3>You are about to end quiz this evalaute all your answers as final step</h3>
        <a href="#" class="btn btn-success startRewieBigButton" ng-click="vm.ansPrep()">End Quiz</a>
        <a ng-if="!vm.reviewAll" href="#" class="btn btn-warning startRewieBigButton" ng-click="vm.startReviewAll()">Review All</a>

    </section>

    </div>




    </div><!-- canvasScrollArea -->



    <div id="controllingArea__main">


        <div class="grid12Col" ng-if="!vm.startReviewWizard && !vm.isReviewEnabled() && vm.reviewAll == false">
                <div class="gc1-half">
                        <label class="checkbox pull-left kt-pulse">
                            <input type="checkbox" name="review" value="1" ng-model="vm.quizData.questions[vm.questionIndex].marked">
                            <strong> Mark for Review : <span class="c-red"> Marked ( {{vm.markedQuestions.length}} ) </span> | <span class="c-green">Answered ( {{vm.providedAnswers.length}} )</span> 
                            </strong>
                            <span class="kt-pulse__ring" ng-if="vm.ShowPulse == true"></span>
                        </label>
                    </div>
            </div>
        
    


        <div class="grid12Col cbf" style="margin-top: 20px;" ng-if="!vm.startReviewWizard">


            <div class="g_nested gc-auto-half">

                <div ng-if="vm.hasPre">
                    <a href="#" class="btn btn-warning stdx" ng-click="vm.preQuestion($index)" > <span class="fas fa-chevron-left"> </span> Previous</a>
                </div>

                <div ng-if="(vm.hasMore || vm.reviewAll == true) && !vm.isLastQue">
                    <button ng-enter="vm.nextQuestion($index)" type="submit" href="#" class="btn btn-success stdx" ng-class="{'pull-right': vm.hasPre}" ng-click="vm.nextQuestion($index)" >Next <span class="fas fa-chevron-right"> </span> </button>
                </div>

                <div ng-if="vm.isLastQue">
                    <!--
                        <a href="#" class="btn btn-success stdx pull-right"  ng-click="vm.ansPrep()">End Quiz</a>               
                    -->
                </div>

            </div> 

        </div>


        <div class="grid12Col cbf"  ng-if="vm.startReviewWizard">


            <div class="g_nested gc-auto-half">

            
            <div>
                <a href="#" class="btn btn-success stdx pull-left" ng-if="vm.questionIndex + 1 <= vm.markedQuestions.length" ng-click="vm.revNext()">Next <span class="fas fa-chevron-right"> </span></a>
            </div>


            <div>
                <!--
                    <a href="#" class="btn btn-success stdx pull-right" ng-if="vm.questionIndex + 1 > vm.markedQuestions.length" ng-click="vm.ansPrep()">End Quiz</a>
                -->
            </div>
                
            </div> 

            


        </div>


        </div> <!-- controllingArea__main -->

        


    </div><!-- end row-->


</div><!-- end col right-->
</div><!-- end container-->