<section class="span9">
   <div class="col-right">
      <h3>Answer Sheet</h3>


      <quiz-info-component param="vm.examID"></quiz-info-component>
     


      <div class="row">
                  <div class="span6">

                    <label>Filter By Subjects</label>
                    <select name="subjectFilter" ng-model="subjectSearch">
                        <option value="">Show All</option>
                        <option ng-repeat="sub in vm.dataList.qzAttemptSubjects" ng-value="sub.subjects">{{sub.subjects}}</option>   
                    </select>
                  </div>

                  
                </div>

      <table class="table bordered">
         <thead>
            <tr class="gray-bg">
               <th>Id</th>
               <th>Question</th>
               <th>Answer</th>
               <th>Chosen</th>
               <th>Correct</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in vm.dataList.answers | filter:{ subdiscipline: subjectSearch } track by $index">
               <td ng-attr-title="{{item.Question_id}}">{{$index +1}}</td>
               <td><p ng-bind-html="item.QuestionDescription"></td>
               <td>{{item.answer}}</td>
               <td>{{item.response}}</td>
               <td> 
                   <strong ng-if="item.isCorrect == 1" class="c-green">YES</strong> 
                   <strong ng-if="item.isCorrect == 0"class="c-red">NO</strong> 
               </td>
            </tr>
           
            
            <tr>
               <td colspan="5">
                  <strong>Total: {{vm.dataList.meta.correct + vm.dataList.meta.incorrect}} </strong>
                  <strong class="c-green">{{vm.dataList.meta.correct}}</strong>
                  <span> / </span>
                  <strong class="c-red">{{vm.dataList.meta.incorrect}}</strong>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- end col right-->
</section>