<section class="span9">
   <div class="col-right">
      <h3>Consent</h3>

      <quiz-info-component param="vm.examID"></quiz-info-component>
      
      <table class="table bordered">
         <thead>
            <tr class="gray-bg">
               <th>Id</th>
               <th>Question</th>
               
               <th>Chosen</th>
               
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="item in vm.dataList.answers">
               <td ng-attr-title="{{item.Question_id}}">{{$index +1}}</td>
               <td><p ng-bind-html="item.QuestionDescription"></td>
               
               <td>{{item.response}}</td>
               
            </tr>
           
            
            <tr>
               <td colspan="5">
                  <strong>Total Questions: {{vm.dataList.meta.correct + vm.dataList.meta.incorrect}} </strong>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <!-- end col right-->
</section>