 <section class="span9 bg-white">

            <div class="col-right">

                <quiz-info-component param="vm.examID"></quiz-info-component>

                

                <form method="post" id="stenroll" name="stenroll" class="floatable" ng-submit="vm.quizEnroll()" novalidate>
                    <div class="row">
                        <div class="span6">

                                
                             <div class="field-wrap">   


                            <input type="email" class="float-field w-100" id="email" name="email" ng-model="vm.nenroll.email" required>

                            <label class="placeholder">Enter existing email to enroll</label>



                            </div>   
                        </div>

                        <div class="span2">
                            <input ng-hide="stenroll.$invalid" type="submit" id="sub-new-quiz" value="Enroll" class="btn btn-success">
                        </div>
                    </div>
                </form>

                <table class="table" ng-if="vm.dataList">
                    <thead>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Schedule Datetime</th>
                        <th style="width: 10px">&nbsp;</th>
                        <th>Attempts</th>
                        <th>Retake</th>
                    </thead>

                    <tbody>

                        <tr ng-repeat="item in vm.dataList">

                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>
                             

                                 
                                <div class="input-append pick-dt w-100 pick-dt" ng-model="item.dtsScheduled">
                                <input type="datetime" id="{{'adate'+item.id}}" class="w-90 dateinput" name="edate" placeholder="scheduled at" ng-value="item.dtsScheduled">
                                <span class="add-on"><i data-date-icon="fal fa-calendar-alt" data-time-icon="fal fa-clock" class="fal fa-calendar-alt"></i></span>
                            </div>
                            

                            
                            </div>
                            </td>
                            <td>
                                <i class="icon-refresh c-blue" title="Push changes to server" ng-click="vm.updateScheduleDateTime(item.id, item.quiz_id, item.dtsScheduled)"></i>
                            </td>
                            <td>{{item.attempts}}</td>
                            <td>
                                
                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.retake" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.retake == '1'" ng-change="vm.toggleRetake(item.id)">
                                <span></span>
                              </label>
                            </span>




                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>

                <div ng-if="vm.dataList == undefined">
                    <p>Loading Enrollments ... </p>
                </div>

                <div ng-if="vm.dataList === false">
                    <p>No candidates are enrolled for this quiz  ... </p>
                </div>

            </div>

        </section>