<section class="hbox">

            <aside>



                <div class="clearfix"></div>
                <div class="row">
                    <div class="span6"><h3>{{vm.Quiz.title}}</h3></div>
                    <div class="span3">
                        
                        
                    </div>
                </div>


                <div class="row">
                    <div class="span9 bg-white border-all">
                        <table class="table">
                            <tbody>

                            <tr>
                                <td class="t-bold">Quiz Code</td>
                                <td><strong>{{vm.Quiz.code}}</strong></td>

                                <td class="t-bold">Last Date</td>
                                <td>{{vm.Quiz.formatedEndDate +' '+ vm.Quiz.formatedEndTime}}</td>
                            </tr>

                            <tr>
                                <td class="t-bold">Category</td>
                                <td>{{vm.Quiz.category}}</td>

                                <td class="t-bold">Duration</td>
                                <td> {{vm.Quiz.duration + 'min.'}} </td>
                            </tr>

                            <tr>
                                <td class="t-bold">                                   
                                       Enrollment Status
                                   </td>

                                   <td> 

                                    <span class="kt-switch kt-switch--icon">
                                            <label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.enrollment" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.enrollment == '1'" ng-change="vm.toggleEnroll(vm.Quiz.id, vm.Quiz.enrollment)">
                                    <span></span>

                                    </label>
                                    </span>
                                   </td>
                                   
                                </td>


                                <td class="t-bold"><a href="#" >Student's Enrolled</a></td>
                                <td><span class="c-green">


                                    {{vm.Quiz.enrolledStudent}}
                                    

                                </span></td>
                            </tr>


                            <tr>
                                <td colspan="4" class="bold">Options</td>
                            </tr>

                            <tr>
                                <td colspan="2">Dynamic Difficulty</td>
                                <td colspan="2">

                                    <span class="kt-switch kt-switch--icon"><label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.dls" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.dls == '1'" ng-change="vm.optionsToggle('dls', vm.Quiz.id, vm.Quiz.dls)">
                                    <span></span>

                                    </label>
                                    </span>


                                    <small> Enable auto difficulty managmenet </small>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">Show Score</td>
                                <td colspan="2">

                                    <span class="kt-switch kt-switch--icon"><label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.showScore" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.showScore == '1'" ng-change="vm.optionsToggle('showScore', vm.Quiz.id, vm.Quiz.showScore)">
                                    <span></span>

                                    </label>
                                    </span>


                                    <small>Total obtained score to candidate</small>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">Show Result</td>
                                <td colspan="2">

                                    <span class="kt-switch kt-switch--icon"><label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.showResult" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.showResult == '1'" ng-change="vm.optionsToggle('showResult', vm.Quiz.id, vm.Quiz.showResult)">
                                    <span></span>

                                    </label>
                                    </span>

                                    <small>status pass / fail </small>
                                    
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">

                                    Show Grades
                                    
                                </td>
                                <td colspan="2"><span class="kt-switch kt-switch--icon"><label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.showGrading" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.showGrading == '1'" ng-change="vm.optionsToggle('showGrading', vm.Quiz.id, vm.Quiz.showGrading)">
                                    <span></span>

                                    </label>
                                    </span>


                                    <small> A+, A, B etc </small>


                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">SHOW GPA</td>
                                <td colspan="2">


                                    <span class="kt-switch kt-switch--icon"><label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.showGPA" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.showGPA == '1'" ng-change="vm.optionsToggle('showGPA', vm.Quiz.id, vm.Quiz.showGPA)">
                                    <span></span>

                                    </label>
                                    </span>


                                    <small> 4.3 etc</small>
                                    


                                </td>
                            </tr>

                            <tr>
                                <td colspan="4"><span class="t-bold">Quiz Venue: </span>
                                    <stong>{{vm.Quiz.venue}}</strong>
                                
                            </td>
                            </tr>


                            <tr>
                                <td colspan="4"><h4>Points</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Quiz Total Points</td>
                                <td>{{vm.Quiz.maxScore}}</td>
                                <td class="t-bold">Passing Points</td>
                                <td>{{vm.Quiz.minScore}}</td>
                            </tr>

                            

                            <tr>
                                <td colspan="4"><h4>Weight Distributions</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Subdisciplines</td>
                                <td class="t-bold">Points</td>
                                <td class="t-bold">Questions</td>
                                <td class="t-bold">Point Per Question</td>
                                
                            </tr>

                            <tr ng-repeat="item in vm.Distro">
                                <td>{{item.subjects}}</td>
                                <td>{{item.points | setDecimal:2 }}</td>
                                <td>{{item.quePerSection}}</td>
                                <td ng-init="perQue = item.points / item.quePerSection">
                                    <span ng-if="perQue === perQue">
                                        {{perQue | setDecimal:2 }}    
                                    </span>
                                    <span ng-if="perQue !== perQue" class="c-red">
                                        N/A
                                    </span>
                                </td>
                            </tr>

                            </tbody></table>
                    </div>

                </div>

            </aside><!-- end col right-->
        </section>