<section class="span9 bg-white">
   <div class="col-right">
      <h4>Course Detail</h4>
      <hr>
      <div class="clearfix"></div>
      <div class="row">
         <div class="span8">
            <table class="table">
               <tbody>
                  <tr>
                     <td>  Student Name     </td>
                     <td colspan="2" class="txt-highlight">
                        <strong>  
                        Saleh   AlAqely                        </strong>        
                     </td>
                  </tr>
                  <tr>
                     <td>Exam: </td>
                     <td class="txt-highlight">Management Skill Assessment Final </td>
                  </tr>
                  <tr>
                     <td>Instructor: </td>
                     <td colspan="2">Mohammed  Al- Fahad</td>
                  </tr>
                  <tr>
                     <td>Dated</td>
                     <td colspan="2"> <span id="showAttemptedDate">2018-12-24</span>  </td>
                  </tr>
                  <tr>
                     <td>Total Points </td>
                     <td>100</td>
                  </tr>
                  <tr>
                     <td>Min Passing </td>
                     <td colspan="2">70</td>
                  </tr>
                  <tr class="gray-bg brdr">
                     <td>Obtained / Max</td>
                     <td class="t-bold">
                        Quiz                    
                     </td>
                     <td>Percentage</td>
                  </tr>
                  <tr>
                     <td>18 / 20&nbsp;
                        <a class="btn btn-success btn-mini screen-only" ui-sref="exm.answer()">Inspect</a></td>
                     <td>&nbsp;<a class="btn btn-twitter btn-mini screen-only" ui-sref="exm.consent()">Consent</a> &nbsp;English - الانجليزية</td>
                     <td>90% </td>
                  </tr>
                  <tr>
                     <td>19 / 20&nbsp;<a class="btn btn-success btn-mini screen-only" ui-sref="exm.answer()">Inspect</a></td>
                     <td>&nbsp;<a class="btn btn-twitter btn-mini screen-only" ui-sref="exm.consent()">Consent</a> &nbsp;Planning - التخطيط</td>
                     <td>95% </td>
                  </tr>
                  <tr>
                     <td>10 / 20&nbsp;<a class="btn btn-success btn-mini screen-only" href="/teacher/answerSheet/quizId/95/attemptId/90/studentId/171/courseId/32">Inspect</a></td>
                     <td>&nbsp;<a class="btn btn-twitter btn-mini screen-only" href="/teacher/quizConsent/quizId/95/attemptId/90/studentId/171/courseId/32">Consent</a> &nbsp;Financial - المالية</td>
                     <td>50% </td>
                  </tr>
                  <tr>
                     <td>13 / 20&nbsp;<a class="btn btn-success btn-mini screen-only" href="/teacher/answerSheet/quizId/94/attemptId/89/studentId/171/courseId/32">Inspect</a></td>
                     <td>&nbsp;<a class="btn btn-twitter btn-mini screen-only" href="/teacher/quizConsent/quizId/94/attemptId/89/studentId/171/courseId/32">Consent</a> &nbsp;Management - الادارية</td>
                     <td>65% </td>
                  </tr>
                  <tr>
                     <td>12 / 20&nbsp;<a class="btn btn-success btn-mini screen-only" href="/teacher/answerSheet/quizId/93/attemptId/88/studentId/171/courseId/32">Inspect</a></td>
                     <td>&nbsp;<a class="btn btn-twitter btn-mini screen-only" href="/teacher/quizConsent/quizId/93/attemptId/88/studentId/171/courseId/32">Consent</a> &nbsp;Personal - الشخصية  </td>
                     <td>60% </td>
                  </tr>
                  <tr class="gray-bg brdr">
                     <td>Aggregated Score</td>
                     <td>Result</td>
                     <td>Percentage</td>
                  </tr>
                  <tr>
                     <td>72/100 </td>
                     <td style="color: green"> <span class=""></span> Pass   </td>
                     <td>72.00 % </td>
                  </tr>
                  <script type="text/javascript">
                     var attemptedDate = "2018-12-24";
                     
                     $("#showAttemptedDate").text(attemptedDate);
                     
                     
                     
                  </script>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <!-- end col right-->
</section>