<section class="hbox">

            <aside>

                <div class="bg-white border-all pd-10">

                    


                    <quiz-info-component param="vm.examID"></quiz-info-component>

                
                <form method="post" id="stregister" name="stregister" class="floatable"  ng-submit="vm.regEnroll()" novalidate>

               

                            <div class="field-wrap">                                   
                                    <input type="text" class="float-field w-100" id="name" name="name" ng-model="vm.re.name" required ng-minlength="6">
                                    <label class="placeholder">Full Name</label>
                                    <span ng-show="stregister.$dirty && stregister.name.$error.required" class="float-error">Full Name is required</span>
                                    <span ng-show="stregister.name.$touched && stregister.name.$error.minlength" class="float-error">Full Name must be at least 6 characters</span>
                            </div>
                        

                            <div class="field-wrap">
                                
                            <input type="email" class="float-field w-100" id="email" name="email" ng-model="vm.re.email" required>
                            <label class="placeholder">Email</label>

                            <span ng-show="stregister.email.$touched && stregister.email.$error.required" class="float-error">Email is mandantory</span>
                            <span ng-show="stregister.email.$touched && stregister.email.$error.email" class="float-error">Provide Valid Email</span>


                            </div>
                        

                    
                        
                            <div class="field-wrap">
                                    <input type="password" class="float-field w-100" id="password" name="fpass" ng-model="vm.re.password" ng-minlength="6" required

                                    password-verify="{{vm.nPass}}">
                                    <label class="placeholder">Password</label>    

                                    <span ng-show="stregister.password.$touched && stregister.password.$error.required" class="float-error">Password is required</span>
                                    <span ng-show="stregister.password.$touched && stregister.password.$error.minlength" class="float-error">Password Must be at least 6 characters</span>


                            </div>
                            
                        
                        
                            <div class="field-wrap">

                            <input type="password" class="float-field w-100" id="cpass" name="cpass" ng-model="vm.nPass" required password-verify="{{vm.re.password}}">
                            <label class="placeholder">Confirm Password</label> 


                            <span ng-show="stregister.cpass.$touched && stregister.cpass.$error.passwordVerify" class="float-error">Confirm Password Mismatched</span>   
                                
                            </div>


                            <div class="field-wrap">

                                <div class="grid12Col gap10">
                                    <div class="gc1-half">
                                        <div class="btn btn-default btn-mini" ng-click="vm.generateFromRandom()">Generate Password</div>                      
                                    </div>

                                    <div class="gc2-half">
                                        <p class="genAutoPass" ng-if="vm.generatedPassword">{{vm.generatedPassword}}</p>
                                        <small class="c-red" ng-if="vm.generatedPassword">currently used as password</small>
                                    </div>          
                                    
                                </div>
                                
                            </div> 

                <div class="row">

                    <div class="span4">

                        <div class="field-wrap" ng-hide="stregister.$invalid">

                    <label>
                        <input type="checkbox" ng-model="vm.re.sendRegisterEmail">
                            Send Registration Email 
                        </label>
              
                       </div>
                        
                    </div>     

                </div>

                <div class="row">

                    <div class="span4">

                        <div class="field-wrap" ng-hide="stregister.$invalid">

                    <label>
                        <input type="checkbox" ng-model="vm.re.sendInviteEmail">
                            Send Invitation Email
                        </label>
              
                       </div>
                        
                    </div>     

                </div>


                    <div class="row" ng-hide="stregister.$invalid">
                        <div class="span6">
                            <input type="submit" id="sub-new-quiz" value="Save" class="btn btn-success std">
                        </div>
                    </div>



                </form>

            </div>

            </aside>


            <aside>
                
            </aside>



        </section>