 <section class="span9">
            <div class="col-right">
                <h4>Edit Exam</h4>
                <hr>


                <div class="row margin-bottom-10">
                    <div class="span4">
                        <img src="/assets/images/thumhold/400x300.gif">
                    </div>

                    <div class="span4">
                        <div class="row">
                            <div class="span4">
                                <div class="controls-actions">
                                    <div class="fileupload">
                            <span class="btn btn-icon icon-upload-alt btn-file d-block btn-small">
                            <span class="fileupload-new">Update Course Image</span>
                                <input type="file" name="courseimg" id="courseimg">
                            </span>
                                    </div>
                                </div>
                            </div>

                            <div class="span4">
                                <select name="cstatus" id="cstatus" class="w-100">
                                    <option value="">Course Status</option>
                                    <option value="p">Published</option>
                                    <option value="u">Hidden</option>
                                </select>
                            </div>


                            <div class="span4">
                                <select name="courseCat" id="courseCat" class="w-100">
                                    <option value="">Course Category</option>
                                    <option value="cat1">Cat1</option>
                                    <option value="cat2">Cat2</option>
                                    <option value="cat3">Cat3</option>
                                </select>
                            </div>

                            <div class="span4">
                                <select name="courselang" id="courselang" class="w-100">
                                    <option value="">Course Language</option>
                                    <option value="en">English</option>
                                    <option value="ar">Arabic</option>
                                    <option value="both">Both</option>
                                </select>
                            </div>

                            <div class="span4">
                                <input type="text" name="Course Code" placeholder="Course Code" class="w-100 floatlabel">
                            </div>



                        </div><!--nested row span4-->
                    </div>


                </div>

                <form name="addCourse" id="addCourse" class="" action="#" method="post">

                    <div class="row">
                        <div class="span8">
                            <input type="text" name="title" placeholder="Exam Title" class="w-100">
                        </div>
                    </div>

               


                    

                    <textarea name="newsBody" id="wyswyg" cols="100" rows="15" class="input-block-level"
                              placeholder="Course Description"></textarea>

                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace('wyswyg');
                    </script>

                    <div class="row">
                        <div class="span8">
                            &nbsp;
                        </div>
                    </div>

                    <textarea name="course-venue" id="course-venue" class="w-100" placeholder="Course Venue"></textarea>

                    <div class="row">
                        <div class="span4">
                            <input type="text" placeholder="Total Course Points" class="control-group w-100">
                        </div>
                        <div class="span4">
                            <input type="text" placeholder="Minimum Passing Points" class="control-group w-100">
                        </div>

                    </div>


                    <div class="clearfix">&nbsp;</div>
                  
                    <div class="clearfix">&nbsp;</div>
                 
                    <div class="clearfix">&nbsp;</div>

                    <div class="row">

                        <div class="span4">
                            <input type="submit" class="btn btn-small btn-twitter" value="Save">
                        </div>
                    </div>
                </form>


            </div>
            <!-- end col right-->
        </section>