 <section class="span9 bg-white">

            <div class="col-right">

                <quiz-info-component param="vm.examID"></quiz-info-component>

                <p>Enter email to Enroll</p>

                <form method="post" id="stenroll" name="stenroll" ng-submit="vm.quizEnroll()">
                    <div class="row">
                        <div class="span6">
                            <input type="email" class="w-100" id="email" name="email" placeholder="Enter Email Address" ng-model="vm.nenroll.email">
                        </div>

                        <div class="span2">
                            <input type="submit" id="sub-new-quiz" value="Enroll" class="btn btn-success">
                        </div>
                    </div>
                </form>

                <table class="table" ng-if="vm.dataList">
                    <thead>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Schedule Datetime</th>
                        <th style="width: 10px">&nbsp;</th>
                        <th>Attempts</th>
                        <th>Retake</th>
                    </thead>

                    <tbody>

                        <tr ng-repeat="item in vm.dataList">

                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>
                             

                                 
                                <div class="input-append pick-dt w-100 pick-dt" ng-model="item.dtsScheduled">
                                <input type="datetime" id="{{'adate'+item.id}}" class="w-90 dateinput" name="edate" placeholder="End Date" ng-value="item.dtsScheduled">
                                <span class="add-on"><i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i></span>
                            </div>
                            

                            
                            </div>
                            </td>
                            <td>
                                <i class="icon-refresh c-blue" title="Push changes to server" ng-click="vm.updateScheduleDateTime(item.id, item.quiz_id, item.dtsScheduled)"></i>
                            </td>
                            <td>{{item.attempts}}</td>
                            <td>
                                
                            <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.retake" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.retake == '1'" ng-change="vm.toggleRetake(item.id)">
                                <span></span>
                              </label>
                            </span>




                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>

                <div ng-if="vm.dataList == undefined">
                    <p>Loading Enrollments ... </p>
                </div>

                <div ng-if="vm.dataList === false">
                    <p>No candidates are enrolled for this quiz  ... </p>
                </div>

            </div>

        </section>