<section class="span9">
            <div class="col-right">

                <div class="clearfix"></div>
                <div class="row">
                    <div class="span6"><h3>{{vm.Quiz.title}}</h3></div>
                    <div class="span3">
                        
                        <a ui-sref="exm.edit()" class="btn pull-right btn-icon btn-warning icon-edit" title="Add Lesson">Edit Course</a>
                    </div>
                </div>


                <div class="row">
                    <div class="span9">
                        <table class="table">
                            <tbody>

                            <tr>
                                <td class="t-bold">Quiz Code</td>
                                <td><span class="c-red">ITAS101</span></td>

                                <td class="t-bold">Last Date</td>
                                <td>{{vm.Quiz.endDateTime}}</td>
                            </tr>

                            <tr>
                                <td class="t-bold">Category</td>
                                <td>{{vm.Quiz.category}}</td>

                                <td class="t-bold">Duration</td>
                                <td>{{vm.Quiz.duration}} min.</td>
                            </tr>

                            <tr>
                                <td class="t-bold">                                   
                                       Enrollment Status
                                   </td>

                                   <td> 

                                    <span class="kt-switch kt-switch--icon">
                                            <label>
                                    <input type="checkbox" checked="checked" name="" ng-model="vm.Quiz.enrollment" ng-true-value="'1'" ng-false-value="'0'"
                                         ng-checked="vm.Quiz.enrollment == '1'" ng-change="vm.toggleEnroll(vm.Quiz.id, vm.Quiz.enrollment)">
                                    <span></span>

                                    </label>
                                    </span>
                                   </td>
                                   
                                </td>


                                <td class="t-bold"><a href="#" >Student's Enrolled</a></td>
                                <td><span class="c-red">301</span></td>
                            </tr>

                            <tr>
                                <td colspan="4"><span class="t-bold">Course Venue: </span>
                                    <span class="c-red">Lorem ipsum dolor sit amet, Lorem ipsum </span>
                                
                            </td>
                            </tr>


                            <tr>
                                <td colspan="4"><h4>Points</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Quiz Total Points</td>
                                <td>{{vm.Quiz.maxScore}}</td>
                                <td class="t-bold">Passing Points</td>
                                <td>{{vm.Quiz.minScore}}</td>
                            </tr>

                            

                            <tr>
                                <td colspan="4"><h4>Weight Distributions</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Subdisciplines</td>
                                <td class="t-bold">Points</td>
                                <td class="t-bold">Questions</td>
                                <td class="t-bold">Point Per Question</td>
                                
                            </tr>

                            <tr ng-repeat="item in vm.Distro">
                                <td>{{item.subjects}}</td>
                                <td>{{item.points | setDecimal:2 }}</td>
                                <td>{{item.quePerSection}}</td>
                                <td ng-init="perQue = item.points / item.quePerSection">
                                    <span ng-if="perQue === perQue">
                                        {{perQue | setDecimal:2 }}    
                                    </span>
                                    <span ng-if="perQue !== perQue" class="c-red">
                                        N/A
                                    </span>
                                </td>
                            </tr>

                            </tbody></table>
                    </div>

                </div>

            </div><!-- end col right-->
        </section>