   <section class="span9">
                <div class="col-right">

                    

                    <quiz-info-component param="vm.examID"></quiz-info-component>

                    <div class="clearfix"></div>


                    <div class="clearfix"></div>
                    <div class="row">

                        <div class="span9">

                            <table class="table">

                                <thead>
                                <tr>

                                    <th>Students</th>
                                    <th>Email</th>
                                    <th>Attempts</th>
                                    <th>Dated</th>
                                    <th>Score</th>
                                    <th>Percentage %</th>
                                    <th>Actions</th>

                                </tr></thead>

                                <tbody>

                                <tr ng-repeat="item in vm.dataList.attempted">

                                    <td>{{item.name}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.attempts}}</td>
                                    <td>{{item.attempted_at}}</td>
                                    <td>{{item.score | setDecimal:2}}</td>
                                    <td>{{item.per | setDecimal:2}}</td>
                                    <td>
                                        
                                        <div class="btn-group btn-more">
                                <a class="btn" href="#"
                                   data-toggle="dropdown">&nbsp;</a>

                                <ul class="dropdown-menu">
                                    
                                    <li><a ui-sref="exm.scorecard({'examID': item.quizId, 'attemptID': item.attemptId})"> - Score Sheet </a></li>
                                    <li><a ui-sref="exm.consent({'examID': item.quizId, 'attemptID': item.attemptId})"> - Consent </a></li>
                                    <li><a ui-sref="exm.answer({'examID': item.quizId, 'attemptID': item.attemptId})"> - Inpsect Answers </a></li>

                                </ul>
                            </div>

                                    </td>

                                </tr>
                                </tr>
                             

                                </tbody></table>
                        </div>

                    </div>

                    </div><!-- end col right-->
            </section>