<section class="span9">
            <div class="col-right">

                <div class="clearfix"></div>
                <div class="row">
                    <div class="span6"><h3>{{vm.Quiz.title}}</h3></div>
                    <div class="span2"><a ui-sref="exm.edit()" class="btn btn-warning btn-small pull-right">Edit Course</a></div>
                </div>


                <div class="row">
                    <div class="span8">
                        <table class="table">
                            <tbody>

                            <tr>
                                <td class="t-bold">Quiz Code</td>
                                <td>ITAS101</td>

                                <td class="t-bold">Last Date</td>
                                <td>{{vm.Quiz.endDateTime}}</td>
                            </tr>

                            <tr>
                                <td class="t-bold">Category</td>
                                <td>{{vm.Quiz.category}}</td>

                                <td class="t-bold">Duration</td>
                                <td>{{vm.Quiz.duration}} min.</td>
                            </tr>

                            <tr>
                                <td colspan="2"> &nbsp; </td>


                                <td class="t-bold"><a href="t_progress.php" class="btn btn-mini">Students Enrolled</a></td>
                                <td>301</td>
                            </tr>

                            <tr>
                                <td colspan="4"><span class="t-bold">Course Venue: </span>Lorem ipsum dolor sit amet, Lorem ipsum </td>
                            </tr>


                            <tr>
                                <td colspan="4"><h4>Points</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Quiz Total Points</td>
                                <td>{{vm.Quiz.maxScore}}</td>
                                <td class="t-bold">Passing Points</td>
                                <td>{{vm.Quiz.minScore}}</td>
                            </tr>

                            

                            <tr>
                                <td colspan="4"><h4>Weight Distributions</h4></td>
                            </tr>

                            <tr>
                                <td class="t-bold">Subdisciplines</td>
                                <td class="t-bold">Points</td>
                                <td class="t-bold">Questions</td>
                                <td class="t-bold">Point Per Question</td>
                                
                            </tr>

                            <tr ng-repeat="item in vm.Distro">
                                <td>{{item.subjects}}</td>
                                <td>{{item.points}}</td>
                                <td>{{item.quePerSection}}</td>
                                <td ng-init="perQue = item.points / item.quePerSection">{{(perQue === perQue) ? perQue : 'Not Available'}}</td>
                                
                            </tr>

                            

                           
                            </tbody></table>
                    </div>

                </div>

            </div><!-- end col right-->
        </section>