 <section class="span9">
            <div class="col-right">


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Quiz: TCP / IP Basics & Windows Server 2013 Configuration</th>
                    </tr>
                    <tr>
                        <th>Student Name: Mark Steave</th>
                    </tr>
                    <tr>
                        <th>Date Performed: 02-Sep-2014</th>
                    </tr>
                    </thead>
                </table>


                <table class="table table-striped">

                    <thead>
                    <tr>

                        <th>Quiz Category</th>

                        <th class="w300px">Quiz Exams</th>
                        <th>Score / Max</th>
                        <th>Correct / # Ques.</th>


                    </tr></thead>

                    <tbody>

                    <tr>

                        <td>01 Server Installation</td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 100%;">100%</div>
                            </div>
                        </td>
                        <td>50 / 50</td>
                        <td>10 / 20</td>



                    </tr>

                    <tr>

                        <td>Configure DHCP</td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 80%;">80%</div>
                            </div>

                        </td>
                        <td>40 / 50</td>
                        <td>10 / 20</td>


                    </tr>
                    <tr>

                        <td>Configure Active Directory</td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 50%;">50%</div>
                            </div>
                        </td>
                        <td>25 / 50</td>
                        <td>10 / 20</td>


                    </tr>
                    <tr>

                        <td>Configure DNS</td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 100%;">100%</div>
                            </div>
                        </td>
                        <td>45 / 50</td>
                        <td>10 / 20</td>


                    </tr>

                    <tr>

                        <td>Basic Networking </td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 40%">40%</div>
                            </div>
                        </td>
                        <td>40 / 50</td>
                        <td>10 / 20</td>


                    </tr>

                    <tr class="bg-laveck">

                        <td>Overall </td>

                        <td>
                            <div class="progress">
                                <div class="bar" style="width: 80%; color: #0f0">80%</div>
                            </div>
                        </td>
                        <td>200 / 250</td>
                        <td>50 / 100</td>


                    </tr>


                    </tbody></table>

            </div><!-- end col right-->
        </section>

