 <section class="span8">
            <div class="col-right">
                <table class="table table-striped">

                    <tbody>
                    <tr>
                        <td colspan="2"><h4>Quiz: Configuring windows server 2013</h4></td>
                    </tr>
                    <tr>
                        <td>Required : <span id="req-que">60</span> Questions</td>
                        <td>Total Points: <span id="quiz-points">120</span></td>
                    </tr>
                    <tr>
                        <td colspan="2">Entries : 300</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="span5"><span class="t-bold ">Calculated Values </span></div>
                    <div class="span1 text-center"><span class="t-bold freqOut">feqtotal</span></div>
                    <div class="span1 text-center"><span class="pointOut t-bold ">pointval</span></div>
                    <div class="span1 text-center"><span class="tqueOut t-bold ">tqueOut</span></div>
                </div>


                <form role="form">

                    <div class="row" style="background-color: #e5e5e5">
                        <div class="span4"><span class="t-bold ">Categories</span></div>
                        <div class="span1"><span class="t-bold ">Count</span></div>
                        <div class="span1 text-center"><span class="t-bold " title="Interation of question from this category">Weight</span></div>
                        <div class="span1 text-center"><span class="t-bold ">Points</span></div>
                        <div class="span1 text-center"><span class="t-bold ">Questions</span></div>
                    </div>

                    <div class="row">
                        <div class="span4"><p>01 Server Installation</p></div>
                        <div class="span1">45</span></div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="20"></div>
                        <div class="span1  text-center"><span class="qpt">10</span></div>
                        <div class="span1  text-center">
                            <input type="number"  class="noQue" placeholder="&nbsp;" value="10">
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4"><p>02 Configure Active Direcory</p></div>
                        <div class="span1">47</div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="15"></div>
                        <div class="span1 text-center"><span class="qpt">10</span></div>
                        <div class="span1 text-center">
                            <input type="number"  class="noQue" placeholder="&nbsp;" value="10">
                        </div>
                    </div>


                    <div class="row">
                        <div class="span4"><p>03 Configure DHCP</p></div>
                        <div class="span1">56</div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="20"></div>
                        <div class="span1 text-center"><span class="qpt">10</span></div>
                        <div class="span1 text-center">
                            <input type="number"  class="noQue" placeholder="&nbsp;" value="10">
                        </div>
                    </div>


                    <div class="row">
                        <div class="span4"><p>04 Configure DNS</p></div>
                        <div class="span1">49</div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="15"></div>
                        <div class="span1 text-center"><span class="qpt">10</span></div>
                        <div class="span1 text-center">
                            <input type="number"  class="noQue" value="10" placeholder="&nbsp;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4"><p>05 WDS Management</p></div>
                        <div class="span1">63</div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="10"></div>
                        <div class="span1 text-center"><span class="qpt">10</span></div>
                        <div class="span1 text-center">
                            <input type="number"  class="noQue" placeholder="&nbsp;" value="10">
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4"><p>06 Basic Networking</p></div>
                        <div class="span1">40</div>
                        <div class="span1"><input type="number" placeholder="&nbsp;" class="qfq" value="20"></div>
                        <div class="span1 text-center"><span class="qpt">10</span></div>
                        <div class="span1 text-center">
                            <input type="number"  class="noQue" value="10" placeholder="&nbsp;" >
                        </div>
                    </div>


                    <div class="clearfix">&nbsp;</div>
                    <div class="rowq">
                        <button type="submit" value="save" class="btn btn-success btn-small" id="btnSum">Save</button>
                    </div>

                </form>

            </div>
            <!-- end col right-->
        </section>