 <section class="span9">
            <div class="col-right">

                 <h3>Weight Distribution</h3>   

                <quiz-info-component param="vm.examID"></quiz-info-component>


                

                <div class="row">
                    <div class="span5"><span class="t-bold ">Calculated Values </span></div>
                    <div class="span1 text-center"><span class="tqueOut t-bold ">{{vm.Qtotal}}</span></div>
                    <div class="span1 text-center"><span class="t-bold freqOut">{{vm.weightTotal}}</span></div>
                    <div class="span1 text-center"><span class="pointOut t-bold ">{{vm.pointsTotal}}</span></div>
                    
                </div>


                <form role="form" id="form-distro">

                    <div class="row">

                        <div class="bg-success" style="font-size: 17px">
                            
                        
                        <div class="span4"><span class="t-bold ">Sub-Discipline</span></div>
                        <div class="span1"><span class="t-bold ">Allocated</span></div>
                        <div class="span1 text-center"><span class="t-bold ">Questions</span></div>
                        <div class="span1 text-center"><span class="t-bold " title="Interation of question from this category">Weight%</span></div>
                        <div class="span1 text-center"><span class="t-bold ">Points</span></div>

                        </div>
                        
                    </div>



                    <div class="row" ng-repeat="item in vm.Distro" style="margin-top:10px">
                        <div class="span4"><p>{{item.subjects}}  </p>
                            
                        </div>
                        <div class="span1">( {{item.questions}} )</span>

                        </div>

                        <div>
                            
                        
                        <div class="span1  text-center">
                            <input ng-disabled="item.questions == 0" type="number"  class="noQue" ng-value="item.quePerSection" string-to-number ng-model="item.quePerSection" ng-change="vm.getTotal()">
                        </div>
                        <div class="span1">
                            <input ng-disabled="item.questions == 0" type="number" step="0.01" class="qfw" ng-value="0" string-to-number ng-model="item.weight" ng-change="vm.getTotal()">
                        </div>
                        <div class="span1  text-center">
                            <input ng-disabled="item.questions == 0" type="number" class="qfq" ng-value="item.points" string-to-number ng-model="item.points" ng-change="vm.getTotal()">
                        </div>

                        </div>
                        
                        
                        
                    </div>



                    <div class="row">
                    <div class="span12">
                        <h3 class="c-red" ng-if="!vm.validDistro">Please match distribution as per quiz above</h3>
                    </div>
                    </div>


                    
                  

                    <div class="clearfix">&nbsp;</div>
                    <div class="rowq" ng-if="vm.validDistro">
                        <button class="btn btn-success" ng-click="vm.saveDistribution()">Save</button>
                    </div>

                </form>

            </div>
            <!-- end col right-->
        </section>