 <section class="hbox">


  <aside class="bg-white" ng-if="vm.loading == null">
    <div style="padding: 10px;">
      <h3 class="t-center">Loading questions ...</h3>
    </div>  
  </aside>

</section>

<section class="hobx">

  <aside class="bg-white border-all" ng-if="vm.loading == false">
    <div style="padding: 10px;">
      <p class="c-red">Cannot load questions</p>
    </div>  
  </aside>


  </section>


  <aside>

    <div class="grid12Col gap10 mb-20">

      <div class="gc-1-8 bg-white border-all" ng-if="vm.loading == true">

          <div class="customInner" style="margin: 20px; padding-right: 30px;">

            <form class="floatable w-80">

                <div class="field-wrap hasflatCons">
                    <span class="fal fa-search quiztitlefilter"></span>
                    <input type="text" name="titlefilter" id="title-filter" class="float-field w-100" required ng-model="vm.descFitler">
                    <label for="title-filter" class="placeholder">Filter By Description</label>
                </div>
                
            </form>


        
        </div>

      </div>  


      <div class="gc-9-12 bg-white border-all dfx-center-xy">
        <a class="btn btn-success" style="width: 200px" ui-sref="exm.addQuizQuestions({'examID': vm.examID})"> <span class="fas fa-plus"></span> Questions </a>
      </div>


    </div>


            <div class="col-right bg-white border-all" style="padding-left: 10px; padding-right: 10px;">

              <quiz-info-component param="vm.examID"></quiz-info-component>
                 

                <div class="row" ng-if="vm.loading == true">
                  <div class="span6">

                    <label>Filter By Subjects : {{subjectSearch}}</label>
                    <select name="subjectFilter" ng-model="vm.subjectSearch">
                        <option value="">Show All</option>
                        <option ng-repeat="sub in vm.dataList.qqSubjects" ng-value="sub.subjects">{{sub.subjects}}</option>   
                    </select>
                  </div>

                  
                </div>





                <div ng-if="vm.enableAllocate">
                    <p>No Question allocated for this quiz</p>                   
                    <div class="btn btn-success btn-small" ng-click="vm.allocateQuestions()">Allocate Questions</div>

                </div>

                <div ng-if="vm.enableSynchronize" ng-if="vm.loading == true">
                    <p>New Questions Available would you like to synchronize</p>                   
                    <div class="btn btn-success btn-small" ng-click="vm.processDoSyncronize()">Synchronize New Question</div>
                </div>



                <table class="table" ng-if="vm.dataList.status && vm.loading == true">
                    <thead>
                        <th>#</th>
                        <th style="width: 500px">Questions</th>
                        <th>Difficulty</th>
                        <th>Answer</th>
                        <th>Status</th>
                        <th>Scope</th>
                        <th title="x times appeared in exams"># Hits</th>
                    </thead>

                    <tbody>

                      

                        <tr ng-repeat="item in vm.dataList.questions | filter:{ subject: vm.subjectSearch, queDesc: vm.descFitler } track by $index ">

                               <td>{{$index + 1}}</td>
                               <td>

                                <p ng-bind-html="item.queDesc">
                                  
                                </p>
                               </td>

                               <td>
                                {{item.levelEN}}
                               </td>

                               
                               <td>{{item.answer}}</td>

                               <td>

                                <span class="kt-switch kt-switch--icon">
                              <label>
                                <input type="checkbox" checked="checked" name="" ng-model="item.qqStatus" ng-true-value="'1'" ng-false-value="'0'"
                                     ng-checked="item.qqStatus == '1'" ng-change="vm.toggleqqStatus(item.id, item.qqStatus, item.subject_id)">
                                <span></span>
                              </label>
                            </span>

                          </td>

                          <td>
                            <span class="status" ng-class="{'finished': item.scope == 'private', 'working': item.scope == 'public', 'initiated': item.scope == 'linked' }">{{item.scope}}</span>
                          </td>

                          <td>
                            <span ng-class="{'c-red': item.hits > threshold}">
                            {{item.hits}}
                            </span>
                          </td>

                            
                        </tr>
                        
                    </tbody>
                </table>

            </div>
            </aside>
        </section>


      