<section class="span9">
   <div class="col-right">
      <h3>Score Card</h3>


      <quiz-info-component param="vm.examID"></quiz-info-component>
     


      <table class="table">
         <thead>
            <tr>
               <th>S.NO</th>
               <th>Subjects</th>
               <th>Q / A</th>
               <th>Max.</th>
               <th>Obtatined</th>
               <th>Percentage</th>
            </tr>
         </thead>

         <tbody>
            <tr ng-repeat="item in vm.dataList.scorecard">

               <td>{{$index +1 }}</td>
               <td>{{item.subjects}}</td>
               <td>{{item.quePerSection}} / <span ng-class="{'c-green': (item.correctAnswers != 0), 'c-red': (item.correctAnswers == 0) }">{{item.correctAnswers}}</span>  </td>
               <td>{{item.maxScore}}</td>
               <td>{{item.actualScore | setDecimal:2}}</td>
               <td>{{item.per | setDecimal:2}} % </td>
               
            </tr>

            <tr style="font-weight: bold; background-color: var(--greyLight)">
               <td colspan="2">Overall Performance</td>
               <td>{{vm.dataList.queTotal}}</td>
               <td>{{vm.dataList.maxTotal}}</td>
               <td>{{vm.dataList.total | setDecimal:2}}</td>
               <td>{{vm.dataList.overAllPer | setDecimal:2}} % </td>
            </tr>
         </tbody>
      </table>


      

   </div>
   <!-- end col right-->
</section>